<!-- templates/registration/confirmation_sent.html -->
{% extends 'main/base_webpack.html' %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center mt-3">
  <div>
  <h2>Verify your email address, please</h2>
    <p>We have sent an email to you for verification. Follow the link provided to finalize the registration process. If you do not receive it within a few minutes, please check spam and/or 'junk' folders, and if not there, do <a data-whg-modal="/contact_modal/">contact us</a>.</p>
  </div>
  </div>
</div>
{% endblock %}