# private local, untracked files
_local/

node_modules/
cache/
sitemap_cache/

CDNfallbacks/

datasets/static/_older/
static/_older/

#
media/scratch/
media/user*
media/downloads/*

# in production these will be ignored
media/resources/
media/collections/
media/datasets/
data/migration/

# Ignore all files and directories within main/management/
#main/management/**
# Except for main/management/commands/fix_dataset_temporality.py
#!main/management/commands/fix_dataset_temporality.py
# Except for main/management/commands/clear_mapdata_cache.py
#!main/management/commands/clear_mapdata_cache.py

elastic/fetch_close_matches.py

# Mac OS files
**/.DS_Store

sent_emails/

**/.DS_Store
.python-version

branches
nohup.out
dump.rdb
req-tree.txt
es-*.*

pseudo*.*
*/pseudo*.*

# Wing IDE
*.wp*

# VS Code
whg.code-workspace
.idea/
.vscode/
init_shell.py

# PyCharm
.run/

### Django ###
local_settings.py
local_settings_public.py
docker-compose-altnet.yml

### Private Environment Variables ###
#.env/*

# Ignore all files in the .env directory
.env/*
!.env/load_env.py
# Except this .gitignore file
!.env/.gitignore
# Except the .gitkeep placeholder file
!.env/.gitkeep


/static
whg/logs/debug.log
whg/debug.log
!whg/logs/

*.pot
*.pyc
__pycache__/
whg/__pycache__/
db.sqlite3
/cache

### Eclipse Project ###
.settings/org.eclipse.wst.jsdt.ui.superType.name
.project
.pydevproject
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container

### Local Docker Network ###
celerybeat-schedule
dbeaver-data/
whg/media/.DS_Store
whg/media/.DS_Store
whg/media/collections/.DS_Store
whg/media/.DS_Store
node_modules/

# Ignore Webpack generated files
whg/static/webpack/

package-lock.json
/.ssh
data/ca-cert.pem
/whg/authorisation
/whg/logs
server-admin/env_template.py
whg/local_settings_autocontext.py
docker-compose-autocontext.yml
compose/pg_hba.conf
whg/local_settings.py.bak
whg_credentials.zip

datasets/static/files/lugares_13k.jsonld
datasets/static/files/lugares_20.jsonld
datasets/static/files/nativelands2031.jsonld
datasets/static/files/newLibyaData3.csv
datasets/static/files/provinces_1911.tsv

/validation/test_data
validation/test_data/Cyprus Settlements.xlsx
.idea/misc.xml
package-lock.json
.idea/misc.xml
/remote_datasets_cache

# Ignore Kubernetes secrets file
server-configuration/secrets.yaml
