version: '2.19'

networks:
  WHG3:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

services:

  web:
    networks:
      - WHG3
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile-django.prod
      args:
        - WHGADMIN_PASSWORD
    image: whg3_web
    command: /start
    container_name: web
    volumes:
      - .:/app
      - /home/whgadmin/sites/whgv3/media:/app/media
      - /home/whgadmin/sites/whgv3/static:/app/static
      - /home/whgadmin/sites/data_dumps:/app/data_dumps
      - /home/whgadmin/sites/whgv3/cache:/app/cache
    env_file:
      - ./.env/.prod-whg3
    ports:
      - 8001:8003
    user: "1000:1000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - db
      # - livereload

  webpack:
    networks:
      - WHG3
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./compose/local/webpack/Dockerfile-webpack
    image: whg3_webpack
    container_name: webpack
    volumes:
      - .:/app

  db:
    networks:
      - WHG3
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile-postgres.prod
    container_name: postgres
    volumes:
      - dev-db-data:/var/lib/postgresql/data
      - ./data:/app/data
    env_file:
      - ./.env/.prod-whg3
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust  # Allow all connections without password authentication
      DB_NAME: whgv3
    ports:
      - 127.0.0.1:5433:5432

  db_beta:
    networks:
      - WHG3
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile-postgres.prod
    container_name: postgres_beta
    command: -c config_file=/etc/postgresql.conf
    volumes:
      - ./compose/production/postgres/postgresql-wal.conf:/etc/postgresql.conf
      - ./compose/production/postgres/pg_hba.conf:/etc/postgresql/pg_hba.conf
      - ./whg/authorisation/whg-backup-430708-e33f94999eab.json:/etc/wal-g/gcs-credentials.json
      - beta-db-data:/var/lib/postgresql/data
      - ./data:/app/data
    env_file:
      - ./.env/.prod-whg3
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      DB_NAME: whgv3beta
    ports:
      - 127.0.0.1:5434:5432

  redis:
    networks:
      - WHG3
    platform: linux/amd64
    image: redis:bullseye
    container_name: redis
    ports: [6380:6379]

  celery_worker:
    image: whg3_web
    command: /start-celeryworker
    container_name: celery_worker
    networks:
      - WHG3
    volumes:
      - .:/app
    env_file:
      - ./.env/.prod-whg3
    depends_on:
      - redis
      - db

  celery_beat:
    image: whg3_web
    command: /start-celerybeat
    container_name: celery_beat
    networks:
      - WHG3
    volumes:
      - .:/app
    env_file:
      - ./.env/.prod-whg3
    depends_on:
      - redis
      - db

  flower:
    image: whg3_web
    command: /start-flower
    container_name: flower
    networks:
      - WHG3
    volumes:
      - .:/app
    env_file:
      - ./.env/.prod-whg3
    ports:
      - 5557:5555
    depends_on:
      - redis
      - db

volumes:
  app:
  dev-db-data:
  beta-db-data:
  data_dumps_volume:
