version: '2.19'

networks:
  WHG3:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

services:

  web:
    networks:
      - WHG3
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile-django.prod
      args:
        - WHGADMIN_PASSWORD
    image: whg3_web:latest
    command: /start
    container_name: web
    volumes:
      - .:/app
      - /home/whgadmin/sites/whgv3/media:/app/media
      - /home/whgadmin/sites/whgv3/static:/app/static
      - /home/whgadmin/sites/data_dumps:/app/data_dumps
      - /home/whgadmin/sites/whgv3/cache:/app/cache
    env_file:
      - ./.env/.prod-whg3
    ports:
      - 8001:8003
    user: "1000:1000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - db_beta
    restart: unless-stopped
    ### SHOULD CONSIDER IMPLEMENTING THE FOLLOWING
#     deploy:
#       replicas: 3
#       resources:
#         limits:
#           memory: 500M
#           cpus: "0.5"
#       placement:
#         constraints:
#           - node.role == manager

#   db:
#     networks:
#       - WHG3
#     platform: linux/amd64
#     image: postgis/postgis:15-3.4
#     container_name: postgres
#     volumes:
#       - /home/whgadmin/databases/v2:/var/lib/postgresql/data
#     env_file:
#       - ./.env/.prod-whg3
#     environment:
#       POSTGRES_HOST_AUTH_METHOD: trust # SHOULD BE RECONFIGURED FOR PRODUCTION ENVIRONMENT
#       DB_NAME: whgv3
#     ports:
#       - 127.0.0.1:5433:5432
#     restart: unless-stopped
#     ### SHOULD CONSIDER IMPLEMENTING THE FOLLOWING
# #     deploy:
# #       replicas: 1
# #       resources:
# #         limits:
# #           memory: 1G
# #           cpus: "1.0"

  db_beta:
    networks:
      - WHG3
    platform: linux/amd64
    image: postgis/postgis:15-3.4
    container_name: postgres_beta
    volumes:
      - /home/whgadmin/databases/v3:/var/lib/postgresql/data
    env_file:
      - ./.env/.prod-whg3
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust # SHOULD BE RECONFIGURED FOR PRODUCTION ENVIRONMENT
      DB_NAME: whgv3beta
    ports:
      - 127.0.0.1:5434:5432
    restart: unless-stopped
    ### SHOULD CONSIDER IMPLEMENTING THE FOLLOWING
#     deploy:
#       replicas: 2
#       resources:
#         limits:
#           memory: 1G
#           cpus: "1.0"

  redis:
    networks:
      - WHG3
    platform: linux/amd64
    image: redis:bullseye
    container_name: redis
    ports: [6380:6379]
    restart: unless-stopped

  celery_worker:
    image: whg3_web
    command: /start-celeryworker
    container_name: celery_worker
    networks:
      - WHG3
    volumes:
      - .:/app
    env_file:
      - ./.env/.prod-whg3
    depends_on:
      - redis
      - db_beta
    restart: unless-stopped

  celery_beat:
    image: whg3_web
    command: /start-celerybeat
    container_name: celery_beat
    networks:
      - WHG3
    volumes:
      - .:/app
    env_file:
      - ./.env/.prod-whg3
    depends_on:
      - redis
      - db_beta
    restart: unless-stopped

  flower:
    image: whg3_web
    command: /start-flower
    container_name: flower
    networks:
      - WHG3
    volumes:
      - .:/app
    env_file:
      - ./.env/.prod-whg3
    ports:
      - 5557:5555
    depends_on:
      - redis
      - db_beta
    restart: unless-stopped
