beautifulsoup4==4.11.2
bs4==0.0.1
celery==5.2.7
chardet==3.0.4
charset-normalizer==2.1.1
datasets
deepdiff==6.2.1
Django==4.1.7
django-bootstrap-modal-forms==1.4.1
django-celery-beat==2.4.0
django-celery-results==2.5.0
django-guardian==2.3.0
django-mathfilters==0.4.0
django-multiselectfield==0.1.12
django-recaptcha==4.0.0
django-resized==0.3.11
django-simple-captcha==0.5.13
django-tinymce==3.3.0
djangorestframework==3.14.0
djangorestframework-datatables==0.7.0
djangorestframework-gis==1.0
drf-spectacular==0.24.1
edtf==4.0.1
elasticsearch8==8.9.0
frictionless==3.31.0
fsspec==2024.6.1
geojson==2.5.0
geopy==2.4.1
goodtables==2.5.4
gunicorn==21.2.0
ijson==3.3.0
Jinja2==3.1.4
jsonlines==3.1.0
jsonschema==4.23.0
networkx==3.2.1
numpy==1.24.1
openpyxl==3.0.9
pandas==1.4.1
parameterized==0.7.4
Pillow==10.4.0
PyLD==2.0.4
psycopg2-binary==2.9.5
python-dateutil==2.8.2
python-dotenv~=1.0.1
pytz==2022.7
pyvespa==0.49.0
redis==4.5.2
Requests>=2.31
scikit-learn==1.5.2
sendgrid==6.11.0
Shapely==2.0.6
simplejson==3.18.1
slack-sdk==3.32.0
validators==0.18.2
