beautifulsoup4==4.11.2
chardet==3.0.4
charset_normalizer==2.1.1
deepdiff==6.2.1
Django==4.1.7
django_bootstrap_modal_forms==1.4.1
django_celery_results==2.5.0
django_multiselectfield==0.1.12
django_recaptcha==4.0.0
django_resized==0.3.11
djangorestframework_gis==1.0
drf_spectacular==0.24.1
edtf==4.0.1
elasticsearch8==8.9.0
frictionless==3.31.0
geopy==2.4.1
goodtables==2.5.4
ijson==3.3.0
Jinja2==3.1.4
jsonlines==3.1.0
jsonschema==4.23.0
networkx==3.2.1
numpy==1.24.1
openpyxl==3.0.9
pandas==1.4.1
parameterized==0.7.4
Pillow==10.4.0
PyLD==2.0.4
python_dateutil==2.8.2
pytz==2022.7
pyvespa==0.49.0
redis==4.5.2
Requests==2.31
scikit_learn==1.5.2
sendgrid==6.11.0
Shapely==2.0.6
simplejson==3.18.1
slack_sdk==3.32.0
validators==0.18.2
