<strong>Formatting Guidelines:</strong>
<ul>
    <li>Separate multiple creators with a semicolon (;).
        <br><small><em>Example: Karl Grossner; Stephen James Gadd</em></small>
    </li>
    <li>You may (optionally) add an ORCiD (Open Researcher and Contributor ID) after a personal name, which will be included in the DOI and citation metadata.
        <br><small><em>Example: Karl Grossner (0000-0002-4066-8297)</em></small>
    </li>
    <li>Enclose organisation names in [square brackets] to indicate they are entities rather than individuals.
        <br><small><em>Example: [University of Pittsburgh]</em></small>
    </li>
</ul>
<strong>Full Example:</strong><br>
<small><em>Ruth Mostern; Karl Grossner (0000-0002-4066-8297); Stephen James Gadd; [University of Pittsburgh]</em></small>
