
@media (min-width: 992px) { /* Large screens and up */
    .full-height-lg {
        height: 100%;
    }
}
@media (max-width: 991.98px) { /* Medium screens and down */
    .full-height-lg {
        height: auto; /* Default height on medium screens and down */
    }
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), url('../../static/webpack/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), url('../../static/webpack/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Italic'), url('../../static/webpack/fonts/Raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold Italic'), url('../../static/webpack/fonts/Raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo Black';
  src: local('Archivo Black'), url('../../static/webpack/fonts/ArchivoBlack/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.raleway {font-family: 'Raleway', sans-serif;}

body {font-family: sans-serif;}
.fonts-loaded body {
  font-family: 'Raleway', sans-serif;
}

#input button.disabledButton {
	opacity: .6;
}
#input button, #clearCountryDropdown, #clearUserAreaDropdown {
    border: 1px solid #ced4da;
}
#input label {
	font-weight: bold;
	background-color: #c4ddec5c;
}
#input #initiate_search {
	background-color: #c3f3c89e;
}
#input #initiate_search:hover {
	background-color: #c3f3c8;
}

.pointer {
	cursor: pointer;
}

.container a {text-decoration: none !important;}

.tooltip-inner {
    background-color: #ececec!important;
    color: black!important;
    text-align: left!important;
    max-width: 200px!important;
    padding: 8px!important;
    border: 1px solid black!important;
}

/*.carousel-item h6 {*/
/*    font-family: 'Raleway Bold', sans-serif;*/
/*    font-size: 1rem;*/
/*    color: #fff;*/
/*}*/