
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), url('../../static/webpack/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), url('../../static/webpack/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Italic'), url('../../static/webpack/fonts/Raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold Italic'), url('../../static/webpack/fonts/Raleway/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo Black';
  src: local('Archivo Black'), url('../../static/webpack/fonts/ArchivoBlack/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.raleway { font-family: 'Raleway', sans-serif; }
