
@media (min-width: 992px) { /* Large screens and up */
	#tagline_responsive {
        margin-top: -1.2rem!important;
	}
    .full-height-lg {
        height: 100%;
    }
}
@media (max-width: 991.98px) { /* Medium screens and down */
    .full-height-lg {
        height: auto; /* Default height on medium screens and down */
    }
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), url('../../static/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), url('../../static/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Italic'), url('../../static/fonts/Raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold Italic'), url('../../static/fonts/Raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo Black';
  src: local('Archivo Black'), url('../../static/fonts/ArchivoBlack/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.raleway {font-family: 'Raleway', sans-serif;}

html, body {
    height: 100%;
    margin: 0;
}

body {
	font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: .8rem;
    opacity: .6;
    width: 100%;
    text-align: center;
    user-select: none;
}

.btn-primary {
    background-color: #daebf1 !important;
    border-color: #ced4da !important;
    color: black !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #aad2df !important;
}

.fonts-loaded body {
  font-family: 'Raleway', sans-serif;
}

.alert.padded {
    padding: 1rem;
}

@keyframes pulse {
  0%   { opacity: 1; }
  50%  { opacity: 0.4; }
  100% { opacity: 1; }
}
.pulsing {
  animation: pulse 1s ease-in-out 3;
}

#input button.disabledButton {
	opacity: .6;
}
#input button, #clearCountryDropdown, #clearUserAreaDropdown {
    border: 1px solid #ced4da;
}
#input label {
	font-weight: bold;
	background-color: #daebf1;
}
#input #initiate_search {
	background-color: #c3f3c89e;
}
#input #initiate_search:hover {
	background-color: #c3f3c8;
}

.blue-box {
    background-color: #eaf3f8;
    padding: 0.5rem;
    border: 1px solid #00408021;
}
.blue-box p {
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.container a {text-decoration: none !important;}

.tooltip-inner {
    background-color: #ececec!important;
    color: black!important;
    text-align: left!important;
    max-width: 200px!important;
    padding: 8px!important;
    border: 1px solid black!important;
}

/*.carousel-item h6 {*/
/*    font-family: 'Raleway Bold', sans-serif;*/
/*    font-size: 1rem;*/
/*    color: #fff;*/
/*}*/