.badge {
  letter-spacing: 1px;
}
.badge-completed {
  background-color: #0a5eb0;
  color: white;
  opacity: 0.5;
}
.badge-current {
  background-color: #0a5eb0;
  color: white;
}
.badge-future {
  background-color: gainsboro;
  color: black;
}
.form-switch {
  padding-left: 2.5rem !important;
}
#ds_status_guide p {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
#ds_status_blurb {
  outline: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
}
