body {
    font-family: Raleway, san-serif;
}
.fileinput {
    font-size: small;
}

.textarea {
    width: 100%;
}

label {
    font-weight: bold;
}

#linkform_popup {
    position: absolute;
    background-color: #ededed;
    border: 1px solid #bbb;
    box-shadow: #ededed 2px 2px;
    border-radius: 6px;
    padding: 8px 5px;
    height: 150px;
    width: 260px;
    top: 265px;
    left: 370px;
    z-index: 1000;
    display: none;
}

.coll-col {
    border-right: 1px dashed lightgray;
}

#coll_place_detail {
    border-bottom: dashed 1px grey;
    padding-bottom: 0.3rem;
}

#coll_place_detail {
    min-height: 80px;
}

#coll_place_detail p {
    margin-bottom: 0;
}

#anno_div table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#anno_div input {
    height: 1.5rem;
    font-size: 0.8rem;
}

.form-group {
    margin-bottom: 4px !important;
}

.form-group label {
    margin-bottom: 0 !important;
}

.form-group input[type="text"], .form-group textarea {
    width: 70%;
}

.col-place-card {
    border: #c3c3c3 1px dashed;
    margin-bottom: 3px;
    background-color: #fafafa;
    padding-left: 2px;
    cursor: pointer;
}

.card-highlight {
    border: 1px solid #993333;
    background-color: lightyellow;
}

#coll_placelist,
#coll_dslist {
    padding: 3px;
    max-height: 100%;
    min-height: auto;
    overflow-y: auto;
}

#builder_content {
    height: 92%;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

#coll_tabs {
    background-color: #fdf5e6;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-radius: 8px 8px 0 0;
}

.custom-button {
    background-color: #dcdcdc;
    color: #333;
    line-height: 1rem;
    font-size: small;
}

#linkform_table tr td {
    padding: 3px;
}

#status_info {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 3px;
}

#status_info h5 {
    padding: 2px;
    margin-bottom: 0;
    background-color: beige;
}
#getting_started,
#vis_options {
    padding: 0.5rem;
    border: 1px solid #efefef;
    border-radius: 3px;
}

#image_selector .thumbnail {
    max-width: 30%;
    margin: 0.5rem 0 0 0.75rem;
}

#image_selector a.small {
    word-wrap: break-word;
}

#image_selector label {
    display: inline;
}
