/* docs.css  (for documntation.html) */
body {
  overflow-x: hidden;
}
.bg-light {
  background-color: #f8f9fa!important;
}
.nav-pills .nav-link {
  color: #555;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #007bff;
}
