
#essay_modal {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.2rem;}
#map {height: 400px;}
.input-group {
    margin: .5rem 0;
    width: 100%;
}
#sortDropdown {
    margin: .5rem 0;
    top: 2px;
    position: relative;
}
#reverseSortCheckbox {
    position: relative;
    top: 3px;
}
.gallery-banner-dataset {border-bottom: 1px solid lightgray;
	background-color:#53A1DA; color: white;}
.ds-gallery {padding-right: 6px;}
.ds-card-gallery {
	border: 1px gainsboro dashed;
	height: 260px;
	padding: .5rem;
	overflow-y:auto;
	box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.5);
	margin-bottom: .5rem;
}
.ds-card-gallery img {margin-left: 2px;}
.ds-card-gallery:hover {cursor: pointer; opacity:0.8;}
.ds-card-content {font-size: .9rem;}
.ds-card-title {font-size: 1rem;}
.ds-card-owner, .ds-card-creator {font-size: .9rem; font-variant: small-caps; color: #993333;}
.ds-card-blurb {line-height: 1rem; font-size: small;}
select.form-select {width: 100%;}
span.select2-container {/* line-height: 1.2rem; */}
span.select2-selection {
/* 	overflow-x: clip;
	overflow-y: scroll;
    max-height: 50px; */
}
#galleryTabs li:first-of-type {
    margin-right: auto;
}
#collections-tab {
	display: flex;
}

.checkbox-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 0 0 9px;
    margin: -3px 2px 0 6px;
    background-color: #f1f1f1;
}

.checkbox-label {
    font-size: 12px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.checkbox-label input {
    position: relative;
    top: 1px;
    left: -2px;
}

#page_controls {
	display: flex;
}
#page_controls select{
	position: relative;
    top: 3px;
    height: 20px;
    border: 2px solid #2f932d;
    border-radius: 4px;
    font-size: .8rem;
}
#page_controls button {
	border: none!important;
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: 26px;
    display: block;
    height: 26px;
    width: 34px;
    color: black;
}

#page_controls button:disabled, #page_controls select:disabled {
	opacity: .5;
}
