.homemain.row {
    display: flex;
    flex-wrap: wrap;
}

/* Match heights for columns only on medium+ screens */
@media (min-width: 768px) {
    #left_column, #right_column {
        display: flex;
        flex-direction: column;
    }

    #whgAccordion {
        flex-shrink: 0;
    }

    #news_announcement_wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: 300px; /* You can adjust this */
        overflow: hidden; /* Prevent the wrapper from expanding too much */
    }

    #announcement-container {
        overflow-y: auto;
        flex-grow: 1;
        padding: 0.5rem;
        border-top: 1px solid #eee;
    }

    .announcement {
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .announcement:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    #right_column .map_container {
        flex-grow: 1;
        min-height: 400px; /* Set your minimum height */
    }

    /* Optional: ensure map fills its container */
    #map {
        flex-grow: 1;
        min-height: 400px;
    }
}

.maplibregl-map {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 4px;
    transition: opacity 2s ease;
    min-height: 400px;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl-attrib:not(.fade-in) {
    display: none;
}

.maplibregl-ctrl-attrib {
    opacity: 0;
    transition: opacity 1s ease;
}

#controlWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#controlWrapper > div {
    flex: 0 1 auto;
}

#controlWrapper .maplibregl-control-container {
    height: 100%
}

#controlWrapper .home-carousel {
    z-index: 99;
    background-color: #ffffff;
    margin: 0.25rem !important;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid lightgrey;
    border-radius: 4px;
}

#controlWrapper .maplibregl-ctrl-bottom-left, #controlWrapper .maplibregl-ctrl-bottom-right {
    bottom: 118px;
}

#datasetsCarousel {
    height: 140px;
}

.fade-in {
    opacity: 1;
}

a[href="https://www.maptiler.com/"], a[href="https://maplibre.org/"] {
    /* Hide obtrusive logo" */
    display: none !important;
}

#banner {
    width: 100%;
    height: 15vh;
    min-height: 60px;
}

#intro {
    font-size: 0.9rem;
    min-height: 360px;
}

#home_left p {
    font-size: 0.9rem !important;
    line-height: 1.4rem;
}

.home-button {
    position: relative;
    font-family: "Archivo Black", sans-serif;
    border-radius: 6px; /* Add rounded corners */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.home-button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Increase box shadow on hover */
    transform: scale(1.01); /* Slightly increase size on hover */
}

.news-header {
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    /*font-size: 1rem;*/
    /*letter-spacing: 0.5px;*/
}

.announcement.constrained {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#announcement-container {
    overflow-y: auto;
}

#announcement-container .announcement {
    border-bottom: 1px solid #ddd;
    padding: 0.25rem 0;
}

/*.home-button {*/
/*    position: relative;*/
/*    font-family: "Archivo Black", sans-serif;*/
/*}*/
.home-button h5 {
    font-size: 1.1rem !important;
}

.ds-header {
    background-color: #ececec;
    /*color: grey;*/
    margin-bottom: .2rem !important;
    font-size: 0.9rem;
}

.coll-header {
    background-color: #54a1da;
    color: #fff;
    font-size: 0.9rem;
}

.map-container {
    position: relative;
    flex-grow: 1;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

#search_map {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 206px;
}

#advanced_search {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 210px;
    display: none;
    padding-top: 30px;
    padding-bottom: 0.5rem;
}

.advanced-search-link {
    font-size: 0.8rem;
    position: absolute;
    top: 10px;
    left: 220px;
    background-color: #fff;
    z-index: 1000;
    opacity: 75%;
    border-radius: 4px;
}

.advanced-search-link a {
    color: #336699 !important;
}

.categories {
    font-variant: small-caps;
    font-size: 0.8rem;
    color: #993333;
}

#adv_checkboxes p {
    font-size: 0.8rem;
    margin: 0;
}

#adv_checkboxes label {
    margin-left: 2px;
}

#input_area {
    width: 95%;
    font-size: 0.9rem;
    margin-left: 2px;
}

.carousel-container {
    flex-grow: 1;
    /*min-height: 180px;*/
    height: 120px;
}

.carousel-inner, .carousel-item {
    height: 100%;
}

.carousel-item {
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    padding-bottom: 14px;
    pointer-events: none;
}

.highlight-carousel {
    border-color: red !important;
}

.carousel-item p {
    font-size: 0.8rem;
    padding-right: 0.5rem;
}

.carousel-item h6 {
    margin-bottom: 0;
}

.carousel button {
    position: absolute;
    width: 20px;
    background-color: silver;
    opacity: 40%;
    bottom: auto !important;
}

#datasetsCarousel button {
    top: 30%;
}

#collectionsCarousel button {
    top: 50px;
}

.image-div {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.image-div:hover {
    border-color: #993333 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Archivo Black", sans-serif;
    color: #993333;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .hide-on-narrow {
        display: none;
    }
}