#mapOverlays p, td {
  font-family: Raleway, san-serif !important;
  font-size: 0.85rem;
}

#ds_info {
  /*height: fit-content!important;*/
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content !important;
}
#time_control {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  margin-top: auto;
}
#coll_detail {
  display:inline;
  /*display:flex;*/
  border-top: 1px solid lightgray;

}

#ds_info.info-collapsed .info-collapse, #ds_info:not(.info-collapsed) .info-expand {
	display: none;
}
.pub-intro {
  padding-bottom: 0.5rem;
}
.pub-title {
  font-size: 1.2rem;
  font-family: Raleway, san-serif;
}

#placetable_wrapper .row:nth-child(2) > div {
    padding-right: 1px;	
}

#placetable_filter input {
    margin: 3px !important;
}

#ds_table {
	padding: 0;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 0;
}
#detail {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  	font-size: 0.8rem;
  	z-index: 10;
}

/* CSS for very narrow screens (up to 575px) */
@media (max-width: 575px) {
	#map {
		height: 400px;
	}
	#detail {
		flex-basis: unset;
	  	height: auto;
	}
	.overlay {
		display: block!important;
	}
	.color-key-table {
	    left: 0.5rem;
        top: 50px;
	}
}

/* CSS for wider screens (576px and above) */
@media (min-width: 576px) {
	#map {
		height: 100%;
	}
	#mapControls.item {
	    margin-right: -2px;
	}
	#detail {
  		height: 30% !important;
	}
}

.pub-anno-title {
  font-size: large;
}
#actions {
  padding-top: 0.2rem;
}

#addtocoll_popup {
  font-size: 0.8rem;
  position: absolute;
  top: 16px;
  right: 130px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #336699;
  border-radius: 8px;
  z-index: 10000;
  box-shadow: 3px 3px #c3c3c3;
}

#dataset_tabs {
	position: relative;
}

#selection_status {
  /*position: absolute;*/
  /*top: 10px;*/
  /*right: 10px;*/
  display: none;
}

.dataTables_scroll {
  border-right: 1px solid gainsboro;
}

#dataset_content {
  position: relative; 
  display: flex;
  flex: auto;
}

#detail p {
  margin-bottom: 0.2rem;
}

.title {
  font-weight: bold;
  color: #021691; /* darkblue - NOTE: WAS #993333 FOR DS_COLLECTION_NEW & DS_COLLECTION_BROWSE_NEW */
}

#collapseExpand, #toggleIcon { /* ARE THESE THE SAME THING BY DIFFERENT IDs? */
  cursor: pointer;
  color: #336699;
}

.img-dscoll {
  max-width: 80%;
  max-height: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 40%;
  right: 40%;
  transform: translate(50%, -50%);
}

.paginate_button {
  padding: 0 !important;
}

.dataTables_filter {
  float: left !important;
  text-align: left !important;
}

.dataTables_filter input {
  margin: 0 2px;
}

.addtocoll {
  background-color: aliceblue;
}

/* padding to the left side of the second column */
td:nth-child(2) {
  padding-left: 10px;
}

/* bold first column */
td:first-child {
  font-weight: bold;
}
