.maplibregl-map {
    position: relative;
    background-color: lightblue;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 4px;
    transition: opacity 2s ease;
}

.maplibregl-ctrl-attrib {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in {
    opacity: 1;
}

.download-map-button .maplibregl-ctrl-icon {
	background: url(../images/camera.svg);
	background-size: 26px;
}

.maplibregl-map:not(:fullscreen) .maplibregl-ctrl-download {
	display: none!important;
}

/* Styling for the attribution text */
.attribution-text {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
}

#injunctionText {
	font-weight: bold;
}

#map-download-dialog button {
  margin: 5px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  color: #fff;
}

/* Styling for the copy attribution button */
#copy-attribution {
  background-color: #007BFF;
}

/* Styling for the download button */
#download {
  background-color: #28A745;
  margin-right: 5px!important;
}

/* Styling for the cancel button */
#cancel {
  background-color: #dc3545;
  float: left!important;
}

/* Styling for the modal overlay */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
}

#map-render-container {
	position: 'absolute';
	top: 0;
	left: 0;
	z-index: -1
}
