#map {
    background-color: #eaffea;
    height: 80vh;
}
#info {
    background-color: #a8dadc;
    border: 1px solid #aaa;
    height: 98%;
}
#sources,
#source_detail,
#graph_viz {
    padding: 10px;
    border: 1px solid #aaa;
}
#histogram {
    top: 6px;
    width: 100%;
}

.info-box {
    margin-bottom: 0.2rem;
}
.source-box {
    background-color: white;
    border: 1px gainsboro solid;
    margin: 0.1rem;
    padding: 0.1rem;
}

#temporal-attestations {
	height: 105px!important;
	overflow: hidden;
}

#time_control {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  margin-top: auto;
}

li.showing {
	background-color: rgba(255, 165, 0, .2);
	padding: 7px;
}

li.showing span:not(.showing) {
	display: none;
}

li:not(.showing) span.showing {
	display: none;
}