#search_bar .input-group {
	max-width: 630px;
}

#input {
	padding-left: 0;
}
#search_mode {
	max-width: 132px;
}
@keyframes flash {
    0%, 50%, 100% {
        border-color: #ced4da;
    }
    25%, 75% {
        border-color: red;
    }
}
#initiate_search.flashing {
    animation: flash 2s infinite;
}
#input span.twitter-typeahead {
	flex: 1 1 auto;
}
#input span.twitter-typeahead input {
	border-radius: 0; /* Override typeahead default */
}
#input #clear_search, #spatial_selector .clearButton {
	background-color: #e6e5b69e;
	border-color: #ced4da;
}
#input #clear_search:hover, #spatial_selector .clearButton:hover {
	background-color: #e6e5b6;
}
#categorySelector {
	max-width: 112px;
    color: #777;
}
#spatial_selector span.select2-selection {
    border-radius: 0 !important;
}

#map {
    border: 1px gainsboro solid;
    min-height: 400px;
}

#search_info {
    font-size: 0.9rem;
    min-height: 25%;
    max-height: 50%;
    border: 1px gainsboro solid;
    border-radius: 8px;
}
.search_info-header {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    background-color: antiquewhite;
}

/*#search_content #search_results {*/
#search_content {
}
#search_content.no-filtered-results #search_results, 
#search_content.no-results #search_results, 
#search_content.no-results #result_facets {
	display: none;
}

#search_content #no_results, #search_content #initial_results, #search_content #no_filtered_results {
	display: none;
	height: fit-content;
}
#search_content.no-filtered-results:not(.initial):not(.no-results) #no_filtered_results, 
#search_content.no-results:not(.initial) #no_results, 
#search_content.initial #initial_results 
{
	display: block;
}

.whg-result {
  /*background-color: #f0f7f9;*/
}

.pub-result {
  background-color: #ebf8eb;
}

.result-type {
  margin-left: 10px;
  font-size: 0.8em;
  color: grey;
}

.accordion-header {
    /*background-color: lightgreen;*/
    background-color: aliceblue;
}

.accordion-button {
    display: block !important;
}

.accordion-toggle-indicator {
    color: cadetblue;
}

.accordion-collapse .float-end {
    z-index: 99;
    position: relative;
}

.accordion-collapse .me-1 {
	font-size: 0.8rem;
}

#result_container {
    max-height: 40vh;
    overflow-y: auto;
}
#result_container p { font-size: small;}

.result {
    border: 1px solid #ccc;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: gainsboro;
    margin-bottom: 0.3rem;
}

.result::after { /* clearfix */
	content: "";
	display: table;
	clear: both;
}

.result > span {
    float: left;
    width: 100%;
}

.result h5 {
    margin: 0 0 10px;
    padding: 0;
}

.result p {
	margin: 0.1rem;
    font-size: 0.8rem;
    float: left;
    padding: 0.1rem 0.2rem;
    border: 1px solid #eee;
    border-radius: 5px;
}
.result:hover {
    background-color: #fffff2;
    cursor: pointer;
}

.result.selected {
    border: 1px solid #c38c8c;
    box-shadow: gainsboro 2px 2px 2px;
    background-color: #fffff2;
}

#detail p {
    margin: 0.2rem 0 0 0;
}
.categories {
    font-variant: small-caps;
    font-size: 0.9rem;
    color: #993333;
}

#adv_checkboxes p, #result_facets p {
    font-size: 0.8rem;
    margin: 0;
    top: 6px;
    position: relative;
}

#adv_checkboxes label, #result_facets label {
    margin-left: 2px;
    top: -4px;
    position: relative;
    cursor: pointer;
}

#adv_checkboxes input, #result_facets input {
    cursor: pointer;
}

/* #result_facets label {
    font-size: 0.8rem;
    margin-left: 0.3rem;
} */

/* #type_checkboxes p {
    margin-bottom: 0 !important;
    font-weight: bold;
}

#country_checkboxes p {
    margin-bottom: 0 !important;
    font-weight: bold;
} */

.select2-container {
	max-width: 230px;
}

span.select2-selection {
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.select2-search__field {
    left: 8px;
    top: 2px;
    position: relative;
}
