.maplibregl-map {
    width: 100%;
    height: 100%;
}

.container-md {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px); /* Adjust the subtraction value as needed */
}

#search_bar {
    /*background-color: antiquewhite;*/
    /*border-radius: 8px;*/
}

#search_content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
/*#search_left {*/
/*  z-index:500;*/
/*  margin:0; padding:5px;*/
/*  border: 1px solid #ddd;*/
/*  border-radius: 8px;*/
/*  height: fit-content;*/
/*}*/
#search_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin:0; padding:5px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
#search_right {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#search_right_top {
    min-height: 45%;
}

#map {
    border: 1px gainsboro solid;
}

#search_info {
    font-size: 0.9rem;
    min-height: 25%;
    max-height: 50%;
    border: 1px gainsboro solid;
    border-radius: 8px;
}
.search_info-header {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    background-color: antiquewhite;
}
#search_results {
    border: 1px gainsboro solid;
    height: fit-content;
    /*overflow-y: scroll;*/
}
.whg-result {
  background-color: #f0f7f9;
}

.pub-result {
  background-color: #ebf8eb;
}

.result-type {
  margin-left: 10px;
  font-size: 0.8em;
  color: grey;
}

.accordion-header {
    /*background-color: lightgreen;*/
    background-color: aliceblue;
}

.accordion-button {
    display: block !important;
}

.accordion-toggle-indicator {
    color: cadetblue;
}

#result_container {
    height: 200px;
    overflow-y: auto;
    flex-grow: 1;
}

.result {
    border: 1px solid #ccc;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: gainsboro;
    margin-bottom: 0.3rem;
    /*max-height: 120px;*/
    /*overflow-y: scroll;*/
}

.result h5 {
    margin: 0 0 10px;
    padding: 0;
}

.result p {
    margin: 0.1rem 0;
    font-size: 0.8rem;
}
.result:hover {
    background-color: lightyellow;
    cursor: pointer;
}

.result.selected {
    border: 1px solid #bbb;
    font-weight: bold;
    box-shadow: gainsboro 2px 2px 2px;
    /*border: 1px solid #9d9d9d;*/
    /*background-color: lightyellow;*/
}

#detail p {
    margin: 0.2rem 0 0 0;
}
.categories {
    font-variant: small-caps;
    font-size: 0.9rem;
    color: #993333;
}

#adv_checkboxes p {
    font-size: 0.8rem;
    margin: 0;
}

#adv_checkboxes label {
    margin-left: 2px;
}

#result_facets label {
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

#type_checkboxes p {
    margin-bottom: 0 !important;
    font-weight: bold;
}

#country_checkboxes p {
    margin-bottom: 0 !important;
    font-weight: bold;
}

span.select2-selection {
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.select2-search__field {
    left: 8px;
    top: 2px;
    position: relative;
}
.clear-button {
    border: 1px solid #ced4da !important;
}
