.maplibregl-map {
    width: 100%;
    height: 100%;
}

.container-md {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 65px); /* Adjust the subtraction value as needed */
}

#search_bar {
    /*background-color: antiquewhite;*/
    /*border-radius: 8px;*/
}

#search_content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
#search_left {
  z-index:500;
  margin:0; padding:5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: fit-content;
}

#search_right {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#search_right_top {
    min-height: 45%;
}

#map {
    border: 1px gainsboro solid;
}

#detail_box {
    background-color: antiquewhite;
    font-size: 0.9rem;
}

#search_results {
    border: 1px gainsboro solid;
}

.accordion-header {
    background-color: aliceblue;
}

.accordion-button {
    display: block !important;
}

.accordion-toggle-indicator {
    color: cadetblue;
}

#result_container {
    height: 200px;
    overflow-y: auto;
    flex-grow: 1;
}

.result {
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: gainsboro;
    margin-bottom: 0.3rem;
}

.result h5 {
    margin: 0 0 10px;
    padding: 0;
}

.result p {
    margin: 0.3rem 0;
}
.result:hover {
    background-color: #f0f0f0; /* Adjust hover color as needed */
    cursor: pointer;
}

.result.selected {
    background-color: #e0e0e0; /* Adjust selected color as needed */
}

#detail p {
    margin: 0.2rem 0 0 0;
}
.categories {
    font-variant: small-caps;
    font-size: 0.9rem;
    color: #993333;
}

#adv_checkboxes p {
    font-size: 0.8rem;
    margin: 0;
}

#adv_checkboxes label {
    margin-left: 2px;
}

#result_facets label {
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

#type_checkboxes p {
    margin-bottom: 0 !important;
    font-weight: bold;
}

#country_checkboxes p {
    margin-bottom: 0 !important;
    font-weight: bold;
}
