/* /whg/webpack/css/style-control.css */

.maplibregl-ctrl.opaque {
    background-color: rgba(255, 255, 255, .7);	
}

.style-button {
	padding: 4px!important;
	float: right;
}

.style-button .maplibregl-ctrl-icon {
	background: url(../images/style-switcher.svg);
	background-size: contain;
}

/* Reset the default list styles */
.maplibre-styles-list,
.maplibre-styles-list ul,
.maplibre-styles-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style for the group names */
.group-item {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Style for the variant options */
.variant-item {
  cursor: pointer;
  margin-bottom: 4px;
  margin-left: -13px!important;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-weight: normal;
  padding: 0 6px 0 12px !important;
}

.variant-item-label {
  margin: -2px 0 -2px 2px;
  color: var(--bs-body-color);
}

/* Style for the selected variant option */
.variant-item.selected {
  background-color: #007bff; /* Customize the background color for the selected style */
  color: white; /* Customize the text color for the selected style */
}

/* Add hover styles for the variant options */
.variant-item:hover {
  background-color: #dcdcdc; /* Customize the background color on hover */
}

.style-list-divider {
	margin: 5px 0;
}

.hillshade-label, .layer-label {
	margin: -5px 0 0 2px;
	font-weight: normal;
  	color: var(--bs-body-color);
}

/* Style for the scrollable list */
.maplibregl-ctrl #mapStyleList {
  display: none;
  overflow-y: scroll;
  max-height: 150px;
  border: 1px solid #ccc; /* Add a border around the list */
  border-radius: 4px;
  padding: 4px;
  margin: 3px;
  user-select: none;
}

#mapStyleList.show {
    display: block;
}

/* Remove the default scrollbar style for webkit browsers */
#mapStyleList::-webkit-scrollbar {
  width: 8px;
}

#mapStyleList::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 8px;
}

#mapStyleList::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

#mapStyleList .group-item > input[type="checkbox"] {
    margin: 0 5px;
    top: 2px;
    position: relative;	
}

#nearbyPlacesControl {
	display: none;
}

#update_nearby {
	margin-left: 12px;
    position: relative;
    top: -3px;
    cursor: pointer;
}

#update_nearby > i, #update_nearby > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#update_nearby > i {
    font-size: 1.6em;
    opacity: .4;
    color: black;
}

#update_nearby > span {
    font-size: 1rem;
}
