.maplibregl-map {
    position: relative;
    background-color: lightblue;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 4px;
    transition: opacity 2s ease;
    min-height: 300px;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl-attrib:not(.fade-in) {
    display: none;
}

.maplibregl-ctrl-attrib {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in {
    opacity: 1;
}

a[href="https://www.maptiler.com/"], a[href="https://maplibre.org/"]
{
    /* Hide obtrusive logo" */
    display: none !important;
}

#error_closer {
	padding: 0 .75rem !important;
}