
#tileset-table {
  border-collapse: collapse;
  border: 1px solid #ddd; /* Faint border color */
}

#tileset-table th,
#tileset-table td {
  border: 1px solid #ddd; /* Faint border color */
  padding: 8px;
}

/* Right-align the first column */
#tileset-table tr:not(.row-separator) td:first-child {
  text-align: right;
}

/* Center the third and fourth columns */
#tileset-table td:nth-child(3),
#tileset-table td:nth-child(4) {
  text-align: center;
}

#tileset-table .rotate {
  writing-mode: vertical-rl; /* Vertical writing mode, rotates 90 degrees */
  transform: rotate(180deg); /* Additional rotation for proper orientation */
}

#tileset-table thead tr {
    vertical-align: bottom;
}

#tileset-table .row-separator {
	font-size: 18px;
    background-color: #dc354533;
}

#tileset-table button {
    width: 150px;
}

#tileset-table i.has-tileset.fa-check {
	cursor: pointer;
}
