/* Workbench */

.container {
    border: none;
}
.container-full-height {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    /*border: 1px solid gainsboro;*/
}
.workbench-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#wb_columns {
    display: flex;
    flex-grow: 1;
}
.workbench-column-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to start at the top */
    height: 100%; /* Ensures full height */
}
.path-number {
    font-family: "Archivo Black", sans-serif;
    color: darkseagreen;
    font-size: 2rem;
}
.path-title {
    font-family: "Archivo Black", sans-serif;
    color: darkseagreen;
    font-size: 1.2rem;
}
@media screen and (max-width: 1100px) {
  .hide-on-narrow {
    display: none;
  }
}
mark-g-lite {
  display:block;
}
.quick-start {
    position: absolute;
    top: 170px;
}
@media (max-width: 1100px) {
    .path-number {
        font-size: 1.5rem;
    }
    .path-title {
        font-size: 1rem;
    }
    .quick-start {
        top: 200px;
    }
}

@media (max-width: 750px) {
    .quick-start {
        top: 360px;
    }
}
.content-group { /* Grouping top elements */
    display: flex;
    flex-direction: column;
}
.content-group p {
    font-size: .9rem;
}
.bottom-button {
    margin-top: auto; /* Pushes the button to the bottom */
    margin-bottom: 2rem;
    width: 100%; /* Ensures button takes full width */
}

.builder-list {
  list-style-type: lower-alpha !important;
  font-size: 0.9rem !important;
  padding-left: 1.1rem !important;
  color: slategray;
}
.btn-sm {
  font-family: Raleway, san-serif !important;
  font-weight: normal;
}
.btn-extra-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.675rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  font-family: Raleway, san-serif !important;
  font-weight: normal !important;
}
.banner-icons img {}

ol {
  font-size: .9rem;
}
.content-group p {
  font-size: .9rem;
  padding-left: .2rem;
  margin-bottom: .2rem;

}
.workbench-column-inner {
    position: relative; /* This makes it a positioning context for absolutely positioned children */
}

