{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load static %}
{% block title %}<title>WHG Search</title>{% endblock %}
{% block extra_head %}
<style>
	.result {
	    border: 1px solid #ccc;
	    {#margin: 10px;#}
	    padding: 10px;
	    border-radius: 5px;
	}

	.result h5 {
	    margin: 0 0 10px;
	    padding: 0;
	}
	.result:hover {
	    background-color: #f0f0f0; /* Adjust hover color as needed */
	}

	.result.selected {
	    background-color: #e0e0e0; /* Adjust selected color as needed */
	}

</style>
{% endblock %}

{% block content %}
  <div class="container-md" style="height: calc(100vh - 65px); position: relative;">

	<!-- Search bar at the top -->
  <div id="search-bar" class="bg-light py-2 row position-relative">
    <div id="d_input" class="text-center col-12">
        <span class="float-start fs-4">Search</span>
        <div id="input" class="input-group w-50 mx-auto position-relative"> <!-- Added position-relative -->
            <input type="text" id="search-input" class="form-control" placeholder="Enter place name"
                   aria-label="Search" aria-describedby="search-addon">
            <span class="input-group-text" id="search-addon">
                <a href="#" id="a_search"><i class="fas fa-search"></i></a>
            </span>
            <a href="#" id="advanced-search-toggle" class="small ps-2">Advanced Search</a>
        </div>
    </div>
    <div id="advanced-search" class="text-center col-12 position-absolute w-100"
         style="background-color: #ffffe0; top: 100%;">
        <div>some checkboxes and dropdowns</div>
        <button id="close-advanced-search" class="btn btn-secondary">Close</button>
    </div>
	</div>

    <!-- Main content grid -->
    <div class="row">
      <!-- Left column for facets -->
      <div class="col-2 p-1" style="background-color: #e6e6e6;">
        <div id=result_facets" class="p-3 bg-light">
          <h5>Facets</h5>
        </div>
      </div>

      <!-- Center column for search results -->
      <div class="col-5 p-1" style="background-color: #cccccc;">
        <div id="search_results" class="p-3 bg-light">
          <h5>Search Results</h5>
        </div>
      </div>

      <!-- Right column -->
      <div class="col-5 px-0">

        <!-- Map -->
        <div id="map-container" style="background-color: #999999;">
          <div id=map" class="p-3">
            <label>Map</label>
          </div>
        </div>

        <!-- Detail box -->
        <div id="detail-box" class="p-1" style="background-color: #666666;">
	        <h5 class="text-light">Detail</h5>
          <div id="detail" class="p-3 bg-light">
          </div>
        </div>

      </div>
    </div>

  </div>

  <script type="text/javascript">

		$(document).ready(function() {
			// look for last_results
			const storedResults = localStorage.getItem('last_results');
			const results = storedResults ? JSON.parse(storedResults) : null;

			// render 'em
			if (results) {
			    // Render the results on the page
			    renderResults(results);
			} else {
          console.log('no results')
			}

	    // toggler for advanced search
	    $('#advanced-search').hide();

		  $('#advanced-search-toggle').click(function() {
		    $('#advanced-search').slideToggle(300);
		  });

		  $('#close-advanced-search').click(function() {
		    $('#advanced-search').slideUp(300);
		  });

		  // Extract and parse URL parameters
		  {#const urlParams = new URLSearchParams(window.location.search);#}
		  {#const query = urlParams.get('query');#}
		  {#const filters = JSON.parse(urlParams.get('filters') || "{}");#}

			$("#d_input input").on('keypress', function(event) {
			    if (event.which == 13) {
			        event.preventDefault();
			        initiateSearch(); // Call the initiateSearch function when 'Enter' is pressed
			    }
			});
		}); // ready

    // put these in the right div(s)
	  function renderResults(results){
		    console.log('results here first', results)
			  geoms = []
			  havegeom = 0
		    // Select the search_results div
		    const $resultsDiv = $('#search_results');

		    // Iterate over the results and append HTML for each
			  // hit: [title, whg_id, pid, linkcount, variants, ccodes, fclasses, types, geom]
			  // link to portal: <a href="/places/${result.whg_id}/portal">portal</a>
		    results.forEach(result => {
		        const html = `
		            <div class="result">
		                <h5>${result.title} (${result.linkcount})
											<span class="float-end">
												<a href="JavaScript:alert('not live in dev')">portal ${result.whg_id}</a>
											</span>
										</h5>
		                {#<p>Country Codes: ${result.ccodes.join(', ')}</p>#}
		                {#<p>Feature Classes: ${result.fclasses.join(', ')}</p>#}
		                {#<p>Types: ${result.types.join(', ')}</p>#}
		            </div>
		        `;
		        $resultsDiv.append(html);

		        // search term to search input
				    const lastQuery = localStorage.getItem('last_query');
				    $("#d_input input").val(lastQuery);
						localStorage.removeItem('last_query');

				    if(!!result.geom) {
		          havegeom +=1
		          result.geom.forEach(function(g){
		            g['properties']['title'] = result.title
		            g['properties']['whgid'] = result.whg_id
		            {#g['properties']['whgid'] = (doctype=='place')?sug.whg_id:sug.place_id#}
		            geoms.push(g)
		          })
		        }
		    });
	      $('.result').first().addClass('selected');
			  // send some fields to
			  renderDetail(results[0]);

			  $('.result').click(function() {
	        const index = $(this).index()-1; // Get index of clicked card
				  console.log('card index:', index)
	        renderDetail(results[index]); // Update detail view with clicked result data
			    $('.result').removeClass('selected');
			    $(this).addClass('selected');
	        // Future: Highlight marker on map corresponding to clicked result
	      });

		    // Add hover effect to result cards (Optional)
		    {#$('.result').hover(#}
		    {#    function() { $(this).css('background-color', '#f0f0f0');}, // On mouse enter#}
		    {#    function() { $(this).css('background-color', ''); }          // On mouse leave#}
		    {#);#}
	      console.log('geoms', geoms)
				{#renderPlaces(geoms)#}
	  }

		function initiateSearch() {
				localStorage.removeItem('last_results')
				localStorage.removeItem('last_query')

		    const query = $('#search-input').val(); // Get the query from the input
		    localStorage.setItem('last_query', query); // Store the query in localStorage

		    const options = gatherOptions(); //
				console.log('options', options)
		    // AJAX GET request to SearchView() with the options (includes qstr)
		    $.get("/search/index", options, function(data) {
		        const searchres = data['suggestions']; // Extract results from response
		        localStorage.setItem('last_results', JSON.stringify(searchres)); // Store results in localStorage

		        // Call a function to render the results on the page (implement this as needed)
		        renderResults(searchres);
		    });
		}

		// Set up an event listener for the search button
		{#$("#search-button").on('click', function(event) {#}
		{#    event.preventDefault();#}
		{#    initiateSearch(); // Call the initiateSearch function when the button is clicked#}
		{# });#}
		{##}
		{#// Optional: Set up an event listener for the 'Enter' key within the search input#}
		{#$("#d_input input").on('keypress', function(event) {#}
		{#    if (event.which == 13) { // 13 is the 'Enter' key code#}
		{#        event.preventDefault();#}
		{#        initiateSearch(); // Call the initiateSearch function when 'Enter' is pressed#}
		{#    }#}
		{# });#}

		// get option values
		function gatherOptions() {
	    // gather and return option values from the UI
	    fclasses = [];
	    $('#search_filters input:checked').each(function() {
	      fclasses.push($(this).val());
	    });
	    options = {
				"qstr":$('#d_input input').val(),
		    "idx": "whg",
		    "fclasses": fclasses.join(','),
		    "start": $("#input_start").val(),
		    "end": $("#input_end").val(),
		    "bounds": $("#boundsobj").val()
	    }
			return options;
		}

		function renderDetail(result) {
		    const detailHtml = `
		        <!-- Add appropriate HTML structure and data here -->
		        <p>Variants: ${result.variants.join(', ')}</p>
            <p>Country Codes: ${result.ccodes.join(', ')}</p>
            <p>Feature Classes: ${result.fclasses.join(', ')}</p>
            <p>Types: ${result.types.join(', ')}</p>

		    `;
		    $('#detail').html(detailHtml);
		}

    function renderPlaces(geoms) {
    if(features){ features.clearLayers() }
    if(typeof(traces)!=='undefined'){ traces.clearLayers() }

    featcoll = {"type":"FeatureCollection","features":geoms}
    // console.log('geodata prior to render',data)
    var count_features = 0
    idToFeature = {}
    idToArea = {}
    mappy.createPane('placePane');
    mappy.getPane('placePane').style.zIndex = 200;

    initialLayers = new L.featureGroup()
    features = L.geoJSON(featcoll, {
      pointToLayer: function (feature, latlng) {
        count_features +=1;
        // if feature has src key, it's from a database search
        identifier = feature.src ? feature.properties.pid : feature.properties.whgid;
				// all geometry added from wikidata matches is MultiPoint...for some reason
        if(feature.type.indexOf('Point') > -1){
          marker = L.circleMarker(latlng, styles.marker_default)
          // add to array for selection
          idToFeature[identifier] = marker
          return marker
        }
      },
      onEachFeature: function(feature,layer) {
        f=feature; l=layer;
        // if feature has src key, it's from a database search; also, popup link differs
        if(feature.src){
          identifier = feature.properties.pid
          popup_link = ' (<a href="/places/'+identifier+'/detail">place page</a>)'
        } else {
          identifier = feature.properties.whgid
          popup_link = ' (<a href="/places/'+identifier+'/portal">place portal</a>)'
        }
        if(feature.type != 'Point'){
          layer.setStyle(['LineString','MultiLineString'].indexOf(feature.type)>-1 ? styles.line_default:styles.pgon_default)
          idToFeature[identifier] = layer
        }
        layer.bindPopup(feature.properties.title);

        // find row in results and highlight it
        layer.on('click',function(e){
          scroll = 20
          ele = $("#result_div")
          // set all to white background
          $(".search-row").css('background-color','#fff')

          fid = search_scope=='idx'?this.feature.geometry.properties.whgid:this.feature.geometry.properties.pid

          foo=$("tr.place-item").find('[data-id="'+fid+'"]').closest('.search-row')
          foo.css('background-color','#f4f4d7')
          foo[0].scrollIntoView()
          ele.scrollTop(ele.scrollTop() - scroll);
        })
        //
        initialLayers.addLayer(layer)
      }
    }).addTo(mappy); <!-- adds features L.geoJSON -->

    bounds = features.getBounds()
    if(geoms.length > 0 ){
      mappy.fitBounds(bounds)
      if(mappy.getZoom() > 5){ mappy.setZoom(5)}
    }
  }

  </script>
{% endblock %}
