<!-- /search/templates/search/search.html -->
{% extends "main/base_webpack.html" %}
{% load static %}

{% block maplibre %}
  <script type="text/javascript">
    const loadMaplibre = true;
  </script>
  <link href="{% static 'webpack/whg_maplibre.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_head %}
  <link href="{% static 'webpack/search.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
  <title>WHG Search</title>
{% endblock %}

{% block content %}
  <div class="container-md">
  
  <div id="search_bar" class="row py-2 position-relative">
      <div id="input" class="w-75 input-group">
          <label class="input-group-text" for="search_mode">Search</label>
          
          <!-- Search Mode Select -->
          <select title="Select mode for text search" aria-label="Select mode for text search" id="search_mode" class="form-select">
              <option value="exactly" selected>Exactly</option>
              <option value="starts">Starts with</option>
              <option value="in">Contains</option>
              <option value="fuzzy">Similar to</option>
          </select>
          
          <!-- Search Input -->
          <input id="search_input" class="form-control typeahead" data-provide="typeahead" type="text" placeholder="Enter place name" aria-label="Search" aria-describedby="search-addon" autocomplete="off" spellcheck="false">
          
          <!-- Clear Search Button -->
          <button id="clear_search" data-title="Clear search input|Nothing to clear" class="btn btn-outline-secondary" type="button">
              <i class="fas fa-times"></i>
          </button>
          
          <!-- Search Button -->
          <button id="initiate_search" data-title="Initiate search|Cannot search without a place name" class="btn btn-outline-secondary btn-success" type="button">
              <i class="fas fa-search"></i>
          </button>
      </div>
  </div>

  <div id="search_content" class="row pt-1 no-results initial">
    <div id="search_left" class="col-4 p-2 bg-white">
      <div id="adv_options">
        <h5>Advanced options</h5>
        <p class="mb-0"><span class="categories ms-1">place categories</span>
          <span class="ms-1 categories">
              <span class="me-1"><a id="check_select" href="#">select all</a></span>
              <span class="me-1"><a id="check_clear" href="#">clear all</a></span>
              <a id="filter_help" class="pointer" data-toggle="popover" title="Place categories"
                 data-content="" tabindex="0" data-trigger="focus"><i class="fas fa-question-circle linky"></i></a>
            </span>
        </p>
        <div id="adv_checkboxes" class="small mt-2 ps-1">
          <script>
          	  const adv_filters = [ // Dynamic construction from array offers greater development flexibility
          		  ["A", "Administrative entities"],
          		  ["P", "Cities, towns, hamlets"],
          		  ["S", "Sites, buildings, complexes"],
          		  ["R", "Roads, routes, rail..."],
          		  ["L", "Regions, landscape areas"],
          		  ["T", "Terrestrial landforms"],
          		  ["H", "Water bodies"],
          	  ]    
          </script>
        </div>
        <div id="filter_spatial">
          <p class="mb-0"><span class="categories ms-1">spatial</span>
            <span class="float-end">
              <a id="spatial_help" class="pointer" data-toggle="popover"
                 title="Spatial filter" data-content="" tabindex="0" data-trigger="focus">
              <i class="fas fa-question-circle linky"></i></a></span>
          </p>
          <!-- <input id="input_area" class="typeahead" autocomplete="off" type="text" size="25" placeholder="Regions/Countries" /> -->
          <div class="input-group mb-3">
            <select id="countryDropdown" class="form-select" data-type="country" data-placeholder="Country filter(s)"
                    multiple></select>
            <button class="btn btn-outline-secondary clear-button" type="button" id="clearCountryDropdown">Clear
            </button>
          </div>
          {% if has_areas %}
          <div class="input-group mb-3">
            <select id="userAreaDropdown" class="form-select" data-type="userarea" data-placeholder="User area(s)"
                    multiple></select>
            <button class="btn btn-outline-secondary clear-button" type="button" id="clearUserAreaDropdown">Clear
            </button>
          </div>
		  {% endif %}

        </div>
      </div>
      
	  <div id="result_facets" class="p-1 bg-light">
		  <h5>Filter Results</h5>
		  <!-- Place Types Accordion -->
		  <div class="accordion-item">
		    <h4 class="accordion-header" id="headingTypes">
		      <button class="accordion-button" type="button" data-bs-toggle="collapse"
		              data-bs-target="#collapseTypes" aria-expanded="true" aria-controls="collapseTypes">
		        Place Types <span id="typesCount">(0)</span>
		        <span class="accordion-toggle-indicator float-end me-2">
		          <i class="info-collapse fas fa-chevron-up"></i>
		        </span>
		      </button>
		    </h4>
		    <div id="collapseTypes" class="accordion-collapse collapse show" aria-labelledby="headingTypes">
		      <div class="accordion-body">
		        <div id="type_checkboxes"></div> <!-- Existing div -->
		      </div>
		    </div>
		  </div>
		
		  <!-- Countries Accordion -->
		  <div class="accordion-item mt-2">
		    <h4 class="accordion-header" id="headingCountries">
		      <button class="accordion-button" type="button" data-bs-toggle="collapse"
		              data-bs-target="#collapseCountries" aria-expanded="true" aria-controls="collapseCountries">
		        Countries <span id="countriesCount">(0)</span>
		        <span class="accordion-toggle-indicator float-end me-2">
		          <i class="info-collapse fas fa-chevron-up"></i>
		        </span>
		      </button>
		    </h4>
		    <div id="collapseCountries" class="accordion-collapse collapse show" aria-labelledby="headingCountries">
		      <div class="accordion-body">
		        <div id="country_checkboxes"></div> <!-- Existing div -->
		      </div>
		    </div>
		  </div>
      </div>
      
      
      
<!--       <div id="result_facets" class="p-1 bg-light">
        <h5>Filter Results</h5>
        Place Types Accordion
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingTypes">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTypes" aria-expanded="true" aria-controls="collapseTypes">
              Place Types <span id="typesCount">(0)</span>
              <span class="accordion-toggle-indicator float-end me-2">
						              <i class="info-collapse fas fa-chevron-up"></i></span>
            </button>
          </h4>
          <div id="collapseTypes" class="accordion-collapse collapse show" aria-labelledby="headingTypes">
            <div class="accordion-body">
              <div id="type_checkboxes"></div> Existing div
            </div>
          </div>
        </div>

        Countries Accordion
        <div class="accordion-item mt-2">
          <h4 class="accordion-header" id="headingCountries">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCountries" aria-expanded="false" aria-controls="collapseCountries">
              Countries <span id="countriesCount">(0)</span>
              <span class="accordion-toggle-indicator float-end me-2">
						            <i class="info-collapse fas fa-chevron-down"></i></span>
            </button>
          </h4>
          <div id="collapseCountries" class="accordion-collapse collapse" aria-labelledby="headingCountries">
            <div class="accordion-body">
              <div id="country_checkboxes"></div> Existing div
            </div>
          </div>
        </div>
      </div> -->

      <!-- info box -->
{#      <div id="search_info" class="p-1 mt-2 collapse show">#}
{#        <p class="search_info-header">So you know...</p>#}
{#        <p>Results include linked sets of records from the WHG "union index" (blue)#}
{#          and may include records from public datasets yet to be indexed (green). Result sets from the union index#}
{#          have a Place Portal page aggregating information from all linked records.</p>#}
{#        </p>#}
{#      </div>#}
    </div>
    <div id="search_right" class="col-8">
      <div id="search_right_top" class="row px-1">
        {#					<div id="map" class="col-9 bg-lighterblue"></div>#}
        {# sg fix: remove col-9 to correct map width; still needs some padding-right reduction for alignment, and padding-bottom increase to avoid scrollbar collision #}
        <div id="map" class="bg-lighterblue"></div>
        {#					<div id="map_notes" class="col-3 bg-lightyellow p-2">legend? note?</div>#}
      </div>
      <div id="result_container" class="row p-1">
        <div id="initial_results" class="bg-light p-2">
          <h6>Search in WHG</h6>
          <p>You are searching all place records published in WHG.
            Some results are sets of attestations linked in our "<b>union index</b>";
            others have yet to be linked. Good luck understanding that!</p>
        </div>
        <div id="no_results" class="bg-light p-2">No results - please modify your search terms and options.</div>
        <div id="no_filtered_results" class="bg-light p-2">No filtered results - please adjust your filter selections.</div>
        <div id="search_results" class="col-12 bg-light p-2">
        </div>
      </div>
    </div>
  </div>
  {% csrf_token %} <!-- Used for Django POST requests -->
  <script type="text/javascript">
    const dropdown_data = {{ dropdown_data|safe }};  // Used for spatial filter
	var eswhg = "{{ es_whg|escapejs }}";
	const has_areas = {{ has_areas|yesno:"true,false" }};
	const user_areas = {{ user_areas|safe }}
  </script>

{% endblock %}

{% block deferredScripts %}

  var scripts = [
  {
  src: '{% static 'webpack/whg_maplibre.bundle.js' %}',
  type: 'text/javascript',
  },
  {
  src: '{% static 'webpack/search.bundle.js' %}',
  type: 'module',
  },
  ]

{% endblock %}
