{% extends "main/base.html" %}
{% block title %}<title>WHG::</title>{% endblock %}
{% block extra_head %}
  <style>
    body { font-family: 'Raleway', sans-serif; }
  </style>
{% endblock %}
{% load static %}

{% block content %}
  {% load dataset_extras %}
  <div class="container">
    <div class="d-flex justify-content-center">
      <h3>The WHG Gazetteer Factory</h3>
    </div>
    <div id="build_content" class="px-5">
      <div>
      <p>There are two ways to develop and publish gazetteer data in World Historical Gazetteer.</p>
      </div>
      <div class="row">
        <div class="col col-sm-6 small" style="border-left: 1px dotted lightgray;">
          <h4 class="bg-lightblue p-2">Path A
            <span class="fs-6 ms-3"><a href="">get started</a></span>
            <span class="float-end me-2">
              <img src="{% static 'images/001-up-arrow.png' %}" class="" height=28 width=28 alt=""/>
              <img src="{% static 'images/003-browser.png' %}" class="" height=28 width=28 alt=""/>
            </span>
          </h4>
          <div class="bg-light" style="min-height: 155px;">
            <p class="p-1 mb-0">Path A is the simplest: (a) create a dataset by uploading a file in Linked Places or LP-TSV format, then (b) augment it by reconciling with our Wikidata index. The resulting dataset can be downloaded for further processing on your own, and optionally published to WHG&mdash;making its records searchable and providing a public presentation page and permanent URL.</p>
          </div>
          <img src="{% static 'images/pipeline_path_a.png' %}" class="img-fluid" alt=""/>
          <!-- image of path A -->
        </div>
        <div class="col col-sm-6 small">
          <h4 class="bg-lightyellow p-2">Path B
            <span class="fs-6 ms-3"><a href="">get started</a></span>
            <span class="float-end me-2">
                <img src="{% static 'images/001-up-arrow.png' %}" class="" height=28 width=28 alt=""/>
                <img src="{% static 'images/003-browser.png' %}" class="" height=28 width=28 alt=""/>
                <img src="{% static 'images/008-collect.png' %}" class="" height=28 width=28 alt=""/>
            </span>
          </h4>
          <div class="bg-light" style="min-height: 155px;">
            <p class="p-1 mb-0">In version 3, the Dataset Collection feature has been extended and enhanced. An individual or group can assemble a gazetteer resource by adding datasets to a collection, reconciling each with those already added. In this way, records for the same (or closely matched) places are explicitly linked. The resulting collection can then be published as is, as a collection of discrete datasets having linked places, or linked records from different gazetteers can be merged, producing a new dataset.</p>
          </div>
          <img src="{% static 'images/pipeline_path_b.png' %}" class="img-fluid" alt=""/>
        </div>
      </div>
    </div> <!-- build_content -->
  </div> <!-- container -->
  <script type="text/javascript">
    // js imports here
  </script>
{% endblock %}
```

