{% extends "main/base_webpack.html" %}
{% load static %}
{% load dataset_extras %}

{% block title %}
  <title xmlns="http://www.w3.org/1999/html">WHG v3.0beta</title>
{% endblock %}

{% block extra_head %}
<link href="{% static 'webpack/workbench.bundle.css' %}" rel="stylesheet"/>
  <style>@media screen and (max-width: 1200px) {
  .hide-on-narrow {
    display: none;
  }
}</style>
{% endblock %}

{% block content %}
<div class="container container-full-height">
  <div class="row mb-2">
    <div id="wb_title" class="col-12 fs-2 text-center">Gazetteer Workbench</div>
    <div id="wb_blurb" class="col-12 fs-5 text-center">
      Four pathways for using WHG tools and services to augment and publish historical place data
    </div>
  </div>
  <div id="wb_columns" class="row">
    <div class="col-3 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
          <span class="path-number">1</span>
          <p>Augment your place records by discovering missing coordinate locations
            (geocoding) and adding name variants.</p>
          <p><img src=""/>image</p>
        </div>
        <div class="bottom-button">
          <span class="help-matches" data-id="wb_augment">
            <a class="btn btn-sm btn-outline-primary">Learn more</a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-3 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
        <span class="path-number">2</span>
        <p>Publish your dataset as a gazetteer resource in WHG</p>
        <p><img src=""/>image</p>
        </div>
        <div class="bottom-button">
          <span class="help-matches" data-id="wb_dataset">
            <a class="btn btn-sm btn-outline-primary">Learn more</a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-3 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
        <span class="path-number">3</span>
        <p>Assemble an historical gazetteer from multiple datasets published in WHG</p>
        <p><img src=""/>image</p>
        </div>
        <div class="bottom-button">
          <span class="help-matches" data-id="wb_dscoll">
            <a class="btn btn-sm btn-outline-primary">Learn more</a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-3 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
        <span class="path-number">4</span>
        <p>Author and publish a thematic annotated <i>place collection</i></p>
        <p><img src=""/>image</p>
        </div>
        <div class="bottom-button">
          <span class="help-matches" data-id="wb_pcoll">
            <a class="btn btn-sm btn-outline-primary">Learn more</a>
          </span>
        </div>
      </div>
    </div>
    <div class="selector py-3">
      <div id="helpme"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block deferredScripts %}
  var scripts = [
    {
    src: '{% static 'webpack/workbench.bundle.js' %}',
    type: 'text/javascript',
    }]
{% endblock %}