{% extends "main/base.html" %}

{% load static %}
{% load dataset_extras %}
{% load leaflet_tags %}
{% block title %}<title>Place::{{ place.title }}</title>{% endblock %}
{% block extra_head %}
  <script src="{% static 'js/aliases.js' %}"></script>

  <script src = "https://d3js.org/d3.v4.min.js"></script>
  
  <link href="{% static 'webpack/maptiler_sdk.bundle.css' %}" rel="stylesheet" /> 
  <link href="{% static 'webpack/portal.bundle.css' %}" rel="stylesheet" /> 

{% endblock %}
{% block content %}

<div class="container mt-1 px-1">
    <div class="overlay left">
        <div id="info" class="m-2 p-1">
            <div id="sources" class="bg-light info-box">
                <p class="mb-0 strong-red">Sources</p> {% for rec in payload %} <div class="source-box small">
                    <span class="fs-6">{{ rec.title}} ({{ rec.place_id }})</span>
                    <br /> Dataset: <a class="pop-link pop-dataset" data-id={{rec.dataset.id}} data-toggle="popover" title="Dataset Profile" data-content="" tabindex="0" rel="clickover">
                        {{rec.dataset.name|remove:'(stub) '|truncatechars:25}}</a> {% if rec.timespans  %} <br />Temporal: {{ rec.timespans }} {% endif %}
                </div> {% endfor %}
            </div>
        </div>    
    </div>
    <div class="overlay left">
        <div id="source_detail" class="bg-light info-box">
            <p class="mb-0 strong-red">In Collection(s)</p>
            <div id="collection_list"> <!-- Populated dynamically from context in JavaScript -->
            </div>
        </div>
        <div id="graph_viz" class="bg-light info-box"> {graph visualization?} </div>    
    </div>
    <div id="temporal-attestations" class="overlay centre">
        <div id="histogram" class="position-absolute bg-light">
            <p class="allcap-heading small my-0">TEMPORAL ATTESTATIONS</p>
        </div>
    </div>
    <div id="map" style="opacity: 0;" class="overlay centre"></div>
    <div id="map-options" class="overlay right">
        <p class="mb-0 strong-red">MAP OPTIONS</p>
    </div>
</div>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!-- Set up MapLibre map using Maptiler SDK -->
<script type="text/javascript">
    let mapParameters = {
        container: 'map',
        center: [10.2385, 29.8626],
        zoom: 5, // starting zoom
        minZoom: 0.1,
        maxZoom: 17,
        mapTilerKey: '{{ maptilerkey }}',
        controls: {
            layer: true,
            navigation: true,
            fullscreen: false,
            attribution: {
                open: false,
            },
            {% if from_value %}
	            temporal: {
	                fromValue: {{ from_value }},
	                toValue: {{ to_value }},
	                minValue: {{ min_timespan }},
	                maxValue: {{ max_timespan }},
	                open: false,
	                includeUndated: true,
	                epochs: null,
	                automate: null,
	            }
	        {% else %}
	            temporal: false
	        {% endif %}
        },
        styleFilter: [ 'OUTDOOR.DEFAULT', 'TOPO.DEFAULT', 'TOPO.TOPOGRAPHIQUE', 'SATELLITE.DEFAULT', 'OCEAN.DEFAULT' ], // Leave empty for full list of options, or include a single style to prevent selector inclusion
    }
    let allts = {{ allts }}
</script>

{{ payload|json_script:"payload_data" }}
{{ core|json_script:"geo-layers" }}

<script type="module">
    import "{% static 'webpack/maptiler_sdk.bundle.js' %}";
    import "{% static 'webpack/portal.bundle.js' %}";
</script>	
	
{% endblock %}

