<!-- places/place_detail.html -->
{% extends "main/base_webpack.html" %}
{% load dataset_extras %}
{% load geojson_tags %}
{% load static %}

{% block maplibre %}
	<script type="text/javascript">
		const loadMaplibre = true;
	</script>
	<link href="{% static 'webpack/whg_maplibre.bundle.css' %}" rel="stylesheet" /> 
{% endblock %}

{% block extra_head %}
  	<link href="{% static 'webpack/places.bundle.css' %}" rel="stylesheet" /> 
{% endblock %}

{% block title %}
	<title>WHG::Place</title>
{% endblock %}

{% block content %}


{% endblock %}
{% block deferredScripts %}
   	
   	var scripts = [
		{
			src: '{% static 'webpack/whg_maplibre.bundle.js' %}',
			type: 'text/javascript',
		},
		{
			src: '{% static 'webpack/places.bundle.js' %}',
			type: 'module',
		},
   	]

{% endblock %}
