{% extends "main/base.html" %}

{% load static %}
{% load dataset_extras %}
{% load leaflet_tags %}
{% block title %}<title>Place::{{ place.title }}</title>{% endblock %}
{% block extra_head %}
  <script src="{% static 'js/aliases.js' %}"></script>
{#  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>#}
{#  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>#}

  <script src = "https://d3js.org/d3.v4.min.js"></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>

<style>
        #webmap {
            background-color: #eaffea;
		        height: 80vh;
        }
        #info {
            background-color: #a8dadc;
            border: 1px solid #aaa;
            height: 98%;
        }
        #sources, #source_detail, #graph_viz {
            padding: 10px;
            border: 1px solid #aaa;
        }
        #map_controls {
            background-color: #a8dadc;
            border: 1px solid #aaa;
		        height: 100%;
        }
        .middle {
		        left: -7px;
				    right: 15px;
		        background-color: gainsboro;
		        height: 50px;
		        padding: .2rem;
        }
				#time_histogram {top: 6px;}
        #time_slider {bottom: 6px; }

				.info-box {margin-bottom: .2rem;}
				.source-box {
						background-color: white;
						border: 1px gainsboro solid;
						margin: .1rem;
						padding: .1rem;
				}
</style>
{% endblock %}
{% block content %}
    <div class="container mt-4">

<div id="webmap" class="position-relative" style="height: 80vh;">

    <!-- Bootstrap row to structure the overlays -->
    <div class="row h-100">
        <!-- Left column (info) -->
        <div id="left" class="col-4 h-100 d-flex flex-column">
	        <div id="info" class="m-2 p-1">
            <div id="sources" class="bg-light info-box">
	            <p class="mb-0 strong-red">Sources</p>
              {{ payload|json_script:"payload_data" }}
	            {% for rec in payload %}
	              <div class="source-box small">
		              <b>{{ rec.title }}</b> ({{ rec.place_id }})<br/>
	                dataset: <a class="pop-link pop-dataset" data-id={{rec.dataset.id}} data-toggle="popover" title="Dataset Profile" data-content="" tabindex="0" rel="clickover">
	              {{rec.dataset.name|truncatechars:25}}</a>
	              {% if rec.timespans  %}
	              <p>Temporal: {{ rec.timespans }}</p>
	              {% endif %}
	              </div>
	            {% endfor %}
{#	            <div class="source-box">attestation #2</div>#}
{#	            <div class="source-box">attestation #3</div>#}
            </div>
            <div id="source_detail" class="bg-light info-box">
              <p class="mb-0 strong-red">Collections</p>
	            {% for c in collections %}
	            <p class="small">{{ c.title }}</p>
	            {% endfor %}
            </div>
            <div id="graph_viz" class="bg-light info-box">
	            {graph visualization}
            </div>
	        </div>
        </div>

        <!-- Middle column (time_slider and time_histogram) -->
        <div id="middle" class="col-6 position-relative py-2">
            <div id="time_histogram" class="position-absolute middle">Time Histogram</div>
            <div id="time_slider" class="position-absolute middle">Time Slider</div>
        </div>

        <!-- Right column (map_controls) -->
        <div id="right" class="col-2 h-100 d-flex flex-column p-2">
            <div id="map_controls" class="mx-2 p-1">
	            <p>Map Controls</p>
	            <div id="control1" class="bg-light info-box">control 1</div>
	            <div id="control2" class="bg-light info-box">control 2</div>
	            <div id="control3" class="bg-light info-box">control3</div>
            </div>
        </div>

    </div> <!-- End of Bootstrap row -->
	</div> <!-- End of webmap div -->
</div> <!-- End of container -->
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', (event) => {
		  const payload = JSON.parse(document.getElementById('payload_data').textContent);
		  console.log('payload', payload);
		});
	</script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endblock %}

