{% extends "main/base_webpack.html" %}
{% load static %}
{% load dataset_extras %}

{% block maplibre %}
  <script type="text/javascript">
    const loadMaplibre = true;
  </script>
  <link href="{% static 'webpack/whg_maplibre.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_head %}
  <link href="{% static 'webpack/whg_maplibre.bundle.css' %}" rel="stylesheet"/>
  <link href="{% static 'webpack/portal.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
  <title>Place::{{ place.title }}</title>
{% endblock %}

{% block content %}

<div id="dataset_content" class="container-md">
    <div class="row">
        <!-- Left column with the main content -->
        <div id="textContent" class="col-12 col-lg-7 mx-0 p-1 border">
	        <button id="permalinkButton" class="btn btn-primary btn-sm" data-toggle="tooltip" data-bs-title="Copy permalink to clipboard"><i class="fas fa-share-nodes"></i> Permalink</button>
	        
			<h5>{{ portal_headword }}</h5>
			<div id="gloss"><!-- Populated dynamically from context in JavaScript --></div>
			
			<p class="my-0"><span id="addtocoll" class="me-1">
				<span id="added_flash" class="mr-2 hidden" style="background-color: yellow; position:absolute; top:10px; right:10px;"> added! </span>
				<a id="addchecked" href="#">add to collection <i class="fas fa-plus-circle"></i> </a>
	        </span></p>
	        
	        <div id="sources" class="mt-2 bg-light info-box">
	          <h6 class="mt-1 ms-1 strong-red">Sources</h6>
	          <!-- Populated dynamically from context in JavaScript -->
	        </div>

            <div id="source_detail" class="mt-2 bg-light info-box">
		        <h6 class="mt-1 strong-red">In Collection(s)</h6>
		        <div id="collection_list">
		          <!-- Populated dynamically from context in JavaScript -->
		        </div>
            </div>
            
        </div>
        <!-- Right column with the map and historygram -->
        <div class="col-12 col-lg-5 mx-0 px-0 ps-lg-2">
            <div id="map" style="opacity: 0;"></div>
        </div>
    </div>
</div>

<div id="addtocoll_popup" class="p-2 small hidden">
	<ul id="my_collections" class="no-bullets">
	    {% for c in my_collections %}
	        <li>
	            <label>
	                <input type="radio" name="collection_radio" value="{{ c.id }}" class="collection_radio">
	                {{ c.title }}
	            </label>
	        </li>
	    {% endfor %}
	</ul>
  	<hr/>
    <p class="mb-0 ital">
        <label>
            <input type="radio" name="collection_radio" class="collection_radio" value="new">
            Create New
        </label>
    </p>
  	<p id="title_form" class="small hidden">
    	<input id="title_input" type="text" placeholder="Collection title" width="20"/>
    	<button id="b_create_coll" type="button">create</button>
  	</p>
</div>

<script type="text/javascript">
    let allts = {{ allts }};
    const extent = {{ extent }};
    const centroid = {{ centroid }};
    let geoData = {
        elevation: null,
        admin: [],
        ecoregion: {name: null, url: null},
        biome: {name: null, url: null}
    };
</script>

{{ payload|json_script:"payload_data" }}
{{ core|json_script:"geo-layers" }}

{% endblock %}

{% block deferredScripts %}

  var scripts = [
  {
  src: '{% static 'js/jquery.bootstrap.modal.forms.min.js' %}',
  type: 'text/javascript',
  },
  {
  src: '{% static 'webpack/whg_maplibre.bundle.js' %}',
  type: 'text/javascript',
  },
  {
  src: '{% static 'webpack/portal.bundle.js' %}',
  type: 'module',
  },
  ]

{% endblock %}
