<!-- collection/place_collection_builder.html -->
{% extends "main/base_webpack.html" %}

{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Create/Update Collection</title>{% endblock %}
{% block extra_head %}
  <link href="{% static 'webpack/builders-collection-place.bundle.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container container-md" style="height: calc(100vh);">
  {% if action == 'update' and not is_member and not whgteam %}
    <p>Access to this page is limited to the collection owner <b>{{ object.owner.name }}</b>
      ({{ object.owner.id }}) and designated collaborators.</p>
  {% else %}
    <div class="h-100">
      <h5 class="mt-3">
        {% if action == 'update' %}
          <span class="text-secondary">Place Collection Builder: </span>
          <span class="text-bold red-head">{{ form.title.value }}</span>
          <span class="float-end fs-6">
          {% comment %}
          <span class="me-2 small">collab? {{ object.group.collaboration }};
            in class: {{ in_class }}; status: <b>{{ form.status.value }}</b>
          </span>{% endcomment %}
          <a href="{% url 'collection:place-collection-browse' object.id %}" class="me-2">
            view</a> <i class="fas fa-eye linky"></i>
          <a href="{% url 'collection:collection-delete' object.id %}"
             title="Delete collection" rel="tooltip" style="margin-top:-2px;">
          <i class="fas fa-trash linkyred"></i></a>
         </span>
        {% else %}
          Place Collection Builder: {<span class="red-head">new</span>}
        {% endif %}
      </h5>
      <ul id="tab-list" class="nav nav-tabs" role="tablist">
        {# create form & intro #}
        <li class="nav-item" role="presentation">
          <button class="nav-link active {% if not is_owner and not is_member and not whg_admins %}disabled{% endif %}"
                  id="form-tab" data-bs-toggle="tab" data-bs-target="#coll_form"
                  type="button" role="tab" aria-controls="coll_form" aria-selected="true">
            {% if action == 'create' %}Create{% else %}Edit{% endif %} Collection
          </button>
        </li>
        {# add & annotate #}
        {% if action == "update" %}
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="build-tab" data-bs-toggle="tab" data-bs-target="#coll_builder"
                    type="button" role="tab" aria-controls="coll_builder" aria-selected="false">
              Add and annotate places
            </button>
          </li>
          {% if in_class == False or in_class == True and object.group.collaboration == True %}
            <li class="nav-item" role="presentation">
              <button class="nav-link" {% if not is_owner and not is_member and not whg_admins %}disabled{% endif %}
                      id="collaborators-tab" data-bs-toggle="tab"
                      data-bs-target="#coll_collaborators"
                      type="button" role="tab" aria-controls="coll_collaborators"
                      aria-selected="false">Collaborators
              </button>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <div id="content" class="tab-content" >
        {# create/edit form #}
        <div id="coll_form" class="tab-pane fade show active h-100">
          <form id="collection_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-6 small">
                {% if action == 'create' %}
                  <input type="hidden" name="owner" value='{{ user.id }}'/>
                {% else %}
                  <input type="hidden" name="owner" value='{{ form.owner.value }}'/>
                {% endif %}
                <input type="hidden" name="collection_class" value='place'/>
                <div class="form-group">
                  <label for="Title">Title &#x02733;</label><br/>{{ form.title }}
                </div>
                <div class="form-group">
                  <label for="Creator">Creator(s) &#x02733;</label><br/>{{ form.creator }}
                </div>
                <div class="form-group">
                  <label for="Description">Description
                    &#x02733;</label><br/>{{ form.description }}
                </div>
                <div class="form-group">
                  <label for="Collection keywords">
                    Collection keywords &#x02733;</label><br/>{{ form.keywords }}
                </div>
                <div class="form-group">
                  <label for="Annotation keywords">Annotation keywords</label><br/>{{ form.rel_keywords }}
                </div>
                <p><span class="strong mt-2">Status</span>: &nbsp;{{ form.status.value }}</p>
                {% if action == "update" and not object.group and not whgteam %}
                  <p>
                    <span class="strong mt-2">Public?</span>: &nbsp;{{ form.public.value }}
                    <span class="ms-2"><a href="#">making a collection public
                      <i class="fas fa-question-circle linky"></i></a></span>
                  </p>
                {% elif whg_admins %}
                  <p>
                    <span class="strong mt-2">Public?</span>: {{ form.public.value }} &nbsp;{{ form.public }}</p>
                {% endif %}
               <p>&#x02733;<i><b> required</b></i></p>
                <div id="d_buttons" class=""
                     style="display: flex; align-items: center; justify-content: space-between;">
                  <span class="">
                  {% if action == 'create' %}
                    <a href="/mycollections">Cancel</a>
                    <input id="btn_coll_save" class="btn btn-sm btn-primary mt-2"
                           type="submit" value="Save"/>
                  {% else %}
                    <input id="btn_coll_save" name="display" class="btn btn-sm btn-success mt-2 "
                           type="submit" value="Save & exit"/>
                    <input id="btn_coll_update" name="update" class="btn btn-sm btn-primary mt-2 ms-2"
                           type="submit" value="Save"/>
                  {% endif %}
                  </span>
                </div>
                <div id="collection_options"></div>
                {% if mygroups|length > 0 %}
                <div class="mt-2">
                  <span id="submit_prompt">Submit{% if form.group.value %}ted{% endif %}
                    to group:</span>
                  <span id="submitter" class="">
                      {% if object.status != 'nominated' %}
                        {{ form.group }}
                      {% else %}
                        {{ form.group }} <span>nominated for the gallery -- no going back!</span>
                      {% endif %}
                  </span>
                  {% if object.group %}
                    <span class="ms-2 small">
                      <a href="{% url 'collection:collection-group-detail' object.group.id %}"
                         target="_blank">Info</a>
                    </span>
                  {% endif %}
                </div>
                {% endif %}
              </div> <!-- col-sm-5 -->
              <div class="col-sm-5">
                {% if action == 'update' %}
                  <div id="image_selector" class="form-group mb-2">
	              	{% if object.image_file %}
	                	<img src="/media/{{ object.image_file.name }}" class="thumbnail float-end"/>
	              	{% endif %}
                    <label for="Image">Collection image</label><br/>
                    {% if action == 'create' %} {# create, no image yet #}
                      <span id="img_chooser_create">{{ form.image_file }}</span>
                    {% elif form.image_file.value %} {# update & there's an image #}
                      <img src="{% static 'images/noun-photo.svg' %}" width="16"/>
                      <a href="/media/{{ form.image_file.value }}" class="small">
                        {{ object.image_file }}</a>
                      (<a class="show-chooser small" href="#">change</a>)
                    {% else %} {# update and there's no image yet #}
                      <span id="img_chooser_update">{{ form.image_file }}</span>
                    {% endif %}
                    <span class="chooser hidden">{{ form.image_file }}</span>
                  </div>
                  <div class="form-group mt-3">
                    <label for="File">Collection essay <i class="small">(PDF format)</i></label><br/>
                    {% if action == 'create' %} {# create, no file yet #}
                      <span id="file_chooser_create">{{ form.file }}</span>
                    {% elif form.file.value %} {# update & there's a file #}
                      <i class="far fa-file-pdf linky"></i>
                      <a href="/media/{{ form.file.value }}">
                        {{ object.file.url|remove:'/media/collections/' }}</a>
                      (<a class="show-chooser" href="#">change</a>)
                    {% else %} {# update and there's no image yet #}
                      <span id="file_chooser_update">{{ form.file }}</span>
                    {% endif %}
                    <span class="chooser hidden">{{ form.file }}</span>
                  </div>
                  {# add link form #}
                  <div class="mt-3">
                    <label for="File">Links</label><br/>
                    {% if links|length < 3 %}
                      <a href="#" id="a_linkpopup">
                        <button type="button" class="btn btn-sm btn-primary custom-button">Add</button>
                      </a>
                    {% endif %}
                    <i class="small link-counter">(3 maximum)</i><br/>
                    <span id="linklist">
                      {% if links|length > 0 %}
                        {% for l in links %}
                          {{ l.get_link_type_display|safe }}
                          <a href="{{ l.uri }}" target="_blank">{{ l.label }}</a>
                          [ <a href="{% url 'collection:remove-link' id=l.id %}" class="a_removelink">
                          <i>remove</i></a> ]<br/>
                        {% endfor %}
                      {% endif %}
                    </span>
                  </div>
                  <div id="vis_options" class="mt-5">
                    <h5 class="bg-beige ps-1">Visualization options
                      <span class="float-end me-2">
                        <small><i class="fas fa-question-circle linkypop"></i></small></span>
                    </h5>
                    <p>These options control how your collection will be displayed and
                      temporally filtered on this collection's display page.</p>
                    <table id="configurationTable">
						{{ object.vis_parameters|json_script:"vis_parameters_data" }}
                    </table>
                  </div>
                {% else %}
                  <!-- action = 'create' -->
                  <div id="getting_started">
                    <h5 class="bg-beige ps-1">Getting started</h5>
                    <p>To create a new Place Collection, first fill out the required fields in the
                      form
                      on the left and press <b>Save</b>. All information can be edited afterwards,
                      and you can begin adding and annotating places. The collection itself can
                      include
                      primary image, an essay file and links to related material.
                    </p>
                    <p>
                      <mark-b>Collection keywords</mark-b>
                      are terms describing the collection.
                    </p>
                    <p>
                      <mark-b>Annotation keywords</mark-b>
                      are terms that will be your own vocabulary
                      for relations between a given place and the collection theme or topic.
                      For example, relevant annotation keywords for a collection about a journey
                      might include "waypoint" and "extended stay." For lives of individuals,
                      "birthplace" and "resided" might be appropriate. The choice is yours.
                    </p>
                  </div>
                {% endif %}
              </div>
              <div id="added_flash" class="hidden">
                <i class="fas fa-check-circle"></i> Added!
              </div>
            </div>
            {# row #}
          </form>
          <div id="linkform_popup" class="pop">
            <form action="#" method="post">
              {% csrf_token %}
              {{ links_form }}
              <input type="hidden" name="collection" value="{{ object.id }}">
              <table id="linkform_table" class="mb-2 small">
                <tr>
                  <td>URI*:</td>
                  <td><input id="l_uri" name="uri" value="{{ links_form.uri }}"/></td>
                </tr>
                <tr>
                  <td>Label*:</td>
                  <td><input id="l_label" name="label" value="{{ links_form.label }}"/></td>
                </tr>
                <tr>
                  <td>Type*:</td>
                  <td>
                    <select id="select_linktype" name="link_type">
                      <option value="webpage">Web page</option>
                      <option value="document">Document</option>
                      <option value="image">Image</option>
                    </select>
                  </td>
                </tr>
              </table>
              <button id="b_createlink" class="custom-button" type="button">Save</button>
              <button id="b_cancel_link" class="custom-button" type="button">Cancel</button>
            </form>
          </div>
        </div>
        {# add & annotate places #}
        <div id="coll_builder" class="tab-pane fade h-100" style="height: auto; position:relative;">
          <div class="d-flex h-100">
            <div class="col-sm-6" id="builder">
              <ul id="coll_tabs" class="nav nav-tabs " role="tablist">
                {% if action == 'update' %}
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="coll_dslist-tab"
                            data-bs-toggle="tab" data-bs-target="#coll_dslist"
                            role="tab" aria-controls="coll_dslist" aria-selected="false"
                            data-id="ds">
                      Datasets
                    </button>
                  </li>
                {% else %}
                  <li class="nav-item disabled" role="presentation">
                    <button class="nav-link" id="coll_dslist-tab" style="color:grey !important;"
                            data-bs-target="#coll_dslist">Datasets
                    </button>
                  </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="coll_placelist-tab" data-bs-toggle="tab"
                          data-bs-target="#coll_placelist"
                          role="tab" aria-controls="coll_placelist" aria-selected="true"
                          data-id="pl">
                    Places (<span id="place_count">{{ seq_places|length }}</span>)
                    <span class="small float-end ms-3">
                      <a id="a_remove" href="#"}></a>
                    </span>
                  </button>
                </li>
              </ul>
              <div id="builder_content" class="tab-content">
                <div id="coll_dslist" class="tab-pane fade" role="tabpanel"
                     aria-labelledby="coll_dslist-tab">
                  <p class="mt-2">
                <span class="me-2 smaller">
                  <select id="select_ds" name="ds" class="custom-select-sm">
                  <option value="0">Select dataset</option>
                  <option disabled>___________</option>
                    {% for ds in ds_select %}
                      {% if ds not in coll_dsset %}
                        <option value="{{ ds.id }}">{{ ds.title }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </span>
                  </p>
                  {# id, label, title, description, creator, create_date, webpage, numrows, datatype  #}
                  <div id="coll_dscards_create">
                    <p>The select dropdown above lists datasets you "own" or have been made a
                      collaborator on.</p>
                    {% if coll_dsset|length == 0 %}
                      <p id="further_explanation">Once selected, you can choose to "add all
                        places" from it and they will appear on your collection's place list. Note that very
                        large datasets (more than a few thousand rows) may present issues in managing
                        annotations and in the display of the collection.</p>
                    {% endif %}
                    {% for d in coll_dsset %}
                      <div class="ds_card w-100">
                        <p class="mb-0">
                          <a href="{% url 'datasets:ds_status' id=d.id %}">
                            <span class="ds_title">{{ d.title }}</span></a>
                          <small>({{ d.label }}/{{ d.id }})</small>
                        </p>
                        <div class="ds_fields">
                          <p class="my-1">
                            <b>Description</b>: {{ d.description|truncatechars:150 }}
                          </p>
                          <p class="my-1"><b>Create
                            date</b>: {{ d.create_date|date:"d M Y" }}</p>
                          <p class="my-1"><b># rows</b>: {{ d.numrows }}
                            <a href="{% url 'collection:remove-ds' ds_id=d.id coll_id=object.id %}"
                               class="float-end">
                              <i class="fas fa-minus-square linky`"></i> remove</a>
                          </p>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  {# coll_dscards_create #}
                </div>
                <div id="coll_placelist" class="tab-pane fade show active" role="tabpanel"
                     aria-labelledby="coll_placelist-tab">
                  {% if seq_places|length > 0 %}
                    {% for cp in seq_places %}
                      <div class="col-place-card" id="{{ cp.p.id }}" data-id="{{ cp.p.id }}"
                           data-idx="{{ cp.seq }}">
                        <p><b>{{ cp.p.title }}</b> {{ cp.p.ccodes }}
                          <i>pid: (<a class="coll-place"
                                      data-pid={{ cp.p.id }} href="#">{{ cp.p.id }}</a>)</i>
                          {# huge kluge: tooltip breaks for single place!? #}
                          {% if seq_places|length > 1 %}
                            <span class="float-end me-3"> <span
                              class="seq-visible">id: {{ cp.p.id }}; seq:{{ cp.seq }}</span>
                              <a class="mark-place" href="#" title="Remove from collection" rel="tooltip"
                                 data-pid="{{ cp.p.id }}" data-col="{{ object.id }}">
                                <i class="fas fa-minus-square" style="color:#ff8080"></i></a>
                            </span>
                          {% else %}
                            <span class="float-end me-1">
                              <a class="mark-place" href="#" title="Remove from collection"
                                 data-pid="{{ cp.p.id }}"
                                 data-col="{{ object.id }}">
                                <i class="fas fa-minus-square" style="color:#ff8080"></i></a>
                            </span>
                          {% endif %}
                          <!-- annotated in THIS collection? -->
                          {% for t in cp.p.traces.all %}
                            {% if t.saved and t.collection.id == object.id and not t.archived %}
                              <i class="red-head ms-3">annotated</i>
                            {% endif %}
                          {% endfor %}
                        </p>
                      </div>
                    {% endfor %}
                  {% else %}
                    {% if action == 'update' %}
                      <p class="larger mb-0 strong">How to add places</p>
                      <ul>
                        <li>
                          <sr>From a Place Portal page</sr>
                          . Use the Search page to find the place you're looking for,
                          navigate to its "Portal Page" and choose <i>one</i> of the
                          attestations found there.
                        </li>
                        <li>
                          <sr>From a public dataset's Browse page</sr>
                          . Find a dataset of interest on the
                          Public Datasets list, select the "Browse" tab, then select any
                          number of records.
                          A popup form will offer a list of your collections they can be
                          added to.
                        </li>
                        <li>
                          <sr>From one or more of your own datasets.</sr>
                          . You can add <b>all</b> of the places from
                          any of your own datasets. Further instructions are found on
                          Datasets tab to the left of this one.
                        </li>
                      </ul>
                    {% endif %}
                    {% if action == 'create' %}{% endif %}
                  {% endif %}
                </div>
              </div>
              {# builder_content #}
            </div>
            {# builder col-sm-6#}
            {% if action == 'update' %}
              <div class="col-sm-6 ps-2" id="coll_right" style="height: auto;">
                <div id="coll_right_intro" class="hidden">
                  <h5>Collections in WHG</h5>
                  <p>A
                    <mark-b>collection</mark-b>
                    is a set of existing WHG place records.
                  </p>
                  <p>Registered users can build a collection by</p>
                  <ol class="mb-1 ps-4">
                    <li>Filling the required fields in the "Create" form</li>
                    <li>Adding individual place records from any public dataset, discovered by
                      search or browsing
                      <br/> <b class="red-bold">and/or</b></li>
                    <li>Adding one or more entire datasets for which they are the owner or a
                      collaborator
                    </li>
                  </ol>
                  <p>Places added to a collection by either method (step #2 or step #3) appear in
                    the list viewed
                    under the "Places" tab.</p>
                  <p>Optionally, each place in a collection can be annotated with information
                    about its membership
                    in the collection: </p>
                  <ul class="mb-1 ps-4">
                    <li>associated dates or temporal order</li>
                    <li>one of the optional "relation tags" included in the collection
                      metadata
                    </li>
                    <li>a free-text description of the relation</li>
                  </ul>
                  <p>[<i>figure</i>]</p>
                </div>
                {% if seq_places|length > 0 %}
                  <div id="coll_right_anno">
                    <h6>Annotations</h6>
                    <div id="annotator" class="mb-1">
                      {% if action == 'update' %}
                        <h5 class="mt-3">Select a place record from list to annotate
                          it.</h5>
                      {% endif %}
                    </div>
                  </div> <!-- coll_right_anno -->
                {% endif %}
              </div>
            {% endif %}
          </div>
          {# d-flex #}
        </div>
        {# manage collaborators #}
        {% if action == 'update' %}
        <div id="coll_collaborators" class="tab-pane fade h-100">
          <form id="sharing_form" method="POST" action="{% url 'collection:collab-add' cid=object.id %}"
                enctype="multipart/form-data">
            {% csrf_token %}
            <div class="sharing-box my-3 w-50">
              <div class="sharing-header mb-0 ps-2 strong">Collaborators</div>
              <div class="smallish" style="padding-left: .3rem;">
                <p class="">Collaborators are registered WHG users, assigned per collection.</p>
                <p>
                  <sr>Members</sr> can add places and annotate them.
                  <br/>
                  <sr>Co-owners</sr> can perform all actions.
                </p>
              </div>
              {% if user.is_superuser or is_owner %}
                <div class="">
                  <div class="form-check form-check-inline sharing-input ps-1">
              <span class="input-group">
                <input type="text" class="form-control input-sm" name="username"
                       placeholder="Enter username">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-outline-secondary" type="submit">Add</button>
                </div>
              </span>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input hover" type="radio" name="role"
                           id="r_place" value="member" checked="checked">
                    <label class="form-check-label" for="r_place">Member</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input hover" type="radio" name="role"
                           id="r_trace" value="owner">
                    <label class="form-check-label" for="r_trace">Co-owner</label>
                  </div>
                </div>
              {% endif %}
              <ul id="collabs_list" class="mt-2">
                {% for c in collabs %}
                  <li>
                    {{ c|safe }} <!-- username, bold -->
                    {% if is_admin or owner %}
                      <span class="float-end me-2">
                <a id="remove_collab" data-uid="{{ c.user_id }}" href="#">
{#                       href="{% url 'collection:collab-remove' uid=c.user_id cid=object.id %}">#}
                <i class="fas fa-times-circle linky"></i></a></span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </form>
        </div>
        {% endif %}
      </div> {# content #}
      <div class="selector py-3"><div id="helpme"></div></div>
    </div> {# h-100 #}
  {% endif %}
</div> <!-- container -->

<script type="text/javascript">
  const object_id = "{{ object.id }}";
  const place_list = "{{ place_list }}";
  const csrf_token = "{{ csrf_token }}";
  const create_link_url = "{% url 'create-link' %}";
</script>

{% endblock %} {# content #}

{% block deferredScripts %}

   	var scripts = [
		{
			src: '{% static 'webpack/builders-collection-place.bundle.js' %}',
			type: 'module',
		},
   	]

{% endblock %}
