<!--
id, owner, title, type, title, description, ccodes, geojson, created
-->

{% if areas %}
  <div class="list-options" style="display: flex; justify-content: flex-end; align-items: center;">
    <div style="display: flex; align-items: center; margin-right: auto;">
      <div class="input-group" style="width: 300px; max-width: 100%; margin-left:47px;">
        <input type="text" id="title_search" class="filter-input form-control"
               name="title" value="{{ filters.title|default_if_none:'' }}"
               placeholder="Search titles">
        <span class="input-group-text">
          <button class="btn btn-outline-secondary border-0 bg-transparent p-0"
                  type="button" id="clear_search">
            <i class="fa fa-times"></i>
          </button>
        </span>
      </div>
    </div>
    <div style="display: flex; align-items: center; margin-right: 10px;">
      {% if filtered %}
        <span class="me-3"><a href="javascript:location.reload()">reset</a></span>
      {% endif %}
      <label for="area_type" style="margin-right: 10px;">Type:</label>
      <select id="area_type" class="filter-input form-control" name="type">
        <option value="all" {% if filters.type == 'all' %}selected{% endif %}>All</option>
        <option value="drawn" {% if filters.type == 'drawn' %}selected{% endif %}>Drawn</option>
        <option value="ccodes" {% if filters.type == 'ccodes' %}selected{% endif %}>Countries</option>
      </select>
    </div>
    <div style="display: flex; align-items: center;">
      <select id="owners" class="filter-input form-control" name="owner">
        <option value="all" {% if filters.owner == 'all' %}selected{% endif %}>All owners</option>
        <option value="staff" {% if filters.owner == 'staff' %}selected{% endif %}>Staff</option>
        <option value="contributors" {% if filters.owner == 'contributors' %}selected{% endif %}>Contributors</option>
      </select>
    </div>
  </div>
  <table id="table_ds" class="table table-striped">
    <thead class="small strong">
      <th>id</th>
      <th>title <i class="fa fa-sort ms-1" data-id="title" ref="asc"></i></th>
      <th>created <i class="fa fa-sort ms-1" data-id="created" ref="asc" title="UTC"></i></th>
      <th>description <i class="fa fa-sort ms-1" data-id="description" ref="asc"></i></th>
      <th>type <i class="fa fa-sort ms-1" data-id="type" ref="asc"></i></th>
      <th>owner <i class="fa fa-sort ms-1" data-id="owner" ref="asc"></i></th>
    </thead>
    <tbody>
      {% for item in areas %}
        <tr class="place-row">
          <td>{{ item.id }}</td>
          <td>
            <a href="{% url 'areas:area-update' item.id %}" rel="tooltip">
            {{ item.title }}</a>
          </td>
          <td class="small">{{ item.created }}</td>
          <td>{{ item.description|truncatechars:40 }}</td>
          <td>{{ item.type }}</td>
	        {% if is_admin %}
        	  <td>{{ item.owner.name }}</td>
	        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>No areas meet those criteria, <a href="javascript:location.reload()">refresh</a></p>
{% endif %}
