{% if collections %}
  <table id="table_collections"class="table table-striped">
    <thead class="small">
      <th>id</th>
      <th>type</th>
      <th>title</th>
      <th></th>
      <th>count</th>
      <th>created</th>
      <th>owner</th>
      <th>status</th>
    </thead>
    <tbody>
      {% for c in collections %}
        <tr class="place-row">
          <td>
            {{ c.id }}
          </td>
          <td><span class="{{ c.collection_class }} p-1">{{ c.collection_class }}</span></td>
          <td>
            {{ c.title }}
            {% if not user == c.owner %}
              <span class="smaller ms-2">
                <i class="small fa fa-users" style="color:grey;"></i></span>
            {% endif %}
          </td>
					<td class="no-wrap">
				    {% if c.collection_class == 'dataset' %}
			        <a href="{% url 'collection:ds-collection-browse' c.id %}">view</a>&nbsp;
			        <a href="{% url 'collection:ds-collection-update' c.id %}">edit</a>
				    {% elif c.collection_class == 'place' %}
			        <a href="{% url 'collection:place-collection-browse' c.id %}">view</a>&nbsp;
			        <a href="{% url 'collection:place-collection-update' c.id %}">edit</a>
				    {% endif %}
					</td>
          <td>{{ c.rowcount }}</td>
					<td class="small">{{ c.created|date:"Y-m-d, H:i" }}</td>
          <td>{{ c.owner.name }}</td>
          <td>{{ c.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>You have no collections. Create one now?</p>
		<p><a href="{% url 'collection:place-collection-create' %}">Place Collection builder</a></p>
		<p><a href="{% url 'collection:ds-collection-create' %}">Dataset Collection builder</a></p>
{% endif %}

