{% if collections %}
  <div class="list-options" style="display: flex; justify-content: flex-end; align-items: center;">
    <div style="display: flex; align-items: center; margin-right: auto;">
      <div class="input-group" style="width: 300px; max-width: 100%; margin-left:47px;">
        <input type="text" id="title_search" class="filter-input form-control"
               name="title" value="{{ filters.title|default_if_none:'' }}"
               placeholder="Search titles">
        <span class="input-group-text">
          <button class="btn btn-outline-secondary border-0 bg-transparent p-0"
                  type="button" id="clear_search">
            <i class="fa fa-times"></i>
          </button>
        </span>
      </div>
    </div>
     <div style="display: flex; align-items: center; margin-right: 10px;">
      {% if filtered %}
        <span class="me-3"><a href="javascript:location.reload()">reset</a></span>
      {% endif %}
      <label for="coll_class" style="margin-right: 10px;">Type:</label>
      <select id="coll_class" class="filter-input form-control" name="class">
        <option value="all" {% if filters.class == 'all' %}selected{% endif %}>All</option>
        <option value="place" {% if filters.class == 'place' %}selected{% endif %}>Place</option>
        <option value="dataset" {% if filters.class == 'dataset' %}selected{% endif %}>Dataset</option>
        <option value="builder" {% if filters.class == 'builder' %}selected{% endif %}>Builder</option>
      </select>
    </div>
    <div style="display: flex; align-items: center; margin-right: 10px;">
      <label for="coll_status" style="margin-right: 10px;">Status:</label>
      <select id="coll_status" class="filter-input form-control" name="status">
        <optgroup label="">
          <option value="all" {% if filters.status == 'all' %}selected{% endif %}>All</option>
          <option value="sandbox" {% if filters.status == 'sandbox' %}selected{% endif %}>Sandbox</option>
          <option value="demo" {% if filters.status == 'demo' %}selected{% endif %}>Demo</option>
        </optgroup>
        <optgroup label="">
          <option value="group" {% if filters.status == 'group' %}selected{% endif %}>Group</option>
          <option value="reviewed" {% if filters.status == 'reviewed' %}selected{% endif %}>Reviewed</option>
          <option value="nominated" {% if filters.status == 'nominated' %}selected{% endif %}>Nominated</option>
          <option value="published" {% if filters.status == 'published' %}selected{% endif %}>Published</option>
        </optgroup>
      </select>
    </div>
    <div style="display: flex; align-items: center;">
      <select id="owners" class="filter-input form-control" name="owner">
        <option value="all" {% if filters.owner == 'all' %}selected{% endif %}>All owners</option>
        <option value="staff" {% if filters.owner == 'staff' %}selected{% endif %}>Staff</option>
        <option value="contributors" {% if filters.owner == 'contributors' %}selected{% endif %}>Contributors</option>
      </select>
    </div>
  </div>
  <table id="table_collections"class="table table-striped">
    <thead class="small">
      <th>id</th>
      <th>title <i class="fa fa-sort ms-1" data-id='title'></i></th>
      <th>count</th>
      <th>type <i class="fa fa-sort ms-1" data-id='collection_class'></i></th>
      <th>modified <i class="fa fa-sort ms-1" data-id='last_modified'></i></th>
      <th>status <i class="fa fa-sort ms-1" data-id='status'></i></th>
      <th>owner <i class="fa fa-sort ms-1" data-id='owner'></i></th>
    </thead>
    <tbody>
      {% for c in collections %}
        <tr class="place-row">
          <td>{{ c.id }}</td> <!-- id -->
          <td>
            {% if c.collection_class == 'place' %}
              <a href="{% url 'collection:place-collection-browse' c.id %}">{{ c.title }}</a>
            {% elif c.collection_class == 'dataset' %}
              <a href="{% url 'collection:ds-collection-browse' c.id %}">{{ c.title }}</a>
            {% else %}
              {{ c.title }}
            {% endif %}
            <span class="float-end me-2">
              {% if c.collection_class == 'place' %}
                <a href="{% url 'collection:place-collection-update' c.id %}">
                  <i class="fa fa-edit"></i>
                </a>
              {% elif c.collection_class == 'dataset' %}
                <a href="{% url 'collection:ds-collection-update' c.id %}">
                  <i class="fa fa-edit"></i>
                </a>
              {% else %}
                {{ c.title }}
              {% endif %}
            </span>
          </td> <!-- title -->
          <td>
            {% if c.collection_class == 'place' %}
              {{ c.annos.count }} places
            {% elif c.collection_class == 'dataset' %}
              {{ c.datasets.count }} datasets
{#              {{ c.count }}#}
            {% else %}
              0  {# Fallback in case neither condition is met #}
            {% endif %}
          </td>
          <td>{{ c.collection_class }}</td> <!-- type -->
					<td class="small">{{ c.log.last.timestamp|date:"Y-m-d" }}</td> <!-- modified -->
          <td>{{ c.status }}</td> <!-- status -->
          <td>{{ c.owner.name }}</td> <!-- owner -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>No collections met that criteria, <a href="javascript:location.reload()">refresh</a></p>
{% endif %}

