{% if groups %}
 <div class="list-options" style="display: flex; justify-content: flex-end; align-items: center;">
    <div style="display: flex; align-items: center; margin-right: auto;">
      <input type="text" id="title_search" class="form-control"
             style="width: 300px; max-width: 100%; margin-left:47px;" placeholder="Search titles">
    </div>
    <div style="display: flex; align-items: center; margin-right: 10px;">
      <label for="coll_status" style="margin-right: 10px;">Status:</label>
      <select id="coll_status" class="filter-input form-control" name="coll_status">
          <option value="all">All</option>
          <option value="sandbox">Sandbox</option>
          <option value="demo">Demo</option>
        <optgroup label="">
          <option value="group">Group</option>
          <option value="reviewed">Reviewed</option>
          <option value="nominated">Nominated</option>
          <option value="published">Published</option>
        </optgroup>
      </select>
    </div>
    <div style="display: flex; align-items: center;">
      <select id="owners" class="filter-input form-control" name="owners">
        <option value="all">All owners</option>
        <option value="staff">Staff</option>
        <option value="contributors">Contributors</option>
      </select>
    </div>
  </div>
  <table id="table_groups"class="table table-striped">
    <thead class="small">
      <th>id</th>
      <th>title</th>
      <th>type</th>
      <th>count</th>
      <th>created</th>
      <th>owner</th>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td>{{ group.id }}</td>
          <td><a href="{% url 'collection:collection-group-detail' group.id %}">{{ group.title }}</a></td>
          <td>{{ group.type }}</td>
          <td>{{ group.collection_set.count }}</td>
          <td>{{ group.created }}</td>
          <td>{{ group.owner }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>You have no groups yet <a href="{% url 'collection:collection-group-create' %}">Create one?</a></p>
{% endif %}
