{% if groups %}
 <div class="list-options" style="display: flex; justify-content: flex-end; align-items: center;">
    <div style="display: flex; align-items: center; margin-right: auto;">
      <input type="text" id="title_search" class="filter-input form-control"
             name="title" style="width: 300px; max-width: 100%; margin-left:47px;" placeholder="Search titles">
    </div>
    <div style="display: flex; align-items: center; margin-right: 35px;">
      <label for="group_type" style="margin-right: 10px;">Category:</label>
      <select id="group_type" class="filter-input form-control" name="type">
          <option value="all">All</option>
          <option value="class">Class</option>
          <option value="workshop">Workshop</option>
      </select>
    </div>
    <div style="display: flex; align-items: center;">
      <select id="owners" class="filter-input form-control" name="owner">
        <option value="all">All owners</option>
        <option value="staff">Staff</option>
        <option value="non-staff">Users</option>
      </select>
    </div>
  </div>
  <table id="table_groups"class="table table-striped">
    <thead class="small">
      <th>id</th>
      <th>title <i class="fa fa-sort ms-1" data-id="title" ref="asc"></i></th>
      <th>count <i class="fa fa-sort ms-1" data-id="count" ref="asc"></i></th>
      <th>created <i class="fa fa-sort ms-1" data-id="created" ref="asc"></i></th>
      <th>category <i class="fa fa-sort ms-1" data-id="type" ref="asc"></i></th>
      <th>owner <i class="fa fa-sort ms-1" data-id="owner" ref="asc"></i></th>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td>{{ group.id }}</td>
          <td>
            <a href="{% url 'collection:collection-group-detail' group.id %}">{{ group.title }}</a>
            <span class="float-end me-2"><a href=""><i class="fa fa-edit"></i></a></span>
          </td>
          <td>{{ group.collection_set.count }}</td>
          <td class="small">{{ group.created }}</td>
          <td>{{ group.type }}</td>
          <td>{{ group.owner }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>You have no groups yet <a href="{% url 'collection:collection-group-create' %}">Create one?</a></p>
{% endif %}
