networks:
  {{ ENV_CONTEXT }}:
    driver: bridge
    ipam:
      config:
        - subnet: {{ SUBNET }}

services:

  web:
    networks:
      - {{ ENV_CONTEXT }}
    platform: linux/amd64
    image: {{ DOCKER_IMAGE }}:{{ DOCKER_IMAGE_TAG }}
    container_name: web_{{ ENV_CONTEXT }}_{{ BRANCH }}
    volumes:
      - {{ BASE_DIR }}:/app
      - {{ BASE_DIR }}/entrypoints/entrypoint-web.sh:/entrypoint.sh
    {% if not ENV_CONTEXT == 'local' %}
      - /home/whgadmin/sites/logs/{{ ENV_CONTEXT }}:/app/whg/logs
      - /home/whgadmin/sites/data_dumps:/app/data_dumps
    {% endif %}
    env_file: {{ BASE_DIR }}/.env/.env
    environment:
      - DJANGO_SETTINGS_MODULE=whg.settings
    ports:
      - "{{ APP_PORT }}:{{ APP_PORT }}"
    user: "1000:1000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - {{ DB_HOST }}
{% if ENV_CONTEXT != 'whgazetteer.org' %}
      - webpack
{% endif %}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:{{ APP_PORT }}/health"]
      interval: 60s
      retries: 5
      start_period: 60s
      timeout: 15s

{% if ENV_CONTEXT != 'whgazetteer.org' %}
  webpack:
    networks:
      - {{ ENV_CONTEXT }}
    platform: linux/amd64
    image: node:18
    container_name: webpack_{{ ENV_CONTEXT }}_{{ BRANCH }}
    logging:
      driver: local
    volumes:
      - {{ BASE_DIR }}:/app
    entrypoint: ["/app/entrypoints/entrypoint-webpack.sh"]
{% endif %}

  {{ DB_HOST }}:
    networks:
      - {{ ENV_CONTEXT }}
    platform: linux/amd64
    image: postgis/postgis:15-3.4
    container_name: postgres_{{ ENV_CONTEXT }}_{{ BRANCH }}
    ports:
      - "127.0.0.1:{{ DB_PORT }}:{{ DB_PORT_INTERNAL }}"
    volumes:
    {% if ENV_CONTEXT == 'local' %}
      - dev-db-data:/var/lib/postgresql/data
      - {{ BASE_DIR }}/entrypoints/entrypoint-postgres-local.sh:/docker-entrypoint-initdb.d/10_postgis.sh
      - {{ BASE_DIR }}/data:/app/data
    {% else %}
      - /home/whgadmin/databases/{{ ENV_CONTEXT }}:/var/lib/postgresql/data
      - {{ BASE_DIR }}/server-admin/restore_db_from_dump.sh:/tmp/restore_db_from_dump.sh
    {% endif %}
      - {{ BASE_DIR }}/compose/pg_hba.conf:/etc/postgresql/pg_hba.conf
    env_file: {{ BASE_DIR }}/.env/.env
    command: ["postgres", "-c", "hba_file=/etc/postgresql/pg_hba.conf"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 60s
      retries: 5
      start_period: 60s
      timeout: 15s

  redis:
    networks:
      - {{ ENV_CONTEXT }}
    platform: linux/amd64
    image: redis:bullseye
    container_name: redis_{{ ENV_CONTEXT }}_{{ BRANCH }}
    ports: 
      - "{{ REDIS_PORT }}:6379"
    {% if not ENV_CONTEXT == 'local' %}
    volumes:
      - /home/whgadmin/sites/logs/{{ ENV_CONTEXT }}:/app/whg/logs
    {% endif %}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 60s
      retries: 5
      start_period: 60s
      timeout: 15s

  celery_worker:
    networks:
      - {{ ENV_CONTEXT }}
    image: {{ DOCKER_IMAGE }}:{{ DOCKER_IMAGE_TAG }}
    container_name: celery-worker_{{ ENV_CONTEXT }}_{{ BRANCH }}
    hostname: celery_worker
    volumes:
      - {{ BASE_DIR }}:/app
      - {{ BASE_DIR }}/entrypoints/entrypoint-celery.sh:/entrypoint.sh
    {% if ENV_CONTEXT == 'local' %}
      - /etc/docker/certs:/certs
    {% else %}
      - /home/whgadmin/sites/logs/{{ ENV_CONTEXT }}:/app/whg/logs
      - /home/whgadmin/sites/data_dumps:/app/data_dumps
      - /home/whgadmin/docker-certs/ca/ca.pem:/certs/ca.pem:ro
      - /home/whgadmin/docker-certs/client/client-cert.pem:/certs/client-cert.pem:ro
      - /home/whgadmin/docker-certs/client/client-key.pem:/certs/client-key.pem:ro
    {% endif %}
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file: {{ BASE_DIR }}/.env/.env
    environment:
      - DJANGO_SETTINGS_MODULE=whg.settings
      - DOCKER_HOST=tcp://{{ DOCKER_HOST_IP }}
      - DOCKER_TLS_VERIFY=1
      - DOCKER_CERT_PATH=/certs
    depends_on:
      - redis
      - {{ DB_HOST }}
    restart: unless-stopped

  celery_beat:
    networks:
      - {{ ENV_CONTEXT }}
    image: {{ DOCKER_IMAGE }}:{{ DOCKER_IMAGE_TAG }}
    container_name: celery-beat_{{ ENV_CONTEXT }}_{{ BRANCH }}
    volumes:
      - {{ BASE_DIR }}:/app
      - {{ BASE_DIR }}/entrypoints/entrypoint-celery-beat.sh:/entrypoint.sh
    {% if not ENV_CONTEXT == 'local' %}
      - /home/whgadmin/sites/logs/{{ ENV_CONTEXT }}:/app/whg/logs
      - /home/whgadmin/sites/data_dumps:/app/data_dumps
    {% endif %}
    env_file: {{ BASE_DIR }}/.env/.env
    environment:
      - DJANGO_SETTINGS_MODULE=whg.settings
    depends_on:
      - redis
      - {{ DB_HOST }}
    restart: unless-stopped

  flower:
    networks:
      - {{ ENV_CONTEXT }}
    image: {{ DOCKER_IMAGE }}:{{ DOCKER_IMAGE_TAG }}
    container_name: celery-flower_{{ ENV_CONTEXT }}_{{ BRANCH }}
    ports:
      - "{{ FLOWER_PORT }}:5555"
    volumes:
      - {{ BASE_DIR }}:/app
      - {{ BASE_DIR }}/entrypoints/entrypoint-flower.sh:/entrypoint.sh
    {% if not ENV_CONTEXT == 'local' %}
      - /home/whgadmin/sites/logs/{{ ENV_CONTEXT }}:/app/whg/logs
      - /home/whgadmin/sites/data_dumps:/app/data_dumps
    {% endif %}
    env_file: {{ BASE_DIR }}/.env/.env
    environment:
      - DJANGO_SETTINGS_MODULE=whg.settings
    depends_on:
      - redis
      - {{ DB_HOST }}
    restart: unless-stopped
    
{% if ENV_CONTEXT == 'dev-whgazetteer-org' %}
  wordpress:
    networks:
      - {{ ENV_CONTEXT }}
    image: wordpress:6.6.1-php8.2-fpm-alpine
    container_name: wordpress_{{ ENV_CONTEXT }}_{{ BRANCH }}
    ports:
      - "9000:9000"
    volumes:
      - /home/whgadmin/sites/wp-whgazetteer-org/wordpress:/var/www/html
    env_file: {{ BASE_DIR }}/.env/.wordpress
    environment:
      - WORDPRESS_DB_HOST=wordpress_db:3306
      - WORDPRESS_DB_USER=${MYSQL_USER}
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_DB_NAME=${MYSQL_DATABASE}
    depends_on:
      - wordpress_db
    restart: unless-stopped
      
  wordpress_db:
    networks:
      - {{ ENV_CONTEXT }}
    image: mysql:8.0
    container_name: wordpress_db_{{ ENV_CONTEXT }}_{{ BRANCH }}
    env_file: {{ BASE_DIR }}/.env/.wordpress
    volumes:
      - /home/whgadmin/sites/wp-whgazetteer-org/dbdata:/var/lib/mysql
    command: '--default-authentication-plugin=mysql_native_password'
    restart: unless-stopped
{% endif %}

{% if ENV_CONTEXT == 'local' %}
volumes:
  app:
  dev-db-data:
{% endif %}
    
