{% extends "main/base_webpack.html" %}
{% load static %}
{% load dataset_extras %}

{% block title %}<title>WHG::Teaching</title>{% endblock %}

{% block maplibre %}
	<script type="text/javascript">
		const loadMaplibre = true;
	</script>
	<link href="{% static 'webpack/whg_maplibre.bundle.css' %}" rel="stylesheet" /> 
{% endblock %}

{% block extra_head %}
    <style>
      p {color: black;}
      #teaching_content {
        height: 100%;
        margin: 0;
      }
      .row .col-sm-4, .row .col-sm-8 {
        max-height: 100%;
      }
      #teaching_essay {height: 85%; overflow: auto; }
      #essay_modal {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2rem;}
      #collections {
        font-size: 0.9rem;
        color: #000;
      }
      .resource-gallery {background-color:rgb(238, 238, 238); overflow:auto; border-bottom: 1px solid gainsboro;}
      .gallery-banner {border-bottom: 1px solid lightgray;
        background-color:rgb(60, 136, 148); color: white;}
      .gallery-card {border: 1px solid gainsboro; border-radius: 5px; box-shadow: 2px 2px rgb(240, 240, 240); }
      .reset-link {float:right; display:none; color:white; text-decoration-line: underline;}
      .teaching-essay {outline: rgb(60, 136, 148) 1px solid; box-shadow: 4px 4px rgb(221, 221, 221);
        border-radius: 4px; background-color: ivory; min-height:auto; overflow-y: auto;}
      .resource-card {float:left; margin-right:.1rem;
        width: 33%; height: 175px; overflow-y:auto; background-color: white;}
      .resource-card:hover {cursor: pointer; opacity:0.8;}
      .resource-card-header {width:100%; background-color: honeydew;}
      .resource-card-content h6 {font-size: .9rem;}
      .resource-card-blurb {line-height: 1rem; font-size: small;}
      .scrolling-div {max-height: calc(100vh - 500px); overflow: auto;}
      #main {
        position: relative;
        border: 1px solid black;
        border-radius: 8px;
        /* height: 100%; */
        width: 100%;
        overflow:hidden;
      }
      /* .leaflet-container-default {height: 250px !important;} */
      .regions-ttlink {color:grey; font-size:.75rem; float:right; text-decoration-line: underline;}
      #teaching_bottom {height:65%;}
      #teaching_top {height:230px;}
      #badge_link { font-size:1rem; position:absolute; right:10px; z-index:100;}
      .fill-grey {background-color:gainsboro; }
      .fill-blue {background-color:rgb(60, 136, 148); }
      #region_label {font-family: 'Raleway', sans-serif !important; font-size:1rem; color: tomato;}
      
      #map {
      	height: 300px;
      }
      .scrolling-div {
      	max-height: 400px;
      }
	  select.form-select {
	    width: 100%;
	  }
	  .select2 {
		width: calc(100% - 36px)!important;
	  }
	   span.select2-selection {
	    border: 1px solid #ced4da !important;
	    border-radius: 0.375rem !important;
	    border-top-right-radius: 0 !important;
	    border-bottom-right-radius: 0 !important;
	  }
	  .select2-container--default .select2-search--inline .select2-search__field{
		width:initial!important;
	  }
	  #clearButton {
	    border: 1px solid #ced4da !important;
	  }      
      #spatial_selector > * {
      	margin-top: 0.5rem;
      }

    </style>
{% endblock %}

{% block content %}

	<div class="container">
    <div class="row">
      <div id="teaching_title" class="col-12 text-center">
        <h3>Teaching with World Historical Gazetteer</h3>
      </div>
    </div>
    <div id="teaching_content" class="row">
      <div class="col-4">
        <div>
          <p>Place names&mdash;their origins, changes over time, and reflections of identity&mdash;can provide a fascinating and
            revealing lens through which to explore history. Used with the interactive tools of digital history,
            the study of place names brings new, deeper, and broader connections to our understanding of patterns
            of historical change.</p>
        </div>
        <div class="teaching-essay p-2">
          <div id="">
          <h5 class="mb-0 strong">Place in World History</h5>
          <p class="my-1">
            <a href="https://www.worldhistory.pitt.edu/people/ruth-mostern" target="_blank">Ruth Mostern</a>
            <span class="font-italic small ms-2">WHG Project Director</span></p>
          <p class="mb-0" style="font-size:.85rem;">Most of us use the word place without thinking too much about what it means,
            but for historians, place can be a powerful concept. According to the geographer John Agnew, when we say
            that something is a place, we are invoking three ideas.  First, we are talking about something that has
            a <u>location</u>. A place exists somewhere on the surface of the earth. Second, we mean that it has
            a <u>locale</u>. A place is a location that is a setting for social relations. Third, we are referring to
            a <u>sense of place</u>, which means that some  people have had experiences that they associate with
            that location.  In other words, a place is a location in which memorable events have transpired.
            <span class="float-end me-1" data-whg-modal="/media/resources/essay_rm.html"><a href="#" >more...</a></span></p>
          </div>
        </div>
      </div>
      <div class="col-8">
        <ul id="teaching_tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="collections-tab" data-bs-toggle="tab" data-bs-target="#collections"
                  type="button" role="tab" aria-controls="collections" aria-selected="true">Place Collections
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="lessonplans-tab" data-bs-toggle="tab" data-bs-target="#lessonplans"
                  type="button" role="tab" aria-controls="lessonplans" aria-selected="true">Lesson Plans</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="gallery-tab"
                    data-bs-toggle="tab" data-bs-target="#gallery"
                  type="button" role="tab"
                    aria-controls="gallery" aria-selected="true">Student Gallery</button>
          </li>
        </ul>
        <div class="tab-content">
          <div id="collections" class="tab-pane fade show active" role="tabpanel"
               aria-labelledby="collections-tab">
            <p>A <b>Place Collection</b> is a themed set of place records, each annotated to
              indicate the reason for its inclusion. Any WHG user can create one, and they are especially useful in
              teaching or workshop settings using the <b>Collection Group</b> feature.</p>
            <p class="d-block bg-beige mt-3 mb-1 fs-6">Building Place Collections</p>
            <p class="mb-1">After creating a new empty collection, place records can be added in one of two ways: a)
              from search and browse screens on the site, and/or b) by creating a new dataset and adding all of
              its records at once. Details can be found in the documentation, in
              <a href="https://docs.whgazetteer.org/content/001-Introduction.html#thematic-place-collections">an overview</a>; and
              <a href=https://docs.whgazetteer.org/content/100-Tutorials.html#create-and-publish-a-place-collection>a step-by-step guide</a>.
            </p>
              <a href="{% url 'collection:place-collection-create' %}">
              <button id="b_createcoll" class="btn btn-outline-primary btn-sm">Quick start</button></a>
            </p>
            <p class="d-block bg-beige mt-3 mb-1 fs-6">Collection Groups for classes and workshops</p>
            <p>The <b>Collection Group</b> feature in WHG brings together multiple users in the system who are each
              creating a Place Collection in a class or workshop setting. See <a href="https://docs.whgazetteer.org/content/100-Tutorials.html#create-and-manage-a-collection-group-for-a-class-or-workshop">
                Create and manage a collection group</a> for details</p>
            <p>Registered users with <i>group leader</i> permissions are able to create a <b>Collection Group</b>,
              invite members, review submissions, and optionally display a group gallery.</p>
            <p>If you would like to create a Collection Group, just
              <a data-whg-modal="/contact_modal/">let us know</a>.</p>
          </div>
          <div id="lessonplans" class="tab-pane">
            <div id="map"></div>
			<div id="spatial_selector" class="input-group mb-3">			
			    <!-- Select2 input -->
			    <select data-placeholder="Select Region(s)" class="form-select" id="entrySelector" multiple></select>
			
			    <!-- Clear button -->
			    <button data-bs-toggle="tooltip" title="Clear this filter" class="btn btn-outline-secondary clearButton" type="button" id="clearButton"><i class="fas fa-times"></i></button>
			</div>
            <div class="resource-gallery">
              <div class="gallery-banner ps-2 small w-100";>
                TEACHING RESOURCES (showing <span id="resourceCount">{{ total_resources }}</span> of {{ total_resources }})
                <span id="regions_reset" class="reset-link me-2" style="cursor:pointer;">reset filter</span>
              </div>
{#              <div class="header bg-warning">Header</div>#}
              <div class="scrolling-div" style="overflow: auto;">
                {% for r in resource_list %}
                  <div class="resource-card mt-1" data-regions="{{r.region_ids_csv}}">
                    <div class="resource-card-header ps-2 small ">{{ r.type }}
                    </div>
                    <div class="resource-card-content px-2 pt-1" data-id={{r.id}}>
                      {% with remainder=190|add:r.title_length %}
                      <h6><a href="{% url 'resources:resource-detail' r.id %}">{{ r.title }}</a></h6>
                      <p class="resource-card-blurb my-1">{{ r.description|trunc_it:remainder }} </p>
                      {%endwith%}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div id="gallery" class="tab-pane">
            <div class="row pt-2">
              {% if nominated.count > 0 %}
                {% for coll in nominated %}
                <div class="col-sm-6">
                  <div class="gallery-card">
                    <div class="card-header bg-text-primary px-2">
                      <a href="{% url 'collection:place-collection-browse' coll.id %}">{{ coll.title }}</a>
                    </div>
                    <div class="card-body p-2">
                      <p class="my-0">{{ coll.owner.name }}</p>
                      <p class="card-text small">{{ coll.description|truncatechars:300 }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% else %}
              <div class="col-sm-12">
                <p>No student collections yet - coming soon!</p>
              </div>
              {% endif %}
              <!-- Repeat the above div for each card you want to display -->
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block inlineScripts %}
	<script type="text/javascript">
	
	const regions = {{ regions|safe }}
	
	function fetchRegionFeatures() {
	    return $.ajax({
	        url: `/api/area_features/?filter=un&regions=${regions.join(',')}`,
	        method: 'GET',
	        dataType: 'json'
	    });
	}
	
	let whg_map = new whg_maplibre.Map({
	    style: ['whg-basic-light'],
		maxZoom: 13,
		navigationControl: false,
	});

	function waitMapLoad() {
	  return new Promise((resolve) => {
	    whg_map.on('load', () => {
	      whg_map.newSource('un_regions') // Add empty source
	          .newLayerset('un_regions', 'un_regions', 'plain');
	      console.log('Map loaded.');
	      resolve();
	    });
	  });
	}

	function waitDocumentReady() {
	  return new Promise((resolve) => {
	    $(document).ready(() => {
	      console.log('Document ready.');
	      resolve();
	    });
	  });
	}

	Promise.all([
	  waitMapLoad(),
	  waitDocumentReady(),
	  Promise.all(select2_CDN_fallbacks.map(loadResource)),
	]).then(() => {		

		let regionsCollection;
		fetchRegionFeatures().done(function(regionFeatures) {
			// TODO: Add features to map with highlighting - transform to FeatureCollection, with moved ids
			// Update resource count in header
			// Add map click events
			
			regionsCollection = {
	            type: "FeatureCollection",
	            features: regionFeatures.map(function(feature) {
	                return {
	                    type: "Feature",
	                    id: feature.properties.id,
	                    properties: {
	                        title: feature.properties.title,
	                        type: feature.properties.type,
	                        description: feature.properties.description
	                    },
	                    geometry: feature.geometry
	                };
	            })
	        }
			whg_map
			.getSource('un_regions')
			.setData(regionsCollection);
	        whg_map.fitBounds(bbox(regionsCollection));
	        
		    $('#entrySelector')
		    .select2({
		        data: regionFeatures.map(function(feature) {
		            return {
		                id: feature.properties.id,
		                text: feature.properties.title
		            };
		        }),
		        width: 'element',
		        allowClear: false,
		    })
		    .on('change', function() {
		        toggleHighlightsCards($(this).val());
		    })
		    .val(regions).trigger('change');
		    

		    $('.select2-selection').on('click', '.select2-selection__choice__remove', function(evt) {
		        evt.stopPropagation();
		    })

			whg_map.on('mousemove', function(e) {			    
			    const anyUnRegions = whg_map.queryRenderedFeatures(e.point).some(feature => {
			        return feature.layer.id === 'un_regions_polygon';
			    });
			    whg_map.getCanvas().style.cursor = anyUnRegions ? 'pointer' : 'default';
			});
			
			whg_map.on('click', function(e) {
			    const features = whg_map.queryRenderedFeatures(e.point);
			    
			    const unRegionIds = features.reduce((ids, feature) => {
			        if (feature.layer.id === 'un_regions_polygon') {
			            ids.push(feature.id);
			        }
			        return ids;
			    }, []);
			    
			    let currentValues = $('#entrySelector').val() || [];
			    unRegionIds.forEach(regionId => {
			        const index = currentValues.indexOf(regionId.toString());
			        if (index === -1) {
			            currentValues.push(regionId.toString());
			        } else {
			            currentValues.splice(index, 1);
			        }
			    });
			    $('#entrySelector').val(currentValues).trigger('change');
			});

		
		}).fail(function(error) {
		    console.error('Failed to fetch area features:', error);
		});

	    $('#clearButton')
	    .on('click', function() {
	    	$('#entrySelector').val(null).trigger('change');
	    });

	    function toggleHighlightsCards(selectedRegions) {
	        $('.resource-card').each(function() {
	            const card = $(this);
	            const cardRegions = String(card.data('regions')).split(',').map(String);
	            card.toggle(cardRegions.some(region => selectedRegions.includes(region)));
	        });
            if ($('#resourceCount:visible').length > 0) $('#resourceCount').text($('.resource-card:visible').length);
	        regionsCollection.features.forEach(function(feature) {
	        	whg_map.setFeatureState({ source: 'un_regions', id: feature.id }, { highlight: selectedRegions.includes(String(feature.id)) });
	        });
	    }
	    
		let hash = window.location.hash;
		window.location.hash = ""; // Clear the hash to prevent automatic scrolling

		if (hash) {
			let tabTriggerEl = document.querySelector('button[data-bs-target="' + hash + '"]');
			if (tabTriggerEl) {
				console.log('Tab trigger element found:', tabTriggerEl);
				tabTriggerEl.click();
			} else {
				console.log('No tab trigger found for hash:', hash);
			}
		}
		
		// resources
		$(".resource-card-content").click(function() {
			rid = $(this).data('id');
			window.location.href = "/resources/" + rid + "/detail";
		});		
		
	});

	</script>
{% endblock %}

{% block deferredScripts %}
   	
   	var scripts = [
		{
			src: '{% static 'webpack/whg_maplibre.bundle.js' %}',
			type: 'text/javascript',
		},
   	]

{% endblock %}

