{% extends "main/base.html" %}
{% block title %}<title>WHG::</title>{% endblock %}
{% block extra_head %}
  <style>
    body { font-family: 'Raleway', sans-serif; }
  </style>
{% endblock %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="d-flex justify-content-center">
      <h3>{ page title }</h3>
    </div>
    <div id="_content" class="px-5">
    { page content }
    </div>
  </div> <!-- container -->
  <script type="text/javascript">
    // js imports here
  </script>
{% endblock %}
```

