{% extends "main/base.html" %}
{% block title %}<title>WHG::Gazetteer Builder</title>{% endblock %}

{% load static %}
{% block extra_head %}
<style>
.radio-button-group {
  display: flex;
  align-items: center; /* Vertically align items in the center */
}

.radio-button-group label {
  font-size: x-large; /* Your existing style */
  margin-bottom: 0; /* Removes default bottom margin */
  line-height: normal; /* Adjusts line height to better match the radio button's size */
}


		.illustration { height: 200px; width: 100%; background-color: #f0f0f0; /* Placeholder for illustration */ }
  .illustration-text { text-align: center; padding-top: 75px; /* Adjust as needed */ }
  .start-button { margin-top: 20px; text-align: center; }
</style>
{% endblock %}

{% block content %}
<div class="container pt-2 container-md" style="height: calc(100vh - 65px); position:relative;">
	<h3 class="text-center">Build a gazetteer in WHG</h3>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="radio-button-group">
        <input type="radio" id="singleProject" name="projectType" value="single">
        <label for="singleProject">&nbsp;From a single project</label><br>
      </div>
        <div>Building a gazetteer from a single project involves uploading your data, refining it, and then publishing it. Ideal for focused, singular projects.</div>
    </div>
    <div class="col-md-8">
      <div class="illustration illustration-text">
        <!-- Placeholder for single project illustration -->
        <p>Single Project Illustration Here</p>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      <div class="radio-button-group">
        <input type="radio" id="multipleProjects" name="projectType" value="multiple">
        <label for="multipleProjects">&nbsp;From multiple projects</label><br>
      </div>
        <div>Combining data from multiple projects allows for a comprehensive gazetteer. This path involves managing a collection of datasets and interlinking them.</div>
    </div>
    <div class="col-md-8">
      <div class="illustration illustration-text">
        <!-- Placeholder for multiple projects illustration -->
        <p>Multiple Projects Illustration Here</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="start-button">
        <a href="#" id="beginButton" class="btn btn-primary">Begin</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('input[type="radio"][name="projectType"]').change(function() {
      if (this.value == 'single') {
        $("#beginButton").attr("href", "{% url 'builder-single' %}");
      }
      else if (this.value == 'multiple') {
        $("#beginButton").attr("href", "{% url 'builder-multiple' %}");
      }
    });
  });
</script>
{% endblock %}
