<form id="contactForm" method="post" action="{% url 'contact_modal' %}" data-url="/contact_modal/" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">
            <img alt="WHG" height="38" src="/static/images/whg_logo.svg" width="50">
            Contact Us
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div id="contactFormContent">
            <h5 class="mb-3">Questions, bug reports, feature requests, support requests and comments all welcome!</h5>
            <p><i>Developers: You can search for relevant Issues and create your own on our GitHub repository <a
                    href="https://github.com/WorldHistoricalGazetteer/whg3/issues" target="_blank">here</a>.</i></p>

            <table id="contact_form">
                {% if not user.is_authenticated %}
                    <tr>
                        <td>Name</td>
                        <td>
                            {{ form.name }}
                            <div class="invalid-feedback">Please enter your name.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            {{ form.from_email }}
                            <div class="invalid-feedback">Please enter a valid email address.</div>
                        </td>
                    </tr>
                {% else %}
                    {{ form.name.as_hidden }}
                    {{ form.from_email.as_hidden }}
                    {{ form.username }}
                {% endif %}

                <tr>
                    <td>Subject</td>
                    <td>
                        {{ form.subject }}
                        <div class="invalid-feedback">Please enter a subject.</div>
                    </td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>
                        {{ form.message }}
                        <div class="invalid-feedback">Please enter a message.</div>
                    </td>
                </tr>
            </table>

            {% if not user.is_authenticated %}
                <div class="d-flex justify-content-end mt-2 me-2">
                    <div class="cf-turnstile" data-sitekey="{{ TURNSTILE_SITE_KEY }}"></div>
                </div>
            {% endif %}
        </div>

        <div id="confirmationMessage" class="d-none">
            <h5>Thank you!</h5>
            <p>Your message has been sent.</p>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="submit-btn btn btn-primary">Send</button>
        <button type="button" class="btn btn-primary d-none" id="closeButton" data-bs-dismiss="modal">Close</button>
    </div>
</form>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
