{% extends "main/base.html" %}
{% block title %}<title>WHG::Dashboard</title>{% endblock %}

{% block extra_head %}
<style>
    /* Custom Styling */
    .custom-tab {
        padding: 20px 0;
        display: block;
        width: 100%;
        text-align: center;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .custom-tab.list-group-item-action.active {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .tab-content {
        border: 1px solid #ddd;
        padding: 20px;
        border-left: 0; /* Removing the left border */
    }
</style>
{% endblock %}
{% block content %}

<body>
    <div class="container mt-4">
        <div class="row">
            <!-- Vertical tabs on the left (2 cols wide) -->
            <div class="col-2">
                <a class="custom-tab list-group-item list-group-item-action" id="list-tab1-list" data-toggle="list"
                    href="#list-tab1" role="tab" aria-controls="tab1">Tab 1</a>
                <a class="custom-tab list-group-item list-group-item-action" id="list-tab2-list" data-toggle="list"
                    href="#list-tab2" role="tab" aria-controls="tab2">Tab 2</a>
                <a class="custom-tab list-group-item list-group-item-action" id="list-tab3-list" data-toggle="list"
                    href="#list-tab3" role="tab" aria-controls="tab3">Tab 3</a>
                <a class="custom-tab list-group-item list-group-item-action" id="list-tab4-list" data-toggle="list"
                    href="#list-tab4" role="tab" aria-controls="tab4">Tab 4</a>
            </div>

            <!-- Content divs for the tabs on the right (10 cols wide) -->
            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="list-tab1" role="tabpanel"
                        aria-labelledby="list-tab1-list">Content for Tab 1</div>
                    <div class="tab-pane fade" id="list-tab2" role="tabpanel"
                        aria-labelledby="list-tab2-list">Content for Tab 2</div>
                    <div class="tab-pane fade" id="list-tab3" role="tabpanel"
                        aria-labelledby="list-tab3-list">Content for Tab 3</div>
                    <div class="tab-pane fade" id="list-tab4" role="tabpanel"
                        aria-labelledby="list-tab4-list">Content for Tab 4</div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $('.custom-tab').on('click', function() {
            $('.custom-tab').removeClass('active');
            $(this).addClass('active');
        });
    </script>
</body>
{% endblock %}
</html>
