{% extends "main/base.html" %}

{% block extra_head %}
  <style>
    /* Add your custom styles here */
  </style>
{% endblock %}

{% block content %}

<div id="container" class="container mt-4">
  <ul class="nav nav-tabs" id="adminTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="datasets-tab" data-bs-toggle="tab" href="#datasets" role="tab"
         aria-controls="datasets" aria-selected="true">Datasets</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="place-collections-tab" data-bs-toggle="tab" href="#place-collections" role="tab"
         aria-controls="place-collections" aria-selected="false">Place Collections</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="dataset-collections-tab" data-bs-toggle="tab" href="#dataset-collections" role="tab"
         aria-controls="dataset-collections" aria-selected="false">Dataset Collections</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="areas-tab" data-bs-toggle="tab" href="#areas" role="tab" aria-controls="areas"
         aria-selected="false">Areas</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="collection-groups-tab" data-bs-toggle="tab" href="#collection-groups" role="tab"
         aria-controls="collection-groups" aria-selected="false">Collection Groups</a>
    </li>
  </ul>
  <div class="tab-content" id="adminTabsContent">
    <div class="tab-pane fade show active" id="datasets" role="tabpanel" aria-labelledby="datasets-tab">
       Datasets content goes here
    </div>
    <div class="tab-pane fade" id="place-collections" role="tabpanel" aria-labelledby="place-collections-tab">
      Place Collections content goes here
    </div>
    <div class="tab-pane fade" id="dataset-collections" role="tabpanel" aria-labelledby="dataset-collections-tab">
      Dataset Collections content goes here
    </div>
    <div class="tab-pane fade" id="areas" role="tabpanel" aria-labelledby="areas-tab">
      Areas content goes here
    </div>
    <div class="tab-pane fade" id="collection-groups" role="tabpanel" aria-labelledby="collection-groups-tab">
      Collection Groups content goes here
    </div>
  </div>
</div> <!-- .container -->

<script type="application/javascript">
  $(document).ready(function() {
    // Add event listener for tab change
    $('#adminTabs a').on('shown.bs.tab', function(event) {
        var tabId = $(event.target).attr('href').substring(1);  // Get the id of the tab
        loadTabContent(tabId);
    });

    // Load initial tab content
    var initialTabId = $('#adminTabs .nav-link.active').attr('href').substring(1);
    loadTabContent(initialTabId);

    // Add event listeners for the change event on the ds_status and owners selects
    $(document).on('change', '#ds_status', function() {
      console.log('ds_status changed')
        loadTabContent('datasets');
    });
    $(document).on('change', '#owners', function() {
      console.log('owners changed')
        loadTabContent('datasets');
    });
});

// fetch current filter values
function getFilterValues() {
    var owners = document.getElementById('owners').value;
    var ds_status = document.getElementById('ds_status').value;
    var title_search = document.getElementById('title_search').value;

    return {
        'owners': owners,
        'ds_status': ds_status,
        'title_search': title_search
    };
 }

function loadTabContent(tabId) {
    var url;
    switch(tabId) {
        case 'datasets':
            var defaultSort = 'title';
            var defaultOrder = 'asc';
            {#url = '/main/dataset_list/' + defaultSort + '/' + defaultOrder + '/' +#}
            {#      '?owners=' + filters.owners +#}
            {#      '&ds_status=' + filters.ds_status +#}
            {#      '&title_search=' + filters.title_search;#}

            url = '/main/dataset_list/' + defaultSort + '/' + defaultOrder + '/';
            break;
        case 'place-collections':
            url = '/main/collection_list/place/';
            break;
        case 'dataset-collections':
            url = '/main/collection_list/dataset/';
            break;
        case 'areas':
            url = '/main/area_list/';
            break;
        case 'collection-groups':
            url = '/main/group_list/';
            break;
    }
    $.get(url, function(data) {
        // Update the tab content with the new data
        $('#' + tabId).html(data);
        // Get the filter values after the new content has been loaded
        var filters = getFilterValues();
        if (tabId === 'datasets') {
            url += '?owners=' + filters.owners + '&ds_status=' + filters.ds_status +
              '&title_search=' + filters.title_search;
            $.get(url, function(data) {
                // Update the datasets tab content with the filtered data
                $('#datasets').html(data);
            });
        }
    });
}
</script>

{% endblock %} <!-- content -->