{% extends "main/base.html" %}

{% block extra_head %}
  <style>
    body {
      font-family: Raleway, san-serif;
    }
    #container {
      min-height: calc(100vh - 90px);
    }
    .dashboard-box {
      background-color: #fff;
      min-height: 150px;
      border: 1px solid #ccc;
      box-sizing: border-box;
			margin: 5px 0;
	    font-size: small;
	    box-shadow: 2px 2px 2px #ccc;
      border-radius: 5px;
    }
	  .box-header {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 5px 10px;
		  background-color: beige;
	  }
	  .box-header-title {
	    width: 100%;
	    text-align: center;
		  font-size: 1.2rem;
		  font-weight: bold;
	  }
	  .fa-plus {
	    margin-left: auto; /* Aligns the icon to the right */
	  }
    .box-content {
      {#overflow-y: auto;#}
      height: calc(100% - 30px); /* Adjusts height to account for header */
      padding: 10px;
    }
	  .item-div {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 5px;
	    border-bottom: 1px solid #ddd;
	  }
	  .item-div p {
	    margin: 0;
	  }
	  .item-div:last-child {
	    border-bottom: none;
	  }
	  .fa-icon {
	    margin-left: 5px;
  }
  .page-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	  margin-bottom: .5rem;
  }
  .page-title {
    margin: 0 auto; /* Keeps the title centered */
  }
  .profile-link {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  .profile-link i {
    margin-right: 5px;
  }
</style>
{% endblock %}
{% block content %}
<div id="container" class="container mt-1">
  <div class="page-title-container mt-3">
    <h4 class="page-title">{{ user.name }}'s Dashboard</h4>
    <a href="{% url 'profile-edit' %}" class="profile-link" title="{{ user.id }}">
      Profile<i class="fas fa-user mx-2"></i> {{ user.id }}
    </a>
  </div>
  <div class="row">
    <!-- column 1: Datasets -->
    <div class="col-md-4">
    <div class="column-wrapper">
      <div class="dashboard-box">
        <div class="box-header">
          <div class="box-header-title">Datasets</div>
          <a href="{% url 'datasets:dataset-create' %}">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="box-content">
        {% if has_datasets %}
        {% for item in datasets %}
          <div class="item-div row">
          	<div class="col-10">
            <p class="fw-bold red-head">{{ item.title }}</p>
	          <p>
							status: <span class="fw-bold">{{ item.ds_status }}</span>;
							count: <span class="fw-bold">{{ item.places.count }}</span>
            </p>
	          </div>
            <div class="col-2">
              <a href="{% url 'datasets:ds_places' item.id %}" title="view">
	              <i class="fas fa-eye linky"></i></a>
	            <a href="{% url 'datasets:ds_summary' item.id %}" title="edit">
		            <i class="fas fa-edit linky"></i></a>
            </div>
          </div>
        {% endfor %}
        {% else %}
					<p>no datasets yet</p>
				{% endif %}
        </div>
      </div>
    </div>
    </div>

    <!-- column 2: Collections -->
    <div class="col-md-4">
		<div class="column-wrapper">
      <div class="dashboard-box">
        <div class="box-header">
          <div class="box-header-title">Place Collections</div>
          <a href="{% url 'collection:place-collection-create' %}">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="box-content">
          {% if has_collections %}
          {% for item in collections %}
            {% if item.collection_class == 'place' %}
              <div class="item-div row">
                <div class="col-10">
                  <p class="fw-bold red-head">{{ item.title }}</p>
                  <p>
                    type: <span class="fw-bold">{{ item.collection_class }}</span>;
                    status: <span class="fw-bold">{{ item.status }}</span>;
                    count: <span class="fw-bold">{{ item.places_all.count }}</span>
                  </p>
                </div>
                <div class="col-2">
                  <a href="{% url 'collection:place-collection-browse' item.id %}">
                    <i class="fas fa-eye linky"></i></a>
                  <a href="{% url 'collection:place-collection-update' item.id %}">
                    <i class="fas fa-edit linky"></i></a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% else %}
	          <p>no collections yet</p>
        	{% endif %}
        </div>
      </div>
      <div class="dashboard-box">
        <div class="box-header">
          <div class="box-header-title">Dataset Collections</div>
          <a href="{% url 'collection:ds-collection-create' %}">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="box-content">
          {% if has_collections %}
          {% for item in collections %}
            {% if item.collection_class == 'dataset' %}
              <div class="item-div row">
                <div class="col-10">
                  <p class="fw-bold red-head">{{ item.title }}</p>
                  <p>
                    type: <span class="fw-bold">{{ item.collection_class }}</span>;
                    status: <span class="fw-bold">{{ item.status }}</span>;
                    count: <span class="fw-bold">{{ item.places_all.count }}</span>
                  </p>
                </div>
                <div class="col-2">
                  <a href="{% url 'collection:ds-collection-browse' item.id %}">
                    <i class="fas fa-eye linky"></i></a>
                  <a href="{% url 'collection:ds-collection-update' item.id %}">
                    <i class="fas fa-edit linky"></i></a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% else %}
	          <p>no collections yet</p>
        	{% endif %}
        </div>
      </div>
    </div>
	  </div>

    <!-- column 3: Areas, Collection Groups -->
		<div class="col-md-4">
		<div class="column-wrapper">
      <div class="dashboard-box">
        <div class="box-header">
          <div class="box-header-title">Study Areas</div>
          <a href="{% url 'areas:area-create' %}">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="box-content">
          {% if has_areas %}
		        {% for item in areas %}
	          <div class="item-div">
	            <p class="fw-bold red-head">{{ item.title }}</p>
		          <div class="float-end">
								<a href="{% url 'areas:area-update' item.id %}"><i class="fas fa-edit linky"></i></a>
	            </div>
	          </div>
	          {% endfor %}
					{% else %}
	          <p class="ital">no study areas yet</p>
          {% endif %}
        </div>
      </div>
      <div class="dashboard-box mt-3">
        <div class="box-header">
          <div class="box-header-title">Collection Groups</div>
	        {% if is_leader %}
          <a href="{% url 'collection:collection-group-create' %}">
            <i class="fas fa-plus"></i>
          </a>
	        {% endif %}
        </div>
        <div class="box-content">
          {% if is_leader %}
	          {% if groups_led|length > 0 %}
		          <p class="red-head my-0">Leading:</p>
		          {% for item in groups_led %}
			          <div class="item-div">
									{{ item.title }}
				          <div class="float-end">
						        <a href="{% url 'collection:collection-group-detail' item.id %}">
							        <i class="fas fa-eye linky"></i></a>
						        <a href="{% url 'collection:collection-group-update' item.id %}">
							        <i class="fas fa-edit linky"></i></a>
				          </div>
				        </div>
	            {% endfor %}
	          {% else %}
		          <p class="ml-3 ital">no groups led yet</p>
						{% endif %}
					{% endif %}
          {% if groups_member|length > 0 %}
            <p class="mb-0 mt-2">Member of:</p>
          {% endif %}
          <div id="group_list">
            {% for item in groups_member %}
              <div class="item-div">
                <span class="fw-bold red-head" >{{ item.title }}</span>
                <div class="float-end">
                  <a href="{% url 'collection:collection-group-detail' item.id %}">
                    <i class="fas fa-eye linky"></i></a>
                </div>
              </div>
            {% endfor %}
          </div>
          <p class="mt-3">
            Got a group code? <input id="i_cgcode" />
            <button id="b_joingroup" class="btn btn-sm btn-primary">Join</button>
          </p>
        </div>
      </div>
    </div>
		</div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#i_cgcode").val('') // Clear the input field
  $("#b_joingroup").click(function() {
    var code = $("#i_cgcode").val();
    $.ajax({
      url: '/collections/group_join/',  // Update with the actual URL
      type: 'POST',
      data: {
        'join_code': code,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function(response) {
        console.log(response);
        var newGroupHtml = '<p class="mb-0 mt-2">Member of:</p>' +
                            '<div class="item-div">' +
                           '<span class="fw-bold red-head">' + response.cg_title + '</span>' +
                           '<div class="float-end">' +
                           '<a href="/collections/group/'+response.cg_id+'/detail">'+
                            '<i class="fas fa-eye linky"></i></a>' +
                           '</div></div>';
        console.log('newGroupHtml',newGroupHtml);
        // Append the new group to the list
        $('#group_list').append(newGroupHtml);
      }
    });
  });
  $('.linky').tooltip();
});
</script>
{% endblock %}