{% extends "main/base.html" %}

{% block extra_head %}
    <style>
        /* Custom styles for the dashboard */
        .sidebar {
            border-right: 1px solid #ddd;
            height: 100vh; /* Full viewport height */
            padding-top: 20px;
        }
        .profile-info {
            margin-bottom: 20px;
            text-align: center;
        }
        .sidebar-nav-item {
            display: block;
            padding: 10px;
            margin: 5px 0;
            text-align: center;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 5px;
        }
        .sidebar-nav-item:hover,
        .sidebar-nav-item.active {
            background-color: #f8f9fa;
            border: 1px solid #ddd;
        }
      .main-content {
          padding: 20px;
      }
			.profile-placeholder {
			    width: 100px;
			    height: 100px;
			    background-color: #f2f2f2;
			    border-radius: 50%;  /* circle */
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    font-size: 50px;  /* Adjust based on your preference */
			    font-weight: bold;  /* Makes the letter thicker */
			    line-height: 1;  /* Ensures the letter is vertically centered */
			    vertical-align: middle;
			    margin-bottom: 1rem;
					margin-left: auto;
          margin-right: auto;
			}

			#dashboard_header {
					{#text-align: center;#}
					background-color: #F9EAD7;
					border-radius: 5px;
					box-shadow: #e5e5e5;
			}

    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <!-- Profile Info -->
                <div class="profile-info">
	                <div class="profile-placeholder">{{ user.name|first }}</div>
                    <h5>{{ user.name }}</h5>
                </div>
                <!-- Sidebar Navigation -->
                <a href="{% url 'main:dataset-list' %}" class="sidebar-nav-item">Datasets</a>
                <a href="{% url 'main:collection-list' %}" class="sidebar-nav-item">Collections</a>

{#								<a href="{% url 'main:dataset-list' %}"#}
{#								   class="sidebar-nav-item datasets {% if section == 'datasets' %}active{% endif %}">Datasets</a>#}
{#								<a href="{% url 'main:collection-list' %}"#}
{#								   class="sidebar-nav-item collections {% if section == 'collections' %}active{% endif %}">Collections</a>#}
{#								<a href="{% url 'main:area-list' %}"#}
{#								   class="sidebar-nav-item areas {% if section == 'areas' %}active{% endif %}">Study Areas</a>#}


                <a href="{% url 'main:area-list' %}" class="sidebar-nav-item">Study Areas</a>
                {% if user.role == 'group_leader' %}
                  <a href="{% url 'main:group-list' role='leader' %}" class="sidebar-nav-item">Groups</a>
                {% else %}
	                <a href="{% url 'main:group-list' role='member' %}" class="sidebar-nav-item">Groups</a>
                {% endif %}
            </div>

            <!-- Main Content -->
            <div class="col-md-9 ">
{#              {{ section }}#}
              <div id="dashboard_header" class="fs-4 text-center">Dashboard</div>
              <div class="main-content">
						    {% if has_datasets %}
						        {% include "lists/dataset_list.html" %}
						    {% elif has_collections %}
						        {% include "lists/collection_list.html" %}
						    {% else %}
						        {% include "lists/dataset_list.html" %}
						    {% endif %}
                <!-- Content for the selected sidebar item goes here -->
              </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
    activeSection = "{{ section }}";

    {#$('.sidebar-nav-item.' + activeSection).trigger('click');#}

    {#console.log("Document is ready");#}

    var activeSection = "{{ section }}";
    {#console.log("Active section:", activeSection);#}

    // Log the element you are trying to click on
    {#console.log($('.sidebar-nav-item.' + activeSection));#}

    // Trigger the click after a delay
    {#setTimeout(function() {#}
    {#    console.log("Attempting to trigger click for section:", activeSection);#}
    {#    $('.sidebar-nav-item.' + activeSection).trigger('click');#}
    {# }, 100);#}


    $('.sidebar-nav-item').on('click', function(e) {
        e.preventDefault();  // Prevent default navigation

        var targetUrl = $(this).attr('href');
				console.log('targetUrl',targetUrl )

        // Fetch content via AJAX
        $.get(targetUrl, function(data) {
            $('.main-content').html(data);  // Update the main content div
        });

        // Highlight the active sidebar item
        $('.sidebar-nav-item').removeClass('active');
        $(this).addClass('active');
    });
});
</script>

{% endblock %}

