{% extends "main/base.html" %}

{% block extra_head %}
<style>
  .scrollable-table {
    max-height: 550px;
    overflow-y: auto;
    display: block;
  }
</style>
{% endblock %}

{% block content %}

  <div id="container" class="container mt-2">
    <div id="loading_spinner" class="text-center"
         style="position: absolute; top: 180px; left:200px; display:none;">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
    <div class="ps-2"><h5>Admin Dashboard</h5></div>
    <ul class="nav nav-tabs" id="adminTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="datasets-tab" data-bs-toggle="tab" href="#datasets" role="tab"
           ref="dataset" aria-controls="datasets" aria-selected="true">Datasets</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="collections-tab" data-bs-toggle="tab" href="#collections" role="tab"
           ref="pcoll" aria-controls="collections" aria-selected="false">Collections</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="areas-tab" data-bs-toggle="tab" href="#areas" role="tab" aria-controls="areas"
           ref="area" aria-selected="false">Areas</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="collection-groups-tab" data-bs-toggle="tab" href="#groups" role="tab"
           ref="group" aria-controls="groups" aria-selected="false">Collection Groups</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tools-tab" data-bs-toggle="tab" href="#tools" role="tab"
           ref="tools" aria-controls="groups" aria-selected="false">Tools</a>
      </li>
    </ul>
    <div class="tab-content" id="adminTabsContent">
      <div class="tab-pane fade show active" id="datasets" role="tabpanel" aria-labelledby="datasets-tab">
      </div>
      <div class="tab-pane fade" id="collections" role="tabpanel" aria-labelledby="collections-tab">
      </div>
      <div class="tab-pane fade" id="areas" role="tabpanel" aria-labelledby="areas-tab">
      </div>
      <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="collection-groups-tab">
      </div>
      <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
        <div><h5>Tools</h5><p>some useful ones, for sure, like</p>
        <ul>
          <li><a href="{% url 'announcements-list' %}">Announcements</a></li>
          <li><a href="{% url 'tools-tilesets' %}">Tileset Management</a></li>
          <li>???</li>
        </ul>
        </div>
      </div>
    </div>
  </div> <!-- .container -->

  <script type="application/javascript">
    var currentState = {
      datasets: {sort: 'last_modified', order: 'desc', filters: {}},
      collections: {sort: 'last_modified', order: 'desc', filters: {}},
      areas: {sort: 'created', order: 'desc', filters: {}},
      groups: {sort: 'title', order: 'asc', filters: {}},
    };

    var initialSortOrders = {
      datasets: {
        'id': 'none',
        'title': 'desc',
        'label': 'none',
        'last_modified': 'none',
        'numrows': 'none',
        'ds_status': 'none',
        'owner': 'none',
      },
      areas: {
        'id': 'none',
        'title': 'none',
        'created': 'desc',
        'description': 'none',
        'owner': 'none',
      },
      collections: {
        'title': 'asc',
        'count': 'none',
        'type': 'none',
        'modified': 'none',
        'status': 'none',
        'owner': 'none',
      },
      groups: {
        'title': 'asc',
        'count': 'none',
        'created': 'none',
        'type': 'none',
        'owner:': 'none',
      },
    };

    function getFilterValues(tabId) {
      var titleSearch = $('#' + tabId + ' .title-search').val();
      var status = $('#' + tabId + ' .status').val(); // Adjust based on tab
      var owners = $('#' + tabId + ' .owners').val();
      var types = $('#' + tabId + ' .types').val(); // If applicable

      return {
        title_search: titleSearch,
        status: status,
        owners: owners,
        types: types,
      };
    }

    function initializeFilters(tabId) {
      $(document).
        off('change', '#' + tabId + ' .filter-input').
        on('change', '#' + tabId + ' .filter-input', function() {
          var filterKey = $(this).attr('name');
          var filterValue = $(this).val();

          currentState[tabId].filters[filterKey] = filterValue;

          // Flatten the filters for the AJAX request
          var flattenedFilters = {};
          for (var key in currentState[tabId].filters) {
            if (currentState[tabId].filters.hasOwnProperty(key)) {
              flattenedFilters[key] = currentState[tabId].filters[key];
            }
          }

          loadTabContent(tabId, flattenedFilters); // Pass updated filters
        });
    }

    function initializeSorting(tabId) {
      console.log('Initializing sorting for ' + tabId);
      {#console.log('Found .fa-sort elements:', $('#' + tabId + ' .fa-sort').length);#}
      var sortOrders = JSON.parse(localStorage.getItem('sortOrders-' + tabId)) || initialSortOrders[tabId];
      console.log('sortOrders:', sortOrders);

      {#$('#' + tabId + ' .fa-sort').off('click').on('click', function() {#}
      $(document).off('click').on('click', '#' + tabId + ' .fa-sort', function() {
        var columnId = $(this).data('id');
        console.log('Sorting clicked', columnId);
        var currentSortOrder = sortOrders[columnId];
        var newSortOrder = currentSortOrder === 'asc' ? 'desc' : 'asc';
        sortOrders[columnId] = newSortOrder;

        localStorage.setItem('sortOrders-' + tabId, JSON.stringify(sortOrders));

        var url = '/main/' + tabId + '_list/' + columnId + '/' + newSortOrder + '/';
        $('#loading_spinner').show();
        console.log('AJAX request, where is my spinner?:', url);
        $.get(url, function(data) {
          $('#' + tabId).empty().html(data);
          initializeSorting(tabId);  // Reinitialize sorting
        }).fail(function() {
          console.log('AJAX request failed');
        }).always(function() {
          $('#loading_spinner').hide();
        });
      });
    }

    $(document).ready(function() {
        // Event listener for tab change
        $('#adminTabs a').on('shown.bs.tab', function(event) {
            var tabId = $(event.target).attr('href').substring(1);
            sessionStorage.setItem('activeTab', tabId); // Store the active tab ID in sessionStorage
            loadTabContent(tabId);
        });

        // Determine the initial tab to load
        var activeTab = sessionStorage.getItem('activeTab');
        if (activeTab) {
            $('#adminTabs a[href="#' + activeTab + '"]').tab('show');
        } else {
            activeTab = $('#adminTabs .nav-link.active').attr('href').substring(1);
        }
        loadTabContent(activeTab);

        // Scroll to the top of the page
        window.scrollTo(0, 0);
    });


    function loadTabContent(tabId, filters) {
      // no state for tools tab
      if (!currentState[tabId]) {
        return; // bail
      }
      console.log('Loading tab content for ' + tabId);
      console.log('currentState:', currentState);

      var state = currentState[tabId];
      var url = '/main/' + tabId + '_list/' + state.sort + '/' + state.order + '/';
      console.log('constructed url: ' + url);
      console.log('state filters for ' + tabId + ':', JSON.stringify(state.filters));

      {#$.get(url, { filters: state.filters }, function(data) {#}
      $.get(url, filters, function(data) {
        $('#' + tabId).html(data);
        var appliedStatus = "{{ applied_filters.ds_status }}";
        if (appliedStatus) {
          $('#ds_status').val(appliedStatus);
        }
        FontAwesome.dom.i2svg();
        initializeSorting(tabId);
        initializeFilters(tabId);
        // Add event listener for clear search button
        $(document).on('click', '#clear_search', function() {
          console.log('Clear search clicked');
          // Clear the input field
          $('#title_search').val('');

          // Remove the filter
          var tabId = $('#adminTabs .nav-link.active').attr('href').substring(1);
          if (currentState[tabId]) {
            currentState[tabId].filters.title = '';
            loadTabContent(tabId, currentState[tabId].filters);
          }
        });

      }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error('Error loading tab content:', textStatus, errorThrown);
      }).always(function() {
        $('#loading_spinner').hide();
      });
    }

  </script>
{% endblock %} <!-- content -->