{% extends "main/base.html" %}
{% load static %}

{% load mathfilters %}
{% load dataset_extras %}

{% block extra_head %}
	<script src="https://code.jquery.com/jquery-3.6.3.js"></script>

	<script src="{% static 'jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2/jquery-ui.min.css' %}"/>

<style>
  .nav-link {
    color: #007bff;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: #0056b3;
  }
  #docs_content, #docs_sidebar {
      overflow-y: auto;
      height: calc(100vh - 120px);
  }
  @media (max-width: 992px) { /* adjust this value as needed */
    .accordion-body {
      padding: unset !important;
    }
  }
  section {
    {#margin-top: 2rem;#}
    margin-bottom: 1rem;
  }
  section h5 {
    color: #993333;
    {#font-weight: bold;#}
  }
  section h6 {
    {#font-weight: bold;#}
    {#font-style: italic;#}
    {#color: #993333;#}
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  ol ol {
    list-style-type: lower-alpha;
  }
  .row img {border: #e0e0e0 1px solid;}
  .row ol {font-size: 0.9rem;}
</style>
{% endblock %}

{% block content %}
<div id="docs_container" class="container mt-1 px-1">
  <div class="mb-3">
  <h4 class="ms-1">WHG v3 Documentation</h4>
  </div>
  <div class="row flex-nowrap">
    <!-- Sidebar Navigation with Accordions -->
    <div id="docs_sidebar" class="col-md-3 col-4 sticky-sidebar">
      <div class="accordion" id="sidebarAccordion">
        <!-- Introduction Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingIntro">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseIntro" aria-expanded="true" aria-controls="collapseIntro">
              Introducing the WHG
            </button>
          </h2>
          <div id="collapseIntro" class="accordion-collapse collapse show" aria-labelledby="headingIntro"
               data-bs-parent="#sidebarAccordion">
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#overview">Vision</a></li>
                <li class="nav-item"><a class="nav-link" href="#mission">Mission</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Workbench Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingWorkbench">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWorkbench" aria-expanded="false" aria-controls="collapseWorkbench">
              Workbench Pathways
            </button>
          </h2>
          <div id="collapseWorkbench" class="accordion-collapse collapse" aria-labelledby="headingWorkbench"
               data-bs-parent="#sidebarAccordion">
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#augment">Individual datasets</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#dscoll">Multiple datasets</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#pcoll">Thematic place collections</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Site Sections Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSections">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSections" aria-expanded="false" aria-controls="collapseSections">
              Site Sections
            </button>
          </h2>
          <div id="collapseSections" class="accordion-collapse collapse" aria-labelledby="headingSections"
               data-bs-parent="#sidebarAccordion">
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#homepage">Home page</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#search">Search for places</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#portal">Place Portals</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#gallery">Browse publications</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Guides Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingGuides">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseGuides" aria-expanded="false" aria-controls="collapseGuides">
              Tutorials & Guides
            </button>
          </h2>
          <div id="collapseGuides" class="accordion-collapse collapse" aria-labelledby="headingGuides"
               data-bs-parent="#sidebarAccordion">
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#lpf">Choosing an upload data format: LPF or LP-TSV?</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#prepdata">Preparing data for upload</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#indexes">Explaining the WHG indexes</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#pcolls">Create and publish a Place Collection</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#dscolls">Create and publish a Dataset Collection</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#collgroups">Create and manage a Collection Group for a class or workshop</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Main Content -->
    <div id="docs_content" class="col-md-9 col-8 content-area">
      <!--Introduction Group -->
      <section id="overview">
        <h4>Introducing the WHG</h4>
        <h5>Vision</h5>
        <p>Empowering discovery by connecting place names across time and language</p>
      </section>
      <section id="mission">
        <h5>Mission</h5>
        <p>The mission of the World Historical Gazetteer is to build a platform for open linked historical place data in order to foster deeper understanding of place history and to improve discovery of places that have had many names over time. The WHG place index is accessible through tools and services that permit users to search and browse information about places, augment and contribute their own place records, assemble and publish information about places, and use information about places in teaching and communication.</p>
      </section>
      <!-- Workbench Group -->
      <section id="augment" class="mt-5">
        <h4>Workbench Pathways</h4>
        <hr/>
        <h5>Individual datasets</h5>
        <p>The first step for working with your own data in WHG is to prepare an upload file in one of two formats: <b>Linked Places format (LPF)</b> if your data is relatively complex, or <b>LP-TSV</b>, a simpler delimited file format (e.g. a spreadsheet, CSV, or TSV). See <a href="#lpf">Choosing an upload data format: LPF or LP-TSV?</a> for more information.</p>
        <p class="ps-1 mb-1">After making that choice, the steps are as follows:</p>
        <ol class="builder-list">
          <li>Create a place data file</li>
          <li>Upload it to your private workspace.
          </li>
            <ol>
              <li>Click the <span class="larger">"+"</span> from your <b>My Data</b> dashboard <br/>
              <img src="{% static 'images/docs/add_dataset.png' %}" height="100"/></li>
              <li>Fill in the required fields in the "Upload dataset" form<br/>
              <img src="{% static 'images/docs/upload_form.png' %}" height="100"/></li>
            </ol>
          </li>
          <li>The Status tab will show the progress through this workflow.<br/>
            <img src="{% static 'images/docs/status_buttons.png' %}" height="80" class="pb-1"/>
            <ol>
              <li>View uploaded content in a map and table on the Browse tab</li>
              <li>Initiate a reconciliation task from the Status tab, choosing desired options<br/>
              <img src="{% static 'images/docs/task_options.png' %}" height="120" class="pb-1"/></li>
            </ol>
          </li>
          <li>Upon task completion, proceed to review prospective matches, and monitor progress on the Status tab.<br/>
            <img src="{% static 'images/docs/review_progress.png' %}" height="140"/></li>
          </li>
          <li>In the Review screen record your matching decisions: "closeMatch", "no match," or "defer."
            A help screen <span style="white-space: nowrap;">(<i class="fas fa-question-circle linkypop"></i>)</span> explains the process in detail. With each decision,
            the page advance to the next of your records in the queue of those that had any "hits."<br/>
            <img src="{% static 'images/docs/review_decide.png' %}" height="80"/></li>
          </li>
          <li>When the Review step is complete, your options are to
            <ol><li>Download your now augmented data for use in other software</li>
            <li>Complete the metadata on the Metadata tab and request publication.</li>
            <li>A further step is strongly encouraged: linking your data with records from other
            datasets already in the WHG union index. This is accomplished in a second reconciliation task,
            initiated on request by WHG editorial staff.</li>
            </ol>
          </li>
          <li><b>Accessioning to the WHG union index</b>. This step procedes much like steps 4 & 5 above, with
          these differences:
            <ol>
            <li>If no prospective match is found for a record, it is written to the index as a "seed"&mdash'a place
            for which we had no previous information.</li>
            <li>Prospective matches presented can be either a single record or a set of 2 or more that have been previously linked
            during accessioning tasks for other datasets. A match to a set causes the incoming record to be added to that set.
            This accessioning step is how <a href="#portal">Place Portal</a> pages are generated
            (<a href="{% url 'places:place-portal-whg-id' 12346428 %}" target="_blank">example</a>).<br/>
            <img src="{% static 'images/docs/review_linked.jpg' %}" height="200"/></li>
            <li>When the task is complete, the dataset is considered fully accessioned, and its records are now linked with others
            for the same places where possible. That said, it remains a distinct, published dataset within the platform,
            discoverable in the WHG <a href="{% url 'datasets:dataset-gallery' %}">publications gallery</a> and browseable
            and searchable in its own publication page.</li>
            </ol>
          </li>
        </ol>
      </section>
      <section id="dscoll">
        <h5>Multiple datasets</h5>
        <p>The <b>Dataset Collection</b> feature in WHG allows an individual or collaborative group to create
         a historical gazetteer resource from multiple datasets, linking those records that refer to the same place.
         Some examples, currently at various stages of development, include;
         <ul>
          <li>"A Historical Gazetteer of Ukraine," so far with five datasets from several timeperiods.</li>
          <li>"Indigenous Place Names in North America," so far with four datasets for distinct regions, and a fifth covering
          all of North America.</li>
          <li>"A Historical Gazetteer of Central Asia"&mdash;an ambitious undertaking with, so far, 13 disparate datasets
          drawn from many sources for this huge and ill-defined region.</li>
         </ul>
         </p>
        <p>Published Dataset Collections can be browsed in a rich publication page including an explanatory essay, and
        in the near future will be independently searchable via the WHG API&mdash;for example as a resource in
        annotation software. See this step-by-step guide, <a href="#dscolls">Create and publish a Dataset Collection</a></p>
        <p>Note that in order for a dataset to be added to a Dataset Collection, it must have been fully accessioned
        in the WHG union index. See the "WHG Union Index" section in <a href="#indexes">Explaining the WHG indexes</a> guide.</p>
      </section>
      <section id="pcoll">
        <h5>Thematic place collections</h5>
        <p>The <b>Place Collection</b> feature in WHG is designed for two use scenarios: as a teaching or workshop exercise,
        or as a form of authored publication. The steps for creating a Place Collection are the same in all cases,
        as detailed in the <a href="#pcolls">Create and publish a Place Collection</a> guide.</p>
        <h6>Instructional exercise in a class setting, or workshop</h6>
        <p>Registered WHG users can request "group leader" permissions, which allows them to create and manage a WHG <b>Collection Group</b>. This is a private space where students or workshop participants can create and share collections of places, annotated with custom keywords, notes, dates, and images. The group leader can review and comment on the collections, and can nominate exceptional collections for inclusion in the WHG Student Gallery. Students or workshop participants join the group by entering an access key
        created and distributed by the instructor or workshop leader.</p>
        <p><a>See <a href="#collgroups">"Create and manage a class or workshop Collection Group</a></p>
        <p>As a member of a Collection Group, an option appears on all of their <i>collection builder pages</i> to submit the collection when complete&mdash;for review by the instructor or workshop leader.<br/>
        <img src="{% static 'images/docs/submit-to-group.jpg' %}" height="60" class="ms-3"/></p>
        <h6 class="mt-2">Authored publication</h6>
        <p>Any registerd WHG user can create a thematic annotated Place Collection (<a href="#pcolls">guide</a>), and request its publication on the WHG
        platform, subject to review and approval by WHG editorial staff.</p>
      </section>
      <!-- Site Sections Group -->
      <section id="homepage" class="mt-5">
        <h4>Site Sections</h4>
        <hr/>
        <h5>Home page</h5>
        <div class="row">
          <div class="col-md-8">
            <img src="{% static 'images/docs/home_page.jpg' %}" class="img-fluid"/>
          </div>
          <div class="col-md-4">
            <ol>
              <li>Sitewide main menu</li>
              <li>Introduction & "What is a gazetteer?"</li>
              <li>Search for places (results returned in Search page)</li>
              <li>Rotating previews of selected datasets and collections</li>
              <li>Announcements</li>
              <li>Site Section buttons </li>
            </ol>
          </div>
        </div>
      </section>
      <section id="search">
        <h5>Search page</h5>
        <div class="row">
          <div class="col-md-8">
            <img src="{% static 'images/docs/search_page.jpg' %}" class="img-fluid"/>
          </div>
          <div class="col-md-4">
            <ol>
              <li>Search modes: Exactly, Starts with, Similar to, Contains</li>
              <li>Prefilter by one or more place type categories</li>
              <li>Prefilter by country, region, or user 'study area'</li>
              <li>Filter results by place type and/or modern country</li>
              <li>Map initial displays markers for all results</li>
              <li>Time filter 'slider'</li>
              <li>Results list, ordered by most linked</li>
              <li>Display map full screen; option to save image</li>
              <li>Spatial filter polygon draw control</li>
            </ol>
          </div>
        </div>
      </section>
      <section id="portal">
        <h5>Place Portals</h5>
        <div class="row">
          <div class="col-md-8">
            <img src="{% static 'images/docs/portal_page.jpg' %}" class="img-fluid"/>
          </div>
          <div class="col-md-4">
            <ol>
            <li>Blurb auto generated from place data</li>
            <li>Permalink to page for citation</li>
            <li>Links to ecoregion and biome detail</li>
            <li>List of attestations for the place</li>
            <li>Appearance of place in WHG Place Collection(s)</li>
            <li>Add place to a Place Collection</li>
            <li>Map</li>
            <li>Multiple layer options: physical geography; labels; nearby places</li>
            <li>Temporal histogram and filter control</li>
            </ol>
          </div>
        </div>
      </section>
      <section id="gallery">
        <h5>Browse data publications</h5>
        <div class="row">
          <div class="col-md-8">
            <img src="{% static 'images/docs/gallery.jpg' %}" class="img-fluid"/>
          </div>
          <div class="col-md-4">
            <ol>
              <li>Publications are grouped: Datasets and Collections</li>
              <li>Preview button display spatial footprint on map</li>
              <li>Map (heatmap if place count is large)</li>
              <li>Sort options: title, latest, earliest, etc.</li>
              <li>Free text search on titles, descriptions, authors (creators)</li>
              <li>Filter for publications' coverage including selected country or region</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- Tutorials Group -->
      <section id="lpf" class="mt-5">
        <h4>Tutorials & Guides</h4>
        <hr/>

        <h5>Create and manage a Collection Group for a class or workshop</h5>
        <p>The <b>Collection Group</b> feature in WHG is designed primarily for instructional scenarios, but can also be used for workshops.
        Any registered user can request "group leader" permissions, which allow them to create and manage a WHG Collection Group. This is a private space where students or workshop participants can create and share collections of places (WHG Place Collections), annotated with custom keywords, notes, dates, and images. The group leader can review submitted collections, and can nominate exceptional collections for inclusion in the WHG Student Gallery. Students or workshop participants join the group by entering an access key created and distributed by the instructor or workshop leader.</p>
        <p></p>
        <p></p>


        <h5>Choosing an upload data format: LPF or LP-TSV?</h5>
        <p>World Historical Gazetteer supports uploads of both Linked Places format (LPF; <a href="https://github.com/LinkedPasts/linked-places" target="_blank">v1.2.2 specification</a>) and its delimited file derivative, LP&#8209;TSV, which is more useful for relatively simple data (<a href="https://github.com/LinkedPasts/linked-places/blob/master/tsv_0.4.md" target="_blank">v0.4 specification</a>). In both cases, some level of transformation has to happen between your source data and the chosen format. <b>Both formats require that there be one record per place</b>. The main distinctions can be summarized this way:
        <ul>
          <li>LPF is JSON-based and supports both temporal scoping and citations for individual place names, geometries, types, and relations <b>within a single place record</b>.</li>
          <li>LP-TSV is a delimited file format&mdash;either a spreadsheet or a text file in CSV or TSV format. Although it can handle multiple name variants and place types in a single column, it can have only one geometry per place, and citation is possible only for the principal name ('title').</li>
        </ul>
        <p>Choose LPF if:
        <ul>
          <li>You have multiple names, types, geometries, or relations <i>for a single place</i> that are temporally scoped; i.e. any of these attributes are associated in your data with a given year, timespan, or period&mdash;<i>and you want that represented in your WHG representation<i>.</li>
          <li>You wish to include citations per name, type, geometry, or timespan.</li>
        </ul>
        </p>
        <p>Choose LP-TSV if:
        <ul>
          <li>You have a single year or timespan that applies to the entire record (start/end or attestation year).</li>
          <li>Your name variants and place types can be listed in a single column, e.g. this way: "name1;name2" </li>
        </ul>
        </p>
      </section>
      <section id="prepdata">
        <h5>Preparing data for upload</h5>
        <h6>The simple case</h6>
        <p>If you have a list of distinct places with a name or names and basic attributes of the place, like coordinates, and place type in a spreadsheet, database table, etc., the task of preparing an upload file for WHG is straightforward. In almost all cases your format choice will be LP-TSV, and you can copy/paste columns from your file into WHG's <a href="https://tinyurl.com/2tspp7be" target="_blank">LP-TSV spreadsheet template</a>, as explained in the file itself. See also, "Quick Start" on the <a href="{% url 'datasets:dataset-create' %}" target="_blank">"Upload dataset" page</a></p>
        <h6>The not so simple case: extracting places</h6>
        <p>However, the data for most spatial historical projects is not only about places or locations, but principally about events or artifacts for which location is an important dimension. </p>
        <p>Both LPF and LP-TSV require that there be one record per place. But for many projects, a single place can have multiple rows in a spreadsheet, or multiple features in a shapefile&mdash;each recording for example a change in some attribute at a given time. For this reason, data often takes the form of one row per event, or artifact, or observation of some kind, with a column for place name, and/or for latitude and longitude. In this case location information is often repeated on each row that is about that event, or artifact, etc. <b>The task is to extract the distinct places, into a separate places-only table or worksheet</b>.</p>
        <p>Conflating multiple place references to a single place record often requires disambiguation or normalization, with several kinds of decisions only the data creator can make, e.g.:
        <ul>
          <li>Do two different names actually refer to the same place?</li>
          <li>Are an archaeological site and a modern city with the same name the same place?</li>
          <li>If there are multiple name variants, which should be the primary "title" of the record?</li>
          <li>If some references are at the scale of settlement and others at the scale of county, should they be normalizzed to county for purposes of analysis?</li>
        </ul>
        </p>
        <h6>Linked Places format (LPF), a GeoJSON extension</h6>
        <p>Apart from conflating multiple place references to a single place record, converting data from a delimited format like a spreadsheet or shapefile attribute table to the JSON-base LPF will almost certainly require a script&mdash;using e.g. Python or SQL if a database is involved. A how-to for this is beyond the scope of this document, but <a href="https://csvjson.com/csv2json" target="_blank">this CSV&nbsp;>&nbsp;JSON tool</a> demonstrates how this will look, and a web search will locate other tools that may help.</p>
        </p>
      </section>
      <section id="indexes">
        <h5>Explaining the WHG Indexes</h5>
        <p>WHG maintains three high-speed indexes for use in the platform, "<b>Wikidata+GeoNames</b>", the "<b>WHG Union Index</b>," and the "Pub" index.</p>
        <h6>Wikidata+GeoNames</h6>
        <p>This index of over 13 million place records from Wikidata (3.6m) and GeoNames (10m) is used for intitial
        intitial reconciliation of uploaded datasets, enabling their augmentation with
        <ul>
        <li>Coordinate geometry their records may be missing (a "geocoding" function")</li>
        <li>Additional name variants</li>
        <li>Identifiers from additional gazetteer resources, including several national libraries, VIAF, and Getty's
        Thesaurus of Geographic Names (TGN). This has the benefit of making user records significantly more linkable
        &mdash;within in WHG's union index, and in other linked data contexts.</li>
        </li>
        </ul> </p>
        <h6>WHG Union Index</h6>
        <p>The WHG Union Index is where individual records for the same or "closely matched" places coming from different datasets
        are linked. Search results privilege these linked sets or "clusters" of records, and present them in
        Place Portal pages like <a href="/places/12346428/portal/" target="_blank">this one for Glasgow.</a></p>
        <p>Records from published datasets make their way into the union index by means of a second reconciliation step,
        follwoing that for the Wikidata+Geonames index. This step is initiated by WHG editorial staff, and when complete
        the dataset is considered fully accessioned. See "Accessioning to the WHG Index" in <a href="#augment">Individual datasets</a> for details.
        </p>
        <h6>WHG "Pub" index</h6>
        <p>When a dataset has been reconciled to the Wikidata+Geonames index and published, it is automatically added to theLinked "Pub" index so that's its records can be discovered not only via browsing its publication page, but in search and via our Application Programming Interface (API). If and when the dataset is reconciled to the Union Index, its records are removed from "Pub," as they are now linked where possible and appear in Place Portal pages.</p>

      </section>
      <section id="pcolls">
        <h5>Create and publish a Place Collection</h5>
        <p>Place Collections in thw WHG are annotated sets of place records from published datasets. Places can be added
        to a collection in three ways:
          <ol>
            <li>From a Place Portal page, using the "Add to Collection" button<br/>
            <img src="{% static 'images/docs/addtocoll.jpg' %}"/></li>
            <li>One or more from a published dataset's Browse page, using the "Add to Collection" button<br/>
            <img src="{% static 'images/docs/addtocoll_ds.jpg' %}" height="120"/></li>
            <li>By adding all of the places in one of your datasets&mdash;usually a small one created for the purpose<br/>
            <img src="{% static 'images/docs/addtocoll_allds.jpg'%}" height="110" /></li>
          </ol>
        </p>
        <p>Once places have been added, they can be annotated in the following way:
          <ul>
            <li>Create a set of "annotation keywords" for the collection&mdash;a custom vocabulary used to classify
            each place's relation to the collection theme and to style map markers<br/>
            <img src="{% static 'images/docs/anno_keywords.jpg' %}" height="60"/></li>
            <li>For each place, choose a relation keyword, and a note and optional date(s) and image&mdash;then save.</li>
            <li>If desired, drag and drop place "cards" to order them in a sequence</li>
          </ul>
        </p>
        <p>At any time, add the following elements to the collection as a whole:
          <ul>
            <li>A title and description</li>
            <li>Collection keywords (these are distinct from annotation keywords)</li>
            <li>An image</li>
            <li>Upload an explanatory essay as a PDF file</li>
            <li>Up to three links to external web pages or resources</li>
          </ul>
        </p>
        <p>Choose visualization options to control how temporal information will appear in the collection's
        map and table displays (you can preview how your collection will display at any time). Options include:
          <ul>
          <li>Sort by sequence, start date, or end date?</li>
          <li>Include animated "ant trail" lines between places?</li>
          <li>Display a time "slider" filter or a sequence "player" control?</li>
          </ul>
        </p>
        <p>If you have joined a collection group class or workshop, you have the option to submit it to the
        instructor or workshop leader for review. If the group has a gallery, once reviewed, the collection will appear there.
        Instructors have the option to nominate exceptional collections for the WHG Student Gallery.<br/>
            <img src="{% static 'images/docs/submit-to-group.jpg' %}" height="60" class="ms-3"/>
        </p>
        <p>If your collection is <bold><i>not</i></bold> associated with a class or workshop, you can request it be published
        in the <a href="{% url 'datasets:dataset-gallery' %}" target="_blank">site-wide WHG gallery</a> using <a href="{%  url 'contact' %}" target="_blank">the site contact form</a>.</p>
      </section>
      <section id="dscolls">
        <h5>Create and publish a Dataset Collection</h5>
        <p>A WHG Dataset Collection is a set of published, indexed datasets in WHG, whose place records have been linked with others for the same place where they occur. Its potential purposes and possibilities are outlined in the <a href="#dscoll">Multiple datasets</a> pathway section of this documentation.</p>
        <p>All datasets in a Dataset Collection must be published and fully accessioned&mdash;that is, indexed in the WHG union index. This is because the linking of records for the same place from multiple datasets occurs during the final indexing step. See "Accessioning to the WHG union index" in the <a href="#augment">Individual datasets</a> section.</p>
        <p>The steps in creating a Dataset Collection are as follows:
        <ol>
          <li>Click the <span class="larger strong">+</span> in that section of your My Data dashboard, then fill in the three required fields on the Create Dataset Collection form<br/>
          <img src="{% static 'images/docs/add_dscoll.jpg' %}" height="80" /> </li>
          <li>On the "Add and manage datasets" tab of Dataset Collection Builder screen that follows, you can begin adding
          datasets. The dropdown menu lists accessioned datasets that you own are are a designated collaborator on. </li>
          <li>You can add collaborators on the Collaborators tab. Co-owners are able to add datasets, and datasets they own will appear in the dropdown list of eligible datasets.</li>
          <li>You can preview the still private presentation of the collection at any time by clicking the "view" icon in the upper right. <img src="{% static 'images/docs/view_dscoll.jpg' %}" height="40"/></li>
          <li>Each Dataset Collection should have an accompanying essay and image prior to publication. You can also add up to
          three links to related external web resources.</li>
          <li>If a significant proportion of the collection's records have meaningful date information, turn on the "Display temporal information" switch. This will ensure the collection table has start and end columns, and that there is a time "slider" filter overlay on the map. </li>
          <li>When you are ready to publish, click the "Request publication" button. This will notify WHG editorial staff that the collection is ready for review and publication. The timing of publication is up to its creators. Typically, datasets will be added over time, and it is sensible to publish the collection early, especially if it is a goal to attract addition datasets and collaborators.</li>
        </ol>
        </p>
      </section>
      <section id="collgroups">
        <h5>Create and manage a Collection Group for a class or workshop</h5>
        <p></p>
        <p>{% lorem 6 %}</p>
      </section>
  </div>
</div>
</div>
<script type="text/javascript">

$(document).ready(function() {
  console.log('Document is ready.');

  // Setup event listeners for accordion opening
  $('#sidebarAccordion').on('shown.bs.collapse', function(e) {
    console.log('shown.bs.collapse event handler called');
    var activeAccordion = $(e.target).parent().attr('id');

    localStorage.setItem('activeAccordion', activeAccordion);
    var accordionBody = $(e.target);
    setTimeout(() => {
      var firstNavItem = accordionBody.find('.nav-link:first');
      if (firstNavItem.length) {
        var targetId = firstNavItem.attr('href');
        if (targetId) {
          var targetElement = $(targetId);
          if (targetElement.length) {
            var containerTop = $('#docs_content').offset().top;
            var targetTop = targetElement.offset().top;
            var currentScroll = $('#docs_content').scrollTop();
            var relativeTop = targetTop - containerTop + currentScroll; // Add current scroll position
            console.log('Scrolling to:', relativeTop);
            $('#docs_content').animate({
              scrollTop: relativeTop
            }, 300);
          }
        }
      }
    }, 300); // Adjust timeout as necessary
  });

  // try to return to last scroll position
  // disable when page content is complete
  // On scroll event
  $('#docs_content').on('scroll', function() {
    var scrollPosition = $(this).scrollTop();
    localStorage.setItem('scrollPosition', scrollPosition);
  });

  // On page load
  var activeAccordion = localStorage.getItem('activeAccordion');
  var scrollPosition = localStorage.getItem('scrollPosition');

  if (activeAccordion) {
    $('#' + activeAccordion + ' .accordion-collapse').collapse('show');
  }

  if (scrollPosition) {
    $('#docs_content').scrollTop(scrollPosition);
  }
  // end try to return to last scroll position


  // Handle hash if present on initial load
  var hash = window.location.hash;
  if (hash) {
    var navLink = $(`.nav-link[href="${hash}"]`);
    if (navLink.length) {
      navLink.closest('.accordion-item').find('.accordion-collapse').collapse('show');
      setTimeout(() => {
        var targetElement = $(hash);
        var containerTop = $('#docs_content').offset().top;
        var targetTop = targetElement.offset().top;
        var currentScroll = $('#docs_content').scrollTop();
        var relativeTop = targetTop - containerTop + currentScroll; // Add current scroll position
        $('#docs_content').animate({
          scrollTop: relativeTop
        }, 800);
      }, 300);
    }
  }
});

</script>

{% endblock %}
