{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block title %}<title>WHG v3.0a</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/aliases.js' %}"></script>
  <script src="{% static 'js/parents.js' %}"></script>

  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link href="{% static 'webpack/maptiler_sdk.bundle.css' %}" rel="stylesheet" /> 
  <link href="{% static 'webpack/home.bundle.css' %}" rel="stylesheet" /> 
{% endblock %}

{% block content %}

<div class="container mt-1" style="min-height: calc(100vh - 210px);">
	<div id="banner" class="banner-bare w-100 my-1 p-2">
		{% if request.user_agent.is_mobile %}
			<div class="centered ">
			  <span class="title-mobile mb-0">
				  World Historical Gazetteer
			  </span>
			  <span id="tagline_mobile" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
			</div>
		{% else %}
			<div class="centered w-100">
			  <span class="title mb-2">
				  <img src="{% static 'images/whg_logo.svg'%}" class="d-inline-block align-bottom me-2" height=80 width=80 alt=""/>
				  World Historical Gazetteer
			  </span>
			  <span id="tagline" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
			</div>
		{% endif %}
	</div>
	<div id="content_top" class="row gx-2 gy-2 mx-0 h-75">
		<div class="col-sm-3" id="intro">
			<div class="p-2 border h-100">
				<p>Sed aliquam, metus ultricies varius auctor, eros neque iaculis est, ullamcorper cursus turpis purus non tellus.
					Nunc non velit quis est molestie tempor id eu tellus. Donec elementum, purus in ornare vehicula,
					lectus nulla molestie diam, vitae lacinia felis augue id leo. Praesent ac vehicula nulla. Sed sit amet lacinia arcu.
					Praesent suscipit a justo non ornare. Nulla a ligula commodo, laoreet risus a, cursus neque.
					Vestibulum ut orci ultricies, lacinia sapien ac, mollis justo.
				</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="border mb-1 h-75 bg-white" style="position: relative;">
				<div id="map"></div>
		    <div id="advanced_search" class="bg-light">
			    <p class="mb-0"><span class="categories ms-1">place categories</span>
		            <span class="ms-1 categories">
		              <span class="me-1"><a id="check_toggle" href="#">clear all</a></span>
		              <a id="filter_help" class="pointer" data-toggle="popover" title="Place categories"
		                 data-content="" tabindex="0" data-trigger="focus"><i class="fas fa-question-circle linky"></i></a>
		            </span>
	            </p>
			      <div id="adv_checkboxes" class="small mt-2 ps-1">
			        <p><input type="checkbox" id="cb_a" checked="checked" value="A"/>
				        <span for="cb_a"> Administrative entities (A)</span></p>
			        <p><input type="checkbox" id="cb_p" checked="checked" value="P"/>
				        <span for="cb_p"> Cities, towns, hamlets (P)</span></p>
			        <p><input type="checkbox" id="cb_s" checked="checked" value="S"/>
				        <span for="cb_s"> Sites, buildings, complexes (S)</span></p>
			        <p><input type="checkbox" id="cb_r" checked="checked" value="R"/>
				        <span for="cb_r"> Roads, routes, rail... (R)</span></p>
			        <p><input type="checkbox" id="cb_l" checked="checked" value="L"/>
				        <span for="cb_l"> Regions, landscape areas (L)</span></p>
			        <p><input type="checkbox" id="cb_t" checked="checked" value="T"/>
				        <span for="cb_t"> Terrestrial landforms (T)</span></p>
			        <p><input type="checkbox" id="cb_h" checked="checked" value="H"/>
				        <span for="cb_h"> Water bodies (H)</span></p>
		        </div>
            <div id="filter_spatial">
				<p class="mb-0"><span class="categories ms-1">spatial</span>
	              <span class="small">
	              <a id="spatial_help" class="pointer" data-toggle="popover"
	                 title="Spatial filter" data-content="" tabindex="0" data-trigger="focus">
	              <i class="fas fa-question-circle linky"></i></a></span>
	            </p>
				<input id="input_area" type="text" size="25" placeholder="Region, country, study area" />
	            <input type="hidden" id="boundsobj" />
            </div>
			    {#<button id="close-advanced_search" class="btn btn-sm btn-secondary">Close</button>#}
		    </div>

				<div id="search_map" class="input-group input-group-sm mb-3 shadow-sm">
				  <input type="text" class="form-control" placeholder="Enter place name"
				         aria-label="Username" aria-describedby="addon-wrapping">
				  <span class="input-group-text" id="addon-wrapping">
					  <a href="#" id="a_search"><i class="fas fa-search"></i></a>
				  </span>
				</div>

				<div class="advanced-search-link px-1 py-0">
					<a id="a_advanced" href="#">advanced search </a>
				</div>
			</div>
			<div class=" p-1 border bg-white" style="height: 24%;">
				<p>Praesent ac vehicula nulla. Sed sit amet lacinia arcu.
					Praesent suscipit a justo non ornare. Nulla a ligula commodo, laoreet risus a, cursus neque.
				</p>
			</div>
		</div>
		<div id="carousel-outer-container" class="col-sm-3 d-flex flex-column p-0">
			{# Populated dynamically in JavaScript #}
		</div>
	</div> <!-- content_top -->

	<div id="content_bottom" class="row gx-2 gy-2 mx-0 h-25">
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row">
					<img src="{% static 'images/001-binoculars.png'%}" class="" height=40 width=40 alt=""/>
				</div>
				<h5><span class="home-button-hilite">Search and browse</span> <span class="red-head">
					{{ count}}</span> published place attestations</h5>
			</div>
			<a href="{% url 'search-page' %}">
				<span class="link-spanner"></span>
			</a>
		</div>
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row">
					<img src="{% static 'images/001-up-arrow.png'%}" class="" height=40 width=40 alt=""/>
					<img src="{% static 'images/003-browser.png' %}" class="ms-3" height=40 width=40 alt=""/>
				</div>
				<h5><span class="home-button-hilite">Upload, enhance, publish, and link</span> your place data</h5>
			</div>
			<span class="link-spanner btn" data-bs-toggle="modal"
			      data-bs-target="#homeModal"
			      data-bs-page="contribute"
			      data-bs-title="Upload, enhance, publish and link place data">
			</span>
		</div>
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row"><img src="{% static 'images/008-collect.png'%}" class="" height=42 width=42 alt=""/></div>
				<h5><span class="home-button-hilite">Build</span>, annotate, and publish custom collections</h5>
			</div>
			<span class="link-spanner btn" data-bs-toggle="modal"
			      data-bs-target="#homeModal"
			      data-bs-page="build"
			      data-bs-title="Build custom collections"></span>
{#			<a href="{% url 'tutorials:tute-collections' %}"><span class="link-spanner"></span></a>#}
		</div>
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row">
					<img src="{% static 'images/011-teaching.png'%}" class="" height=42 width=42 alt=""/>
					<img src="{% static 'images/006-api-2.png'%}" class="ms-3" height=42 width=42 alt=""/>
				</div>
				<h5><span class="home-button-hilite">Use WHG data</span> in teaching and software</h5>
			</div>
			<span class="link-spanner btn" data-bs-toggle="modal"
			      data-bs-target="#homeModal"
			      data-bs-page="teaching_api"
						data-bs-title="Use World Historical Gazetteer data"></span>
		</div>
	</div> <!-- content_bottom-->
	<!-- Modal -->
	<div class="modal fade" id="homeModal" tabindex="-1"
	     aria-labelledby="homeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="homeModalLabel">{ per-button title }</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="overflow-y: scroll;"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!-- Set up MapLibre map using Maptiler SDK -->
<script type="text/javascript">
    let mapParameters = {
        container: 'map',
        center: [10.2385, 29.8626],
        zoom: 0.1, // starting zoom
        minZoom: 0.1,
        maxZoom: 10,
        mapTilerKey: '{{ maptilerkey }}',
        controls: {
            layer: true,
            navigation: false,
            fullscreen: false,
            attribution: {
                open: false,
            },
            temporal: {
                fromValue: 1550,
                toValue: 1720,
                minValue: -2000,
                maxValue: 2100,
                open: false,
                includeUndated: true, // null | false | true - 'false/true' determine state of select box input; 'null' excludes the button altogether
                epochs: null,
                automate: null,
            }
        },
        styleFilter: [ 'OUTDOOR.DEFAULT' ], // Leave empty for full list of options, or include a single style to prevent selector inclusion
    }

    let galleries = [
        ["Datasets","{% url 'datasets:dataset-gallery-type' gallery_type='datasets' %}"],
		["Collections","{% url 'datasets:dataset-gallery-type' gallery_type='collections' %}"]
    ];
    let carousel_metadata = {{ carousel_metadata|safe }}
    let startCarousels = false; // Determines whether galleries are to be auto-cycled
    let repositionMap = true; // Determines whether map should fly to loaded datacollection
    let homeModalURL = "{% url 'modal-home' %}"
</script>
<script type="module">
    import "{% static 'webpack/maptiler_sdk.bundle.js' %}";
    import "{% static 'webpack/home.bundle.js' %}";
</script> 

{% endblock %}
