{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block title %}<title>WHG v3.0a</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">

	<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
	<style>
		#intro {font-size: .9rem;}
		.home-button {position: relative; font-family: "Archivo Black";}
		{#.home-icon-row {text-align: center;} #AAC7A4 54A1DA #}
		.ds-header { background-color: #3979B1; color: #fff; }
		.coll-header { background-color: #54A1DA; color: #fff; }
		{#img {image-orientation: none;}#}
		#map { position: absolute; top: 0; bottom: 0; width: 100%; }
		#search_map {position: absolute; top: 5px; left: 5px}
		.advanced-search-link {
				font-size: .8rem;
				{#color: yellow !important;#}
				position: absolute;
				bottom:8px;
				left: 5px;
				background-color: #fff;
				z-index: 1000;
		}
		.advanced-search-link a { color: #336699 !important;}

		.carousel-container {
		    flex-grow: 1;
		    min-height: 180px;
		}

		.carousel-inner,
		.carousel-item {
		    height: 100%;
		}

		.carousel-item img {
		    object-fit: cover;
		    height: 100%;
		    width: 100%;
		}
		.carousel-item p { font-size: .8rem;}
		.carousel-item h6 { margin-bottom: 0;}
		.carousel button {background-color: yellow; bottom: auto !important;}
	}
	</style>

{% endblock %}
{#style="height: 10vh; min-height: 50px;"#}
{% block content %}
<div class="container mt-1" style="min-height: calc(100vh - 210px);">
	<div id="banner" class="banner-bare w-100 my-1 p-2" style="height: 15vh; min-height: 60px;">

		{% if request.user_agent.is_mobile %}
			<div class="centered ">
			  <span class="title-mobile mb-0">
				  World Historical Gazetteer
			  </span>
			  <span id="tagline_mobile" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
			</div>
		{% else %}
			<div class="centered w-100">
			  <span class="title mb-2">
				  <img src="{% static 'images/whg_logo.svg'%}" class="d-inline-block align-bottom me-2" height=80 width=80 alt=""/>
				  World Historical Gazetteer
			  </span>
			  <span id="tagline" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
			</div>
		{% endif %}
	</div>
  <div id="middle" class='row' style="height: 75%;">
      <div class="col-3">
					<p class="small">Sed aliquam, metus ultricies varius auctor, eros neque iaculis est,
						ullamcorper cursus turpis purus non tellus.
						Nunc non velit quis est molestie tempor id eu tellus. Donec elementum, purus in ornare vehicula,
						lectus nulla molestie diam, vitae lacinia felis augue id leo. Praesent ac vehicula nulla.
						Sed sit amet lacinia arcu. Praesent suscipit a justo non ornare. Nulla a ligula commodo,
						laoreet risus a, cursus neque. Vestibulum ut orci ultricies, lacinia sapien ac, mollis justo.
					</p>
      </div>
      <div class="col-6">
          <div style="height: 75%; background-color: gainsboro;">
              Map content here
          </div>
          <div class="bg-light">
						<p>Praesent ac vehicula nulla. Sed sit amet lacinia arcu.
							Praesent suscipit a justo non ornare. Nulla a ligula commodo, laoreet risus a, cursus neque.
						</p>
          </div>
      </div>
			<div class="col-3 d-flex flex-column p-0">
		    <div class="carousel-container p-1 home-carousel">
		        <div class="border p-1 h-100">
		            <h6 class="ds-header p-1 strong">Datasets
								<span class="float-end small">
									<a class="linkylite" href="">Gallery</a>
								</span>
		          </h6>
			        <div id="datasetsCarousel" class="carousel slide h-100" data-ride="carousel">
								<div class="carousel-inner">
								  {% for ds in featured_ds %}
								     <div class="carousel-item p-2 {% if forloop.first %}active{% endif %}">
									     <h6><a href="{%  url 'datasets:ds_places' ds.id %}">{{ ds.title }}</a></h6>
											{# <p>{{ ds.description|truncatechars:100 }}</p>#}
								     </div>
								  {% endfor %}
								</div>
							  <button class="carousel-control-prev" type="button" data-bs-target="#datasetsCarousel" data-bs-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="visually-hidden">Previous</span>
							  </button>
							  <button class="carousel-control-next" type="button" data-bs-target="#datasetsCarousel" data-bs-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="visually-hidden">Next</span>
							  </button>
		                <!-- ... Other carousel elements ... -->
		            </div>
		        </div>
		    </div>
		    <div class="carousel-container p-1 home-carousel">
		        <div class="border p-1 h-100">
		            <!-- ... Your other carousel content here ... -->
		            <div id="collectionsCarousel" class="carousel slide h-100" data-ride="carousel">
							<h6 class="coll-header p-1 strong">Collections
								<span class="float-end small">
									<a class="linkylite" href="{% url 'collection:collection-gallery' %}">Gallery</a>
								</span>
							</h6>
		          <div id="collectionsCarousel" class="carousel slide" data-ride="carousel">
{#							  <ol class="carousel-indicators">#}
{#							    {% for ds in featured_ds %}#}
{#							      <li data-bs-target="#datasetsCarousel"#}
{#							          data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>#}
{#							    {% endfor %}#}
{#							  </ol>#}
		            <div class="carousel-inner">
		              {% for c in featured_coll %}
										{#<img src="/media/{{ c.image_file.name }}" class="d-block w-100" alt="{{ c.title }}">#}
		                <div class="carousel-item p-2 {% if forloop.first %}active{% endif %}">
												{% with collection_class=c.collection_class %}
												<h6><a href="
										        {% if collection_class == 'place' %}
										            {% url 'collection:place-collection-browse' c.id %}
										        {% else %}
										            {% url 'collection:ds-collection-browse' c.id %}
										        {% endif %}">{{ c.title }}
										    </a></h6>
												{% endwith %}

										{# <p>{{ c.description|truncatechars:100 }}</p>#}
		              </div>
		              {% endfor %}
		            </div>
							  <button class="carousel-control-prev" type="button" data-bs-target="#collectionsCarousel" data-bs-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="visually-hidden">Previous</span>
							  </button>
							  <button class="carousel-control-next" type="button" data-bs-target="#collectionsCarousel" data-bs-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="visually-hidden">Next</span>
							  </button>
		          </div>
		            </div>
		        </div>
		    </div>
	</div>

  </div>
	{#<img src="/media/{{ c.image_file.name }}" class="d-block w-100" alt="{{ c.title }}">#}

  <div id="bottom" class="row">
      <div class="col-3 p-1 home-button">
	      <div class="h-100 border p-1">
					<div class="home-icon-row">
						<img src="{% static 'images/001-binoculars.png'%}" class="" height=40 width=40 alt=""/>
					</div>
					<h5><span class="home-button-hilite">Search and browse</span> <span class="red-head">
						{{ count}}</span> published place attestations</h5>
				</div>
				<a href="{% url 'search-page' %}">
					<span class="link-spanner"></span>
				</a>
      </div>
      <div class="col-3 p-1 home-button">
				<div class="h-100 border p-1">
					<div class="home-icon-row">
						<img src="{% static 'images/001-up-arrow.png'%}" class="" height=40 width=40 alt=""/>
						<img src="{% static 'images/003-browser.png' %}" class="ms-3" height=40 width=40 alt=""/>
					</div>
					<h5><span class="home-button-hilite">Upload, enhance, publish, and link</span> your place data</h5>
				</div>
				<span class="link-spanner btn" data-bs-toggle="modal"
				      data-bs-target="#homeModal"
				      data-bs-page="contribute"
				      data-bs-title="Upload, enhance, publish and link place data">
				</span>
      </div>
      <div class="col-3 p-1 home-button">
				<div class="h-100 border p-1">
					<div class="home-icon-row"><img src="{% static 'images/008-collect.png'%}"
					                                height=42 width=42 alt=""/></div>
					<h5><span class="home-button-hilite">Build</span>, annotate, and publish custom collections</h5>
				</div>
				<span class="link-spanner btn" data-bs-toggle="modal"
				      data-bs-target="#homeModal"
				      data-bs-page="build"
				      data-bs-title="Build custom collections"></span>
      </div>
      <div class="col-3 p-1 home-button" style="padding-right: 0 !important">
				<div class="h-100 border p-1">
					<div class="home-icon-row">
						<img src="{% static 'images/011-teaching.png'%}" class="" height=42 width=42 alt=""/>
						<img src="{% static 'images/006-api-2.png'%}" class="ms-3" height=42 width=42 alt=""/>
					</div>
					<h5><span class="home-button-hilite">Use WHG data</span> in teaching and software</h5>
				</div>
				<span class="link-spanner btn" data-bs-toggle="modal"
				      data-bs-target="#homeModal"
				      data-bs-page="teaching_api"
							data-bs-title="Use World Historical Gazetteer data"></span>
      </div>
  </div>

	<div class="modal fade" id="homeModal" tabindex="-1"
	     aria-labelledby="homeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="homeModalLabel">{ per-button title }</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="overflow-y: scroll;"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
<script>
    // Add your script here
</script>
