{% extends "main/base_webpack.html" %}
{% load static %}

{% block title %}
  <title>WHG v3.0a</title>
{% endblock %}

{% block maplibre %}
  <script type="text/javascript">
    const loadMaplibre = true;
  </script>
  <link href="{% static 'webpack/whg_maplibre.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_head %}
  <link href="{% static 'webpack/home.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

  <div class="container mt-1" style="min-height: calc(100vh - 210px);">
  
	<div class="w-100 text-center">
	  <div class="row mx-auto mb-2">
	    <div class="d-flex mb-2 mb-lg-0 align-items-center justify-content-center">
	      <img src="{% static 'images/whg_logo.svg' %}" class="logo_responsive d-none d-lg-inline-block align-bottom me-2" height="80" width="80" alt=""/>
	      <h1 class="title_responsive d-lg-inline-block mb-0">World Historical Gazetteer</h1>
	    </div>
	    <p id="tagline_responsive" class="mb-0 mb-lg-2">linking knowledge about the past via place</p>
	  </div>
	</div>
	
	<div class="row mx-0 h-100">
		<div class="col-12 col-lg-4 mx-0 full-height-lg">
			<div class="row h-75 border p-2 mb-2 me-0 me-lg-1">
          		<p class="mb-0">The WHG is a collaborative open platform gathering information about historical place, and providing a
	            collection of content and services that permit world historians, their students, and the general public to
	            do spatial and temporal reasoning and visualization at global and trans-regional scales.</p>
	            <p class="bg-light mb-0 mt-1"><b>What is a gazetteer?</b></p>
	            <p>An index of place information. People have made them for a long time. They do it because place names are complicated and places are cool. <a href="#">more...</a></p>
	            {% comment %}{% if not user.is_authenticated %}{% endcomment %}
	              <p my-0><a href="{% url 'accounts:register' %}">Register to get started</a></p>
	            {% comment %}{% endif %}{% endcomment %}			
			</div>
			<div class="row h-25 border p-2 mb-2 mb-lg-0 me-0 me-lg-1">
	            <p class="mb-0 red-head">ANNOUNCEMENTS</p>
	            <div id="announcement-container" class="mb-0">
	                {% for announcement in announcements|slice:":3" %}
	                    <div class="announcement" {% if not forloop.first %}style="display: none;"{% endif %}>
	                        <a href="{{ announcement.link }}" target="_blank">
	                          <i class="fas fa-external-link-alt small"></i> {{ announcement.headline }}
	                        </a>
	                        <span class="ms-2">{{ announcement.content }}</span>
	                    </div>
	                {% endfor %}
	            </div>			
			</div>
		</div>
		
		<div class="col-12 col-lg-4 mx-0">
			<div class="h-60 mx-0 mx-lg-1 mb-2 map-container">
	          <div id="map"></div>
	          <div id="search_map" class="input-group input-group-sm mb-3 shadow-sm">
	            <input type="search" class="form-control" placeholder="Enter a place name"
	                   aria-label="Search places" aria-describedby="addon-wrapping">
	            <span class="input-group-text" id="addon-wrapping">
						  <a href="#" id="a_search"><i class="fas fa-search"></i></a>
					  </span>
	          </div>		
			</div>
			<div id="carousel-outer-container" class="border mx-0 mx-lg-1 mb-2 mb-lg-0 h-40">	
		        <!-- Populated dynamically in JavaScript -->
			</div>
		</div>
		
		<div class="col-12 col-lg-4 mx-0 full-height-lg">
			 <div class="h-33 border p-2 mb-2 ms-0 ms-lg-1 home-button">
			   <div>
			     <div class="home-icon-row">
			       <img src="{% static 'images/001-binoculars.png' %}" class="" height=40 width=40 alt=""/>
			     </div>
			     <h5><span class="home-button-hilite">Search and browse</span> <span class="red-head">
			{{ count }}</span> published place attestations</h5>
			   </div>
			   <a href="{% url 'search-page' %}">
			     <span class="link-spanner"></span>
			   </a>
			 </div>
			 <div class="h-33 border p-2 mb-2 ms-0 ms-lg-1 home-button">
			   <div>
			     <div class="home-icon-row">
			       <img src="{% static 'images/001-up-arrow.png' %}" class="" height=40 width=40 alt=""/>
			       <img src="{% static 'images/003-browser.png' %}" class="ms-3" height=40 width=40 alt=""/>
			     </div>
			     <h5><span class="home-button-hilite">Upload, enhance, link, and publish</span> your place data</h5>
			   </div>
			   <a href="{% url 'pipeline' %}">
			     <span class="link-spanner"></span>
			   </a>
			 </div>
			 <div class="h-33 border p-2 mb-0 ms-0 ms-lg-1 home-button">
			   <div>
			     <div class="home-icon-row">
			       <img src="{% static 'images/008-collect.png'%}" class="" height=42 width=42 alt=""/></div>
			     <h5><span class="home-button-hilite">Gazetteer Workbench</span><br/>assemble and publish custom collections</h5>
			   </div>
			   <a href="{% url 'builder' %}">
			     <span class="link-spanner"></span>
			   </a>
			 </div>		
		</div>
	</div>
<!-- 	
    <div id="content_top" class="row gx-2 gy-2 mx-0 h-75">
      <div class="col-sm-3" id="intro">
        <div class="p-2 border h-100">
          <div class="mb-3">
          <p class="mb-0">The WHG is a collaborative open platform gathering information about historical place, and providing a
            collection of content and services that permit world historians, their students, and the general public to
            do spatial and temporal reasoning and visualization at global and trans-regional scales.</p>
            <p class="bg-light mb-0 mt-1"><b>What is a gazetteer?</b></p>
            <p>An index of place information. People have made them for a long time. They do it because place names are complicated and places are cool. <a href="#">more...</a></p>
            {% comment %}{% if not user.is_authenticated %}{% endcomment %}
              <p my-0><a href="{% url 'accounts:register' %}">Register to get started</a></p>
            {% comment %}{% endif %}{% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="border mb-1 h-75 bg-white" style="position: relative;">
          <div id="map"></div>
          <div id="search_map" class="input-group input-group-sm mb-3 shadow-sm">
            <input type="search" class="form-control" placeholder="Enter a place name"
                   aria-label="Search places" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping">
					  <a href="#" id="a_search"><i class="fas fa-search"></i></a>
				  </span>
          </div>
        </div>

        <div class="p-1 border bg-white smallish" style="height: 24%;">
            <p class="mb-0 red-head">ANNOUNCEMENTS</p>
            <div id="announcement-container" class="mb-0">
                {% for announcement in announcements|slice:":3" %}
                    <div class="announcement" {% if not forloop.first %}style="display: none;"{% endif %}>
                        <a href="{{ announcement.link }}" target="_blank">
                          <i class="fas fa-external-link-alt small"></i> {{ announcement.headline }}
                        </a>
                        <span class="ms-2">{{ announcement.content }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

      </div>
      <div class="col-sm-3">
       	<div id="carousel-outer-container" class="border mb-1 h-100">
        	Populated dynamically in JavaScript
      	</div>
      </div>
    </div> content_top

    <div id="content_bottom" class="row gx-2 gy-2 mx-0 h-25">
      <div class="col-sm-3 p-1 home-button">
        <div class="h-100 border p-1">
          <div class="home-icon-row">
            <img src="{% static 'images/001-binoculars.png' %}" class="" height=40 width=40 alt=""/>
          </div>
          <h5><span class="home-button-hilite">Search and browse</span> <span class="red-head">
					{{ count }}</span> published place attestations</h5>
        </div>
        <a href="{% url 'search-page' %}">
          <span class="link-spanner"></span>
        </a>
      </div>
      <div class="col-sm-3 p-1 home-button">
        <div class="h-100 border p-1">
          <div class="home-icon-row">
            <img src="{% static 'images/001-up-arrow.png' %}" class="" height=40 width=40 alt=""/>
            <img src="{% static 'images/003-browser.png' %}" class="ms-3" height=40 width=40 alt=""/>
          </div>
          <h5><span class="home-button-hilite">Upload, enhance, link, and publish</span> your place data</h5>
        </div>
        <a href="{% url 'pipeline' %}">
          <span class="link-spanner"></span>
        </a>
      </div>
      <div class="col-sm-3 p-1 home-button">
        <div class="h-100 border p-1">
          <div class="home-icon-row">
            <img src="{% static 'images/008-collect.png'%}" class="" height=42 width=42 alt=""/></div>
          <h5><span class="home-button-hilite">Gazetteer Workbench</span><br/>assemble and publish custom collections</h5>
        </div>
        <a href="{% url 'builder' %}">
          <span class="link-spanner"></span>
        </a>
      </div>
      <div class="col-sm-3 p-1 home-button">
        <div class="h-100 border p-1">
          <div class="home-icon-row">
            <img src="{% static 'images/011-teaching.png' %}" class="" height=42 width=42 alt=""/>
          </div>
          <h5><span class="home-button-hilite">Teaching</span> with WHG data</h5>
        </div>
        <a href="{% url 'teaching' %}">
          <span class="link-spanner"></span>
        </a>
      </div>
    </div> content_bottom
    
     -->
    <!-- Modal -->
    <div class="modal fade" id="homeModal" tabindex="-1"
         aria-labelledby="homeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="homeModalLabel">{ per-button title }</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="overflow-y: scroll;"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% csrf_token %} <!-- Used for Django POST requests -->
  <script type="text/javascript">
    var eswhg = "{{ es_whg|escapejs }}";
    let galleries = [
        {#['Contributed Data', "{% url 'datasets:dataset-gallery-type' gallery_type='datasets' %}"]#}
        ['Data Publications', "{% url 'datasets:dataset-gallery-type' gallery_type='datasets' %}"]
    ];
    let carouselMetadata = {{ carousel_metadata|safe }};
    let startCarousels = true; // Determines whether galleries are to be auto-cycled
    let repositionMap = true; // Determines whether map should fly to loaded datacollection
    let homeModalURL = "{% url 'modal-home' %}";
  </script>

{% endblock %}

{% block deferredScripts %}

  var scripts = [
  {
  src: '{% static 'webpack/whg_maplibre.bundle.js' %}',
  type: 'text/javascript',
  },
  {
  src: '{% static 'webpack/home.bundle.js' %}',
  type: 'module',
  },
  ]

{% endblock %}
