<div id="dl_licensing">
    <p>
        <sr>IMPORTANT LICENSING INFORMATION</sr>
        : Data made public in WHG by its creators are available under the Creative Commons
        Attribution 4.0 International (CC BY 4.0) License. They can be freely shared, re-used,
        and adapted, but "you <b>must</b> give appropriate credit, provide a link to the
        license, and indicate if changes were made." Please see <a
            href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY-NC 4.0
        details</a>; and <a data-whg-modal="/license/">WHG policy.</a> Citations are provided
        below. <b>By clicking download on this form, you are agreeing to those terms</b>.
    </p>
</div>