{% extends "main/base_webpack.html" %}
{% block title %}<title>WHG::Credits</title>{% endblock %}

{% block content %}
{% load static %}

<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <div class="row">
            <div id="credits_left" class="col-sm-9">
                <h3>Project overview</h3>
                <div>
                    <h5>Funding and awards</h5>
                </div>
                <p class="mb-1">
                    The project was initiated in 2017 under a 3-year Preservation and Access grant from the US National Endowment for the Humanities (NEH)
                    (<a href="https://securegrants.neh.gov/publicquery/main.aspx?f=1&amp;gn=PW-253719-17" target="_blank">PW‑253719‑17</a>).
                </p>
                <p class="mb-1">
                    In January, 2023 the project was awarded a 3-year Digital Humanities Advancement Grant from the NEH.
                </p>
                <p class="mb-1">
                    Since 2025, it has been supported by ongoing in-kind contributions from the
                    <a href="https://www.ishi.pitt.edu/" target="_blank">University of Pittsburgh Institute for Spatial History Innovation</a>.
                </p>
                <p class="mb-1">
                    From 2017-2025, it was supported by the
                    <a href="https://www.worldhistory.pitt.edu" target="_blank">University of Pittsburgh World History Center</a>.
                </p>
                <p class="mb-1">
                    Development of Version 2 in 2021 and further improvements in 2022 were generously supported by the
                    <a href="https://huc.knaw.nl/" target="_blank">KNAW Humanities Cluster</a> in the Netherlands.
                </p>
                <p class="mb-1">
                    The <a href="https://www.ucis.pitt.edu/asc/" target="_blank">Asian Studies Center at Pitt</a> has supported development of the
                    <b>Teaching with WHG</b> section of the site and the Place Collection feature introduced in v2.1
                </p>
                <p class="mb-1">
                    The <a href="https://www.ucis.pitt.edu/crees/" target="_blank">Center for Russian, East European, and Eurasian Studies</a> at Pitt</a> has supported development of the Dataset Collection feature and exemplar data in that broad region.
                </p>
                <p>
                    World Historical Gazetteer received the 2021 "<b>Best DH Tool or Suite of Tools Award</b>" from
                    <a href="http://dhawards.org/dhawards2021/results/" target="_blank">Digital Humanities Awards</a>
                </p>
                <div class="row">
                    <div class="col-sm-10">
                        <h5>Current Project Team</h5>
                        <p class="mb-0">
                            <a href="https://www.ishi.pitt.edu/people/ruth-mostern" target="_blank" rel="noopener">
                                <strong>Ruth Mostern</strong></a>, Principal Investigator and Project Director
                        </p>
                        <p class="mb-0">
                            <a href="https://bit.ly/m/stephen_gadd" target="_blank" rel="noopener">
                                <strong>Stephen Gadd</strong></a>, Technical Director & Lead Developer
                        </p>
                        <p class="mb-0">
                            <a href="https://www.ishi.pitt.edu/people/alexandra-straub" target="_blank" rel="noopener">
                                <strong>Alexandra Straub</strong></a>, Project Manager
                        </p>
                          <p class="mb-0">
                            <a href="https://ishi.pitt.edu/people/palak-vashist" target="_blank" rel="noopener">
                                <strong>Palak Vashist</strong></a>, Editorial Manager
                        </p>
                        <p class="mb-0">
                            <a href="http://kgeographer.org/cv/" target="_blank" rel="noopener">
                                <strong>Karl Grossner</strong></a>, Founding Technical Director
                        </p>
                        <p class="mb-0">
                            <a href="https://www.ucis.pitt.edu/main/staff-bio/Catherine-Fratto" target="_blank">
                                <strong>Catherine Fratto</strong></a>, Teacher Workshop Coordinator & Educational Content Development
                        </p>
                        <p class="mt-3 mb-1 ital" style="display: block; background-color: aliceblue">
                            Student Research Assistant Team, 2024-2025
                        </p>
                        <p class="mb-0">Audrey Wolyniec, Justin Piel, Louise Matthews (REEES), Stanley Teng (Pitt Library)</p>
                    </div>
                    <div class="col-sm-2 pt-3"></div>
                </div>
                <h5 class="mt-3">Former Team Members</h5>
                <p class="mb-0"><strong>Jesse Obert</strong>, WHC Postdoctoral Fellow</p>
                <p class="mb-0">
                <p class="mb-0"><strong>Nathan Michalewicz</strong>, WHC Postdoctoral Fellow</p>
                <p class="mb-0">
                    <a href="https://susangrunewald.com/" target="_blank" rel="noopener">
                        <strong>Susan Grunewald</strong></a>, Associate, former Postdoctoral Fellow
                </p>
                <p class="mb-0">
                    <a href="http://rmhorne.org/" target="_blank" rel="noopener">
                        <strong>Ryan Horne</strong></a>, Associate, former Postdoctoral Fellow
                </p>
                <p class="mb-0">
                    <a href="https://patrickmanningworldhistorian.com/" target="_blank" rel="noopener">
                        <strong>Patrick Manning</strong></a>, Project Consultant
                </p>
                <p class="mb-0"><strong>David Ruvolo</strong>, Project Manager</p>
                <p class="mb-0"><strong>Matias Badino</strong>, Student Research Assistant</p>
                <p class="mb-0"><strong>Yiting Chen</strong>, Student Research Assistant</p>
                <p class="mb-0"><strong>Alec Story</strong>, Student Research Assistant</p>
                <p class="mb-0"><strong>Owen Knight</strong>, Student Research Assistant</p>
                <p><strong>James Sauls</strong>, Graduate Student Research Assistant</p>
                <div>
                    <h5>NEH Advisory Board 2017-2020</h5>
                    <p class="mb-0"><strong>Clifford Anderson</strong>, Vanderbilt University</p>
                    <p class="mb-0"><strong>Robert Batchelor</strong>, Georgia Southern University</p>
                    <p class="mb-0"><strong>Merrick Lex Berman</strong>, Independent Scholar</p>
                    <p class="mb-0"><strong>Christopher Chase-Dunn</strong>, University of California, Riverside</p>
                    <p class="mb-0"><strong>Tom Elliot</strong>, Institute for Study of the Ancient World, NYU</p>
                    <p class="mb-0"><strong>Ethan Gruber</strong>, American Numismatic Society</p>
                    <p class="mb-0"><strong>Leif Isaksen</strong>, University of Exeter</p>
                    <p class="mb-0"><strong>Katherine Hart</strong>, University of Pittsburgh, World History Center</p>
                    <p class="mb-0"><strong>Jane Landers</strong>, Vanderbilt University</p>
                    <p class="mb-0"><strong>Leo Lucassen</strong>, International Institute of Social History (IISG), NL</p>
                    <p class="mb-0"><strong>Bruno Martins</strong>, University of Lisbon</p>
                    <p class="mb-0"><strong>Adam Rabinowitz</strong>, University of Texas, Austin</p>
                    <p class="mb-0"><strong>Patricia Seed</strong>, University of California, Irvine</p>
                    <p class="mb-0"><strong>Ryan Shaw</strong>, University of North Carolina Chapel Hill</p>
                    <p class="mb-0"><strong>Rainer Simon</strong>, Austrian Institute of Technology</p>
                    <p class="mb-0"><strong>Rombert Stapel</strong>, International Institute of Social History (IISG), NL</p>
                    <p><strong>Richard Zijdeman</strong>, International Institute of Social History (IISG), NL</p>
                </div>
                <p class="mt-2">
                    The World Historical Gazetteer index contains information from
                    <a href="http://www.getty.edu/research/tools/vocabularies/tgn/" target="_blank">Thesaurus of Geographic Names (TGN)®</a> which is made available under the ODC Attribution License.
                </p>
                <div>
                    Icons used on this site include ones made by
                    <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a>,
                    <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>,
                    <a href="https://www.freepik.com" title="Freepik">Freepik</a>,
                    <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>,
                    <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>,
                    <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a>
                    <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>,
                    <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a>,
                    <a href="https://www.flaticon.com/authors/phatplus" title="iconhome">Icon home</a>,
                    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, and
                    <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
                    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </div>
            </div>
            <div id="credits_right" class="col-sm-3 pt-4">
                <p></p>
                <img src="{% static 'images/whc_logo250.png'%}" class="mb-4"/>
                <img src="{% static 'images/neh_logo_horizontal_rgb.jpg'%}" class=""/>
                <img src="{% static 'images/logo-knaw-humanities-cluster.png'%}" height=80 class="mt-2"/>
                <img src="{% static 'images/logo-asc-pitt.png'%}" width=215 class="mt-3"/>
                <img src="{% static 'images/logo-creees-pitt.png'%}" width=250 class="mt-3"/>
                <img src="{% static 'images/dhaward.png'%}" width=250 class="mt-5"/>
                <img src="{% static 'images/pelagioslogo_partner.svg'%}" height=80 class="mt-3"/>
            </div>
        </div>
    </div>
    <p style="min-height:30px;">&nbsp;</p>
</div>
{% endblock %}
