{% extends "main/base_webpack.html" %}
{% load static %}

{% block title %}
  <title>WHG v3.0a</title>
{% endblock %}

{% block maplibre %}
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

  <div class="container mt-1" style="min-height: calc(100vh - 210px);">
    <div id="banner" class="banner-bare w-100 my-1 p-2">
    <h1>Publications</h1>
    </div>
    <div id="content_top" class="row gx-2 gy-2 mx-0 h-75">
    </div> <!-- content_top -->

    <div id="content_bottom" class="row gx-2 gy-2 mx-0 h-25">
    </div> <!-- content_bottom-->

{% endblock %}

{% block deferredScripts %}

  var scripts = [
  ]

{% endblock %}
