<h4>Terms of Use</h4>
<p>Uploaded data is held in the WHG database and visible only to the dataset creator unless and until it is flagged as
    "public." Once flagged as public, it becomes discoverable (but never editable) via our Search page and Database API.
    When a dataset is accessioned&mdash;a separate and distinct step from uploading&mdash;its records become accessible
    <i>in sets of close matches</i> via Search and a separate Index API.</p>
<p>All reasonable care is taken to ensure that the system is available 24/7 and that uploaded data is preserved through
    regular backups. However, we make no guarantees about access to the site and services, nor about the contents held
    in the system. We do not accept liability for any loss of data. Users are encouraged to download and maintain copies
    of uploaded datasets, especially if and when they are augmented in the system.</p>
<p>The World History Center at the University of Pittsburgh provides free access to the World Historical Gazetteer as a
    pilot and proof of concept, which we hope (and expect) will become a vital part of the emerging linked historical
    data ecosystem.</p>
<p>By registering on this site, you agree to these terms.</p>
