{#{% extends "main/base_webpack.html" %}#}
{% extends "main/base.html" %}
{% load static %}

{% block title %}
  <title>WHG v3.0a</title>
{% endblock %}

{% block maplibre %}
{% endblock %}

{% block extra_head %}
  <style>
   h5 {
     padding-top: .8rem;
     font-weight: bold;
   }
   #content_top {
     overflow-y: auto;
   }
   #content_top p {
    text-indent: -.4em;
    padding-left: 1.2em;
     margin-bottom: .2rem;
   }
  </style>
{% endblock %}

{% block content %}
<div class="container mt-1" style="height: calc(100vh - 210px);">
  <div id="banner" class="w-100 mt-3"><h3>New in Version 3</h3></div>
  <p>We have been busy! The 2023 Digital Humanities Advancement Grant awarded by the National Endowment for the Humanities
    has allowed us to begin extending the promise of Versions 1 and 2, with many enhancements and new features.</p>
  <p>This is a "beta" release, in that we are actively seeking feedback from our users, especially on the new
  features, as we aim for a full release of v3.1 by year-end 2024. Please use our
    <a href="{% url 'contact' %}">contact form</a> for comments and suggestions!</p>
  <div id="content_top" class="">
    <h5>Home page</h5>
    <ul>
      <li>this</li>
      <li>that</li>
    </ul>
  </div> <!-- content_top -->

</div>
{% endblock %}

{% block deferredScripts %}

  var scripts = [
  ]

{% endblock %}
