{% extends "main/base_webpack.html" %}
{% load static %}
{% block title %}
  <title>WHG v3.0a</title>
{% endblock %}
{% block extra_head %}
  <style>
   h5 {
     padding-top: .8rem;
     font-weight: bold;
   }
   #content_top {
     overflow-y: auto;
   }
   #content_top p {
    text-indent: -.4em;
    padding-left: 1.2em;
     margin-bottom: .2rem;
   }
  </style>
{% endblock %}

{% block content %}
<div class="container mt-1">
  <div id="banner" class="w-100 mt-3"><h3>New in Version 3</h3></div>
  <p>We have been busy! The 2023 Digital Humanities Advancement Grant awarded by the National Endowment for the Humanities
    has allowed us to begin extending the promise of Versions 1 and 2, with many enhancements and new features.</p>
  <p>This is a "beta" release, in that we are actively seeking feedback from our users, especially on the new
  features, as we aim for a full release of v3.1 by year-end 2024. Please use our
    <a data-whg-modal="/contact_modal/">contact form</a> for comments and suggestions!</p>
  <div id="content_top" class="">
  <h5>Home page</h5>
  <ul>
    <li>New search option</li></li>
    <li>New carousel of featured published datasets and collections, with extents previewed on the map</li>
    <li>Simplified explanation of what the WHG platform offers</li>
    <li>News and announcements</li>
  </ul>
  <h5>Documentation</h5>
  <ul>
    <li>Single navigable documentation section with more guides and tutorials</li>
    <li>More help screens throughout the site</li>
  </ul>
  <h5>Maps</h5>
  <ul></li>
    <li>All 14 maps on the site have been significantly upgraded</li>
    <li>Most maps now have temporal controls: a timespan 'slider' and/or a sequence 'player'</li>
    <li>Faster display of large datasets and collections, thanks to WHG's own new map tile server
  </ul>
  <h5>Search</h5>
  <ul></li>
    <li>Options for 'starts with", "contains", "similar to" (aka fuzzy) as well as 'exact'</li>
    <li>Search is now across all published records - the previous "search the index or database" choice is gone!</li>
    <li>Spatial filter on search results</li>
    <li>More information returned in search result items
  </ul>
  <h5>Place Portal pages</h5>
  <ul></li>
    <li>Complete design makeover</li>
    <li>Physical geographic context: ecoregions, watersheds, rivers</li>
    <li>Nearby places</li>
    <li>Preview annotated collections that include the place
  </ul>
  <h5>Dataset creation and reconciliation</h5>
  <ul>
    <li>Reconciliation index now with 13.6 million records; we added 10 million from GeoNames to the existing 3.6 million from Wikidata</li>
    <li>Improved file upload validation</li>
  </ul>
  <h5>Publication and editorial workflow</h5>
  <ul></li>
    <li>We are now especially highlighting three types of publications: Datasets, annotated Place Collections, and Dataset Collections (soon with DOIs)</li>
    <li>Significantly enhanced presentation of published datasets and collections</li>
    <li>Enhanced metadata options for all publications</li>
    <li>Expanded Managing Editor role smoothing the workflow</li>
    <li>Improved tracking of contributors and data in the pipeline</li>
    <li>Improved download options
  </ul>
  <h5>Annotated Place Collections for teaching and workshops</h5>
  <ul></li>
    <li>Now supporting class and workshop scenarios</li>
    <li>Optional image per annotation</li>
    <li>Order places sequentially with or without dates</li>
    <li>Enhanced display and temporal control options</li>
    <li>Optional gallery per class</li>
    <li>Site-wide student gallery
  </ul>
  <h5>Dataset Collections</h5>
  <ul></li>
    <li>Link multiple datasets - and the places within them - in a single collection,
      <br/>e.g. a collaborating group or an individual can assemble a "Historical Gazetteer of {x}"
  </ul>
  <h5>"My Data" dashboard</h5>
  <ul></li>
    <li>Simpler single page dashboard
    <li>User profile page</li>
  </ul>
  <h5>Study Areas</h5>
  <ul></li>
    <li>Now supports non-contiguous areas, e.g. Iberian peninsula and S. America as a single area
  </ul>
  <h5>API and data downloads</h5>
  <ul></li>
    <li>Existing endpoints solidified</li>
    <li>Download options improved
  </ul>
  <h5>Codebase</h5>
  <ul></li>
    <li>Improved file upload validation and error reporting</li>
    <li>The codebase is now "containerized" with Docker—making it much easier to contribute to the platform's development</li>
    <li>Upgraded versions of all major components: Django, PostgreSQL, Elasticsearch, etc.</li>
    <li>All map-related functions refactored for efficiency and consistent appearance
  </ul>
</div> <!-- content_top -->

</div>
{% endblock %}
