{% extends "main/base_webpack.html" %}
{% load static %}
{% load dataset_extras %}

{% block title %}
  <title xmlns="http://www.w3.org/1999/html">WHG v3.0beta</title>
{% endblock %}

{% block extra_head %}
<link href="{% static 'webpack/workbench.bundle.css' %}" rel="stylesheet"/>
<style></style>
{% endblock %}

{% block content %}
<div class="container container-full-height">
  <div class="row mb-2">
    <div id="wb_title" class="col-12 fs-2 text-center">
      <span style="vertical-align: text-bottom;">
        <img src="{% static 'images/noun-workbench-6022067.svg' %}" class="whg-icon" height="40"/>
      </span>
      Gazetteer Workbench
    </div>
    <div id="wb_blurb" class="col-12 fs-6 text-center">
      <p class="mb-1">WHG offers three pathways for using its tools and services <br/>to augment and publish historical place data</p>
    </div>
  </div>
  <div id="wb_columns" class="row">
    <div class="col-4 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
          <span class="path-number d-block bg-lightgrey ps-1">1
            <span class="path-title">Individual Datasets</span>
            <span class="float-end me-1 hide-on-narrow">
              <img src="{% static 'images/noun-spreadsheet.svg' %}" height="26"/> </span>
          </span>
          <p class="ps-1 mb-1">Upload, augment and describe place data. You can download your augmented dataset for offline use in other software, and you can submit it for editorial review and publication in the WHG.</p>
        </div>
        <div class="quick-start">
        <mark-g-lite class="text-uppercase ps-1 small mt-3">quick start</mark-g-lite>
        {% if user.is_anonymous %}
          <ol>
            <li>Log in (register first if necessary)</li>
            <li>From your My Data dashboard, add a Dataset (<span class="")</li>
            <li>Instructions on the "Add dataset" form page will guide you</li>
          </ol>
        {% else %}
          <ol>
            <li>From your <a href="{% url 'dashboard-user' %}" target="_blank">My Data dashboard</a>, add a dataset</li>
          <li>Instructions on the "Upload dataset" form page will guide you</li>
          </ol>
        {% endif %}
        <div class="help-matches mt-2 ps-1" data-url="100-Tutorials.html#choosing-an-upload-data-format-lpf-or-lp-tsv">
          <a class="btn btn-sm btn-outline-primary">Learn more</a>
        </div>
        </div> <!-- quick-start -->
      </div>
    </div>
    <div class="col-4 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
          <span class="path-number d-block bg-lightgrey ps-1">2
            <span class="path-title">Multiple Datasets</span>
            <span class="float-end me-1 hide-on-narrow">
              <img src="{% static 'images/008-collect.png' %}" height="32"/></span>
          </span>
          <p>Gather multiple indexed datasets into a WHG <i>Dataset Collection</i>, link those records from each that refer
            to a single place, and publish the compiled information as a single gazetteer.</p>

        </div>
        <div class="quick-start">
          <mark-g-lite class="text-uppercase ps-1 small mt-3">quick start</mark-g-lite>
          <p class="mt-2 ms-1 smallish">See <b>Pathway 1</b>&mdash;Dataset Collections begin with individual datasets!</p>
          <div class="help-matches mt-4 ps-1" data-url="100-Tutorials.html#create-and-publish-a-dataset-collection">
          <a class="btn btn-sm btn-outline-primary">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 full-height workbench-column">
      <div class="workbench-column-inner">
        <div class="content-group">
          <span class="path-number d-block bg-lightgrey ps-1">3
            <span class="path-title">Place Collections</span>
            <span class="float-end me-1 hide-on-narrow ">
              <img src="{% static 'images/noun-spreadsheet.svg' %}" height="20"
                   style="margin-right:-8px;"/>
              <img src="{% static 'images/noun-anno-grey.svg' %}" height="30"/>
            </span>
          </span>
          <p class="ps-1 mb-1">Collect, sequence, annotate, and publish place records; or create
            collection building groups for teaching and collaboration.</p>
          <p class="mb-1"><a href="/collections/50/browse_pl" target="_blank">
              Example Place Collection</a></p>
          <p class="mb-1"><a data-whg-modal="/contact_modal/">Request <i>group leader</i> access</a></p>
          <div class="quick-start">
          <mark-g-lite class="text-uppercase ps-1 small mt-3">quick start</mark-g-lite>
          {% if user.is_anonymous %}
            <ol>
              <li>Log in (register first if necessary)</li>
              <li>From your My Data dashboard, add a Place Collection</li>
              <li>Instructions on the Place Collection Builder form page will guide you</li>
            </ol>
          {% else %}
            <ol>
              <li>From your <a href="{% url 'dashboard-user' %}" target="_blank">My Data dashboard</a>, add a Place Collection</li>
              <li>Instructions on the Place Collection Builder form page will guide you</li>
            </ol>
          {% endif %}

          <div class="help-matches mt-2 ps-1" data-url="100-Tutorials.html#create-and-publish-a-place-collection">
            <a class="btn btn-sm btn-outline-primary">Learn more</a>
          </div>
          </div> <!-- quick-start -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block deferredScripts %}
  var scripts = [
    {
    src: '{% static 'webpack/workbench.bundle.js' %}',
    type: 'text/javascript',
    }]
{% endblock %}