{% extends "base_email.html" %}

{% block content %}
    <p>Thank you for registering for the World Historical Gazetteer (WHG). You can look at our 
        <a href="https://whgazetteer.org/documentation/">Documentation</a> 
        to learn more about the services and features the platform provides.
    </p>
    
    <p>WHG is gathering contributions of place data - large and small, and for all regions and historical 
    	periods. WHG offers three pathways for using its tools and services to augment and publish historical 
    	place data in the <a href="https://whgazetteer.org/workbench/">Gazetteer Workbench</a>. By uploading individual 
    	datasets or multiple datasets, WHG provides services for geocoding place names, linking records for 
    	"closely matched" places, compiling multiple gazetteers, and on request, publishing contributed 
    	datasets and user-created collections. 
    </p>
    
    <p>The Place Collection feature enables building and publishing sets of user-annotated place records, 
	    accompanied by an explanatory essay, image, and links to external resources. The 
	    <a href="https://whgazetteer.org/teaching/">Teaching with WHG</a> section of the site is an excellent resource for 
	    teachers and students. Teachers can use its place information to develop lessons, use the 
	    Place Collection feature in the classroom, and to make custom maps for presentation in lectures. 
	    Teaching with WHG contains sample lesson plans that incorporate the platform.
    </p>
    
    <p>The WHG "union index" of place attestations drawn from multiple contributed datasets will over 
	    time increasingly link the disparate research of contributors on the dimension of place. Furthermore, 
	    by bringing together all the known references for a place without privileging any particular 
	    one, it decenters colonial name making.
    </p>

    <p>WHG is currently accepting dataset and place collection contributions, which can be published on the site. 
        If you would like to set up a consultation to discuss these in more detail, please drop us a line using the 
        Contact Form on the <a href="https://whgazetteer.org/">website</a>.
    </p>
{% endblock %}
