<!-- templates/announcements/announcement_list.html -->
{% extends 'main/base.html' %}
</style>
{% block content %}
  <div id="container" class="container mt-2">
    <h2>News and Announcements</h2>
    {% if is_whgadmin %}
    <p><a href="{% url 'announcement-create' %}">Create one</a></p>
    {% endif %}
    {% for announcement in announcements %}
      <div>
        <p>{{ announcement.created_at|date:"j F Y"}}<br/>
          <a href="{{ announcement.link }}" target="_blank">{{ announcement.headline }}</a>
          {{ announcement.content }}
          {% if is_whgadmin %}
          <span class="ms-3">
            <a href="{% url 'announcement-update' announcement.id %}">edit</a>
          </span>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
