.maplibregl-map {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 2s ease;
}

.overlay.left, .overlay.right {
  display: none; /* Hide until positioned */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
  pointer-events: auto;
}

.overlay.left {
	height: 20%;
	max-height: 250px;
}

.maplibregl-ctrl-attrib {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in {
  opacity: 1;
}

a[href="https://www.maptiler.com/"], a[href="https://maplibre.org/"] {
  /* Hide obtrusive logo" */
  display: none!important;
}

#mapOverlays{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 2px;
  pointer-events: none;
  height: 100%
}

#mapOverlays .column {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4px);
}

#mapOverlays .column.left {
  min-width: 50%; /* Do not allow map to be over-squeezed by .column.right flex width */
}

#mapOverlays .column.right {
  flex: 1 0 32%; /* Default width for right-hand column */
  overflow-x: auto; /* Engages if .column.left is squeezed to its min-width */
}

#mapOverlays .item {
  display: block;
  margin: 4px;
  height: 100%;
  position: relative;
}

#mapOverlays .item:last-child {
  margin-bottom: 0px;
}

#mapControls.item {
  border: none;
  pointer-events: none; /* Make the #mapControls transparent for map interaction */
}

#mapControls > div {
  position: absolute;
}

#mapControls * {
  pointer-events: auto; /* Restore mouse events for elements inside #mapControls */
}

#mapControls .maplibregl-ctrl, #mapControls #dateline {
	margin: 0;
}

#mapControls > div > .maplibregl-ctrl:not(:first-child) {
	margin: 4px 0 0 0;
}

.style-button {
	padding: 4px!important;
	float: right;
}

.style-button .maplibregl-ctrl-icon {
	background: url(../images/style-switcher.svg);
	background-size: contain;
}

/* Reset the default list styles */
.maplibre-styles-list,
.maplibre-styles-list ul,
.maplibre-styles-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style for the group names */
.group-item {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Style for the variant options */
.variant-item {
  cursor: pointer;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-weight: normal;
  padding: 0 6px 0 12px !important;
}

/* Style for the selected variant option */
.variant-item.selected {
  background-color: #007bff; /* Customize the background color for the selected style */
  color: white; /* Customize the text color for the selected style */
}

/* Add hover styles for the variant options */
.variant-item:hover {
  background-color: #dcdcdc; /* Customize the background color on hover */
}

/* Style for the scrollable list */
#mapStyleList {
  display: none;
  overflow-y: scroll;
  max-height: 150px;
  border: 1px solid #ccc; /* Add a border around the list */
  border-radius: 4px;
  padding: 4px;
  margin: 3px;
}

#mapStyleList.show {
    display: block;
}

/* Remove the default scrollbar style for webkit browsers */
#mapStyleList::-webkit-scrollbar {
  width: 8px;
}

#mapStyleList::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Customize the scrollbar thumb color */
  border-radius: 8px;
}

#mapStyleList::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Customize the scrollbar thumb color on hover */
}

#placetable_wrapper {
	overflow: hidden;
}

.dataTables_scrollBody {
	height: auto!important;
	max-height: 100%;
}